
.l-hidden{ display:none;}

/* -------------
   * 鏂囨湰妗�涓嬫媺妗�鏃ユ湡妗�璋冩暣鍣�*
* ------------- */

/* 鏂囨湰妗嗐�涓嬫潵妗嗐�鏃ユ湡妗嗐�璋冩暣鍣ㄩ兘浣跨敤鍒拌繖涓�*/
.l-text
{
    position:relative;
	z-index:1;
	width:150px; height:20px;
    line-height:20px; 
	border-top:solid 1px #a7b5bc; 
	border-left:solid 1px #a7b5bc; 
	border-right:solid 1px #ced9df; 
	border-bottom:solid 1px #ced9df; 

}

/*銆佹棩鏈熸鍒拌繖涓�*/
.ll-text
{
    position:relative;
	
	width:150px; height:20px;
    line-height:20px; 
	border-top:solid 1px #a7b5bc; 
	border-left:solid 1px #a7b5bc; 
	border-right:solid 1px #ced9df; 
	border-bottom:solid 1px #ced9df; 
	margin-left:35px;

}

.l-text-invalid{ border-color:#FF8801;}
/*鍙鏃惰竟妗�/
.l-text-disabled
{
    border-color:#C2C2C2!important;
    background:#E0E0E0!important;
}
/*鍙鏃舵枃鏈*/
.l-text-disabled .l-text-field{
	background:#E0E0E0!important;
}
/* 缂栬緫鐘舵� */
.l-text-editing
{
     
}

/* 琛ㄥ崟鏂囨湰妗�input:text */
.l-text-field
{
    position:absolute; top:0px; left:0px;
    width:120px; 
    border:0; margin:0; outline:none;
}
/* 琛ㄥ崟鏂囨湰妗�鍐呭涓虹┖鏃�*/
.l-text-field-null
{ color:#C1C1C1;
}

/* -------------
  * 涓嬫媺妗�*
* ------------- */
/* 涓嬫媺妗�璋冩暣鍣�鍙充晶閭ｄ釜鍙偣鍑荤殑鍖哄煙 鍒嗗埆鏄櫘閫氥�缁忚繃銆佹寜浣忕姸鎬�*/
.l-trigger,.l-trigger-hover,.l-trigger-pressed
{
    cursor:pointer;
    position:absolute;
    top:1px;right:1px;
    width:16px;height:16px;
    overflow:hidden;
}

.l-trigger
{
    border:1px solid #AECAF0; 
    background:#DBEBFF url('../images/lookup/bg-trigger.gif') repeat-x left;
}
.l-trigger-hover
{
    border:1px solid #EABE4E; 
    background:#fedc75 url('../images/lookup/bg-trigger-over.gif') repeat-x left;
}
.l-trigger-pressed
{
    border:1px solid #EABE4E; 
    background:#fedc75 url('../images/lookup/bg-trigger-pressed.gif') repeat-x left;

}
/* 涓嬫媺妗�鍙充晶閭ｄ釜鍙偣鍑荤殑鍖哄煙閲岄潰鐨勫浘鏍�*/
.l-trigger-icon
{	width:100%;
	height:100%;
    background:url('../images/lookup/icon-down.gif') no-repeat 50% 50%;
}

.l-box-select-grid{border-bottom:1px solid #A3C0E8;border-right:1px solid #A3C0E8;}
.l-box-select-grid thead td,.l-box-select-grid tr.l-table-headerow td{ 
background:#DBEBFF url('../images/lookup/bg-panel-title.gif') repeat-x left; 
}
.l-box-select-grid td{padding:0;margin:0;height:22px; line-height:22px; border-left:1px solid #A3C0E8;border-top:1px solid #A3C0E8; }
 
.l-box-select
{
    display:none;
    position:absolute; padding:0px;  
    border:1px solid #AECAF0; background:white;
    width:130px; height:120px;
    margin-top:1px;
    z-index:103; font-size:12px; line-height:18px;
}
.l-box-select-absolute
{
    margin-top:0px;
}
.l-box-select-inner{ margin:0; padding:0; width:100%;overflow:auto; height:100%;color:#333;}
.l-box-select-inner .l-box-select-table{margin:0; padding:0; width:100%; }
.l-box-select .l-table-nocheckbox td:hover,.l-box-select .l-table-nocheckbox td.l-over{ background-color:#FFE7A2; cursor:pointer;}
.l-box-select .l-table-nocheckbox td.l-selected{ background-color:#FFBD69;}
.l-box-select .l-box-select-table td{ padding:2px; text-align:left;}
/* 涓嬫媺妗�鍙充笅瑙掕皟鏁村ぇ灏忓浘鏍�*/
.l-btn-nw-drop
{
    position:absolute;
    right:0px;bottom:0px;
    width:8px; height:8px;background:url('../images/lookup/icon-drop.gif') no-repeat 50% 50%; 
}

/* -------------
    * 澶嶉�妗�*
* ------------- */
.l-checkbox-wrapper{
	display: -moz-inline-stack;display:inline-block; zoom: 1;*display: inline;margin:0 auto;margin-right:2px; padding:0;}
a.l-checkbox {
	background:url('../images/lookup/checkbox.gif') no-repeat 0 0;
	vertical-align: middle;
	height: 13px;  
	width: 13px; margin:0 auto;
	overflow:hidden;
	display: -moz-inline-stack;display:inline-block; zoom: 1;*display: inline;
}
div.l-disabled a.l-checkbox
{
    background-position:-39px 0;
}
div.l-disabled a.l-checkbox-checked
{
    background-position:-39px -13px;
}
a.l-checkbox-checked
{
    background-position:0 -13px;
}
.l-over a.l-checkbox
{
    background-position:-13px 0px;
}
.l-over a.l-checkbox-checked
{
    background-position:-13px -13px;
}
/* -------------
  * 琛ㄥ崟楠岃瘉 *
* ------------- 
.textInput, input.focus, input.required, input.error, input.readonly, input.disabled,
textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled { background:url(../img/form/input_bg.png) no-repeat scroll;}
*/
input.error, textarea.error { border-color:#F80C11 #FB7E81 #FB7E81 #F80C11;}
.l-verify-tip{ left:230px; top:120px;}
.l-verify-tip{ padding:0; margin:0;position:absolute; display:block;}
.l-verify-tip-corner{ padding:0; margin:0;position:absolute;background:url('../images/form/verify-corner.gif') no-repeat; width:8px; line-height:9px; height:9px; overflow:hidden; top:5px; left:0px; z-index:10001;}
.l-verify-tip-content{margin:0; position:absolute; left:7px;top:0px;border:1px solid #FFC340; background:#FFFCC7; z-index:10000; padding:4px 8px; width:100px; font-size:12px; }


/* -------------
  * 鏃ユ湡閫夋嫨妗�*
* ------------- */
.l-trigger-date
{
    cursor:pointer;
    position:absolute;
    top:1px;right:1px;
    width:16px;height:16px;
    overflow:hidden;
}

.l-trigger-date
{
    border:1px solid #AECAF0; 
    background:#DBEBFF url('../images/datepicker/calender.png') repeat-x left;
}

#calendar{margin:0; width:208px; z-index:1001; position:absolute; display:block; border:1px solid #B3E4EB; display:none;}
#calendar *{margin:0; padding:0; font-size:12px; line-height:18px}
#calendar .main{margin:auto; padding:2px; text-align:center; background:#ffffff; zoom:1; position:relative;}
#calendar .head{background:#EDF8FF; border:1px solid #BEE9F0}
#calendar .head select{width:60px;}
#calendar .body{margin:2px 0; padding:2px; clear:both; overflow:hidden; border:1px solid #BEE9F0;position:relative;}
#calendar .foot{background:#EDF8FF; border:1px solid #BEE9F0; text-align:right;padding:1px}
#calendar .nodate .head, #calendar .nodate .body{display:none;}
#calendar dl{clear:both; margin:auto; overflow:hidden;}
#calendar dt, #calendar dd, #calendar span{width:26px; height:18px; display:block; float:left; overflow:hidden;zoom:1; border:1px solid #fff;}
#calendar dt{margin-top:4px;font-weight:bold;color:#666666;}
#calendar .days dd{cursor:pointer;}
#calendar .days dd.other{color:#6A6AFF}
#calendar .days dd.slt{ background:#B3E4EB; border:1px solid #66CCCC;}
#calendar .days dd:hover{ border:1px solid #66CCCC;}
#calendar .days dd.disabled {background:#ccc;}
#calendar .close{width:16px;height:16px; font-size:16px; display:block;cursor:pointer;border:1px solid #CCC;text-align:center; }
#calendar .clearBut, #calendar .okBut { background-color: #CFEBEE; border: 1px solid #38B1B9; color: #08575B; width: 40px; }
#calendar .time{border-collapse:collapse;float:left;background-color:#fff;display:none;}
#calendar .time td{border:1px solid #61CAD0; line-height:16px; vertical-align:center;}
#calendar .time .hh, #calendar .time .mm, #calendar .time .ss{width:18px; height:16px; border: none}
#calendar .time ul {list-style:none}
#calendar .time .up, #calendar .time .down {font-size:8px;height:8px;line-height:100%;border:1px solid #BEE9F0;cursor:pointer;}
#calendar .tm {text-align:center;}
#calendar .tm .hh, #calendar .tm .mm, #calendar .tm .ss{border:1px solid #A3C6C8;position:absolute;left:4px;bottom:34px;background-color:#ffffc0;width:120px;display:none;}
#calendar .hh .hh, #calendar .mm .mm, #calendar .ss .ss{display:block;}
#calendar .tm .hh li, #calendar .tm .mm li, #calendar .tm .ss li{display:block;float:left;cursor:pointer;width:20px;line-height:21px}
#calendar .tm .hh li:hover, #calendar .tm .mm li:hover, #calendar .tm .ss li:hover{ background:#B3E4EB;}






/**  88**/
._tablecss{ line-height:35px; font-size:12px; width:45%; }
._tablecss select{ width:150px;}


.date_c{background:url(../img/calender.png);background-position:right;background-repeat: no-repeat;cursor:pointer;}

/** 鏍戝舰褰╁崟鏍峰紡 **/

.setFontCss{color:#ff0000;}
.tree{border:solid 1px #C1C1C1;height:auto;}
.tree .z_search{border-bottom:solid 1px #C1C1C1;width:100%;height:35px;}
.tree .z_search > input{height:20px;margin-top:5px;margin-left:5px;width:200px;border:1px solid #CCCCCC;float:left;line-height:28px;}
.tree .z_search .search_button{height:22px;width:60px;border:solid 1px #939393;float:left;margin-top:5px;margin-left:5px;background:#eee;line-height:24px;font-size:12px;cursor: pointer;}
.tree .z_display{width:100%;}
.tree .z_display .z_content{border:solid 0px;margin-top:10px;margin-left:10px;background:#ffffff;}