<!DOCTYPE html>
<html ng-app="info">
  <head>
    <title>应用管理-详情</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
     <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/zTree/sysmenu.css">
    
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../../../../resource/js/zTree/js/jquery.ztree.all-3.5.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery.cookie.js"></script>
    <script src="../../../../resource/js/date/js/eap.core.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src=""></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 引用控制层插件样式 -->
	<link rel="stylesheet" href="../../../../resource/css/zyfile/control/css/zyUpload.css" type="text/css">
	<!-- 引用核心层插件 -->
	<script type="text/javascript" src="../../../../resource/js/zyfile/core/zyFile.js"></script>
	<!-- 引用控制层插件 -->
	<script type="text/javascript" src="../../../../resource/js/zyfile/control/js/zyUpload.js"></script>
	<script type="text/javascript">
		
		var info = angular.module("info", []);
		info.controller("infoController",function($scope, $http) {
			
			//$scope.formData = {};
			
			//$scope.formData.visable=1;
			
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					//响应成功
					console.log(data);
					$scope.formData= data;
					var icon = $scope.formData.iconurl != null ? $scope.formData.iconurl : '';
					$("#img").zyUpload({
						width            :   "500px",                 // 宽度
						height           :   "176px",                 // 宽度
						itemWidth        :   "120px",                 // 文件项的宽度
						itemHeight       :   "150px",                 // 文件项的高度
						url              :   parent.sys.moreFileUrl,  // 上传文件的路径
						multiple         :   true,                    // 是否可以多个文件上传
						dragDrop         :   false,                    // 是否可以拖动上传文件
						del              :   true,                    // 是否可以删除文件
						finishDel        :   false, 				  // 是否在上传文件完成后删除预览
						acitionType:"view", //info页面显示用的
						uploadInput : $("#submit"),
						onComplete : function(responseInfo) {
							//submitForm(); // 上传完成的回调方法
							//$scope.onPreserved();
						}
					},{imgUrl:icon});
				}).error(function(data, status, headers, config){
					//处理响应失败
					response(status);
				});
			
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			
		})
		
		
		
	</script>
	<style type="text/css">
		.imgseat{top: 60px;left: 200px;position:absolute;}
	</style>
</head>
  
  <body ng-controller="infoController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
	        
	   		 <div class="input-group input-group-sm">
	            <span class="input-group-addon text-right spanwidth">应用名称</span>
	           	<input type="text" class="form-control required" placeholder="请输入应用名称" name="name" ng-model="formData.name"  disabled="disabled">
	        
	        </div>
	        <div class="input-group input-group-sm">
	            <span class="input-group-addon text-right spanwidth">应用图标</span>
	          	   <div id="img" class="img"></div>  
	    		<input type="hidden" id="icon" class="form-control inputchange"  ng-model="formData.iconurl"/>
	        </div>
	       
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">是否显示</span>
					<input type="text" class="form-control required"  name="visablename" ng-model="formData.visablename"  disabled="disabled">
	        	
	        </div>
	        <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">应用类型</span>
					<input type="text" class="form-control required"  name="visablename" ng-model="formData.typename"  disabled="disabled">
	        	
	        </div>
	        <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">应用排序</span>
				<input type="text" class="form-control required" placeholder="请输入类型名称" name="orderby" ng-model="formData.orderby"  disabled="disabled">
	        
	        </div>
	         <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">创建日期</span>
				<input type="text" class="form-control required"  name="create_time" ng-model="formData.create_time"  disabled="disabled">
	        
	        </div>
   		</div>
    </form>
    
  </body>
</html>
