<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("controller",function($scope, $http) {
			$scope.formData = {};
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data
				}).error(function(data, status, headers, config){
					response(status);
				});
			$scope.onReturn=function(){
				history.go(-1);
			}
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getFunctionLinksHref("self"),
    					method:'PUT',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			location.href="list.html";
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  <body ng-controller="controller">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-show="isPost">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-show="isCancel">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区ID" name="campusid" ng-model="formData.campusid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区名称" name="campusname" ng-model="formData.campusname" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区简称</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区简称" name="campusshortname" ng-model="formData.campusshortname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分公司ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入分公司ID" name="branchid" ng-model="formData.branchid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分公司名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入分公司名称" name="branchname" ng-model="formData.branchname" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分公司简称</span>
	           		<input type="text" class="form-control required" placeholder="请输入分公司简称" name="branchshortname" ng-model="formData.branchshortname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">大区ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入大区ID" name="regionid" ng-model="formData.regionid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">大区名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入大区名称" name="regionname" ng-model="formData.regionname" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">大区简称</span>
	           		<input type="text" class="form-control required" placeholder="请输入大区简称" name="regionshortname" ng-model="formData.regionshortname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总部ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入总部ID" name="hqid" ng-model="formData.hqid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总部名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入总部名称" name="hqname" ng-model="formData.hqname" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总部简称</span>
	           		<input type="text" class="form-control required" placeholder="请输入总部简称" name="hqshortname" ng-model="formData.hqshortname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">交付日期,校区开业日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入交付日期,校区开业日期" name="campusdeliverdate" ng-model="formData.campusdeliverdate" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校龄（月）</span>
	           		<input type="text" class="form-control required" placeholder="请输入校龄（月）" name="campusage" ng-model="formData.campusage" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">新签金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入新签金额" name="newchargeamount" ng-model="formData.newchargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">续费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入续费金额" name="renewamount" ng-model="formData.renewamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入退费金额" name="refundamount" ng-model="formData.refundamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
   		</div>
    </form>
  </body>
</html>
