<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>角色管理-详情</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet"href="../../../../resource/css/zTree/zTreeStyle/zTreeStyle.css"type="text/css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 时间 -->
    <link rel="stylesheet" type="text/css"href="../../../../resource/js/date/css/date.css">
    <script src="../../../../resource/js/date/js/eap.core.js"></script>
    <script src="../../../../resource/js/date/js/eap.util.date.js"></script>
    <script src="../../../../resource/js/date/js/eap.simpleDatepicker.js"></script>
    
  <!-- 树形控件 -->
    <script type="text/javascript"src="../../../../resource/js/validate/js/jqueryTree/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="../../../../resource/js/validate/js/jqueryTree/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js?skin=default"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
   
	<script type="text/javascript">
		
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
	//		var ids = UrlParm.parm("id");
		$scope.listData=function(){	
	   // 获取一级数据
			$http({
					url:parent.getFunctionLinksHref("self"),
					method:'GET',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
					data: ''				
					}).success(function(data, status, headers, config){
						//响应成功
						$scope.formData = data;
						$scope.code =data.type;
					
					}).error(function(data, status, headers, config){
						//处理响应失败
						response(status);
					});
		}
			$scope.accounttype=function(){
				$http({
					url:parent.getMenuLinksHref("accounttype"),
					method:'POST',
					dataType : "json",
					withCredentials: true,
					headers : {'Content-Type' : 'application/json;charset=UTF-8;'},
				   data :""
		  		}).success(function(data, status, headers, config){
		  			$scope.syss = data;
		  			
		  		}).error(function(data, status, headers, config){
					//处理响应失败
		  			response(status);
				})
					}
			
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}		
			$scope.listData();
			$scope.accounttype();
		});
		
	</script>
		
<style type="text/css">
.fontselect {
	border: 1px solid #ccc;
	background-color: #fff;
	background-image: none;
	color: #555;
	height: 30px;
	width: 80%;
}
</style>
</head>
  
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
   		     <div class="input-group input-group-sm">
				<input type="hidden" id="id" name="id" ng-model="formData.id" />
				<span class="input-group-addon text-right spanwidth">角色类型&nbsp;</span>
				<input type="text" id="name" name="name" value="{{formData.rolename}}"
					class="form-control required" disabled="disabled"> 
	       
			</div>

		
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;</span>
				<input type="text" class="form-control required" style="width: 55%;" name="url" value="{{formData.account}}"  maxlength="32" disabled="disabled">
			
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;</span>
				<input type="text" class="form-control required" style="width: 55%;" name="url" value="******"  maxlength="128" disabled="disabled">
			  
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">账号对应类型&nbsp;&nbsp;</span>
				<select class="form-control"  ng-model="code" ng-options="sys.code as sys.name for sys in syss" disabled="disabled">
				
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;&nbsp;</span>
				<input type="text" class="form-control required" style="width: 55%;" name="url"  value="{{formData.name}}" maxlength="20" disabled="disabled">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务&nbsp;&nbsp;</span>
				<input style="width: 55%; height: 30px;" type="text" id="position" value="{{formData.position}}" class="form-control dates" disabled="disabled">

			</div>
           <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">手&nbsp;机&nbsp;号&nbsp;&nbsp;</span>
				<input style="width: 55%; height: 30px;" type="text" id="position" value="{{formData.mobile}}" class="form-control dates" disabled="disabled">

			</div>
   		    <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱&nbsp;&nbsp;</span>
				<input style="width: 55%; height: 30px;" type="text" id="position" value="{{formData.mail}}" class="form-control dates" disabled="disabled">

			</div>
   		    <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日&nbsp;&nbsp;</span>
				<input style="width: 55%; height: 30px;" type="text" id="position" value="{{formData.birthday}}" class="form-control dates" disabled="disabled">

			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">身份证号&nbsp;&nbsp;</span>
				<input style="width: 55%; height: 30px;" type="text" id="position" value="{{formData.card_id}}" class="form-control dates" disabled="disabled">

			</div>
			
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">最后登录时间</span>
				<input style="width: 55%; height: 30px;" type="text" id="position" value="{{formData.lastlogin_time}}" class="form-control dates" disabled="disabled">

			</div>
   		</div>
    </form>
  </body>
</html>
