<!DOCTYPE html>
<html ng-app="add">
<head>
<title>角色管理-修改</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css" />
<!-- 基础js -->
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 表单验证 -->
<script src="../../../../resource/js/date/js/eap.core.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
<script type="text/javascript">
	var update = angular.module("add", []);
	update.controller("controller", function($scope, $http) {
		$scope.formData = {};
		// 获取一级数据
		$http({
			url : parent.getFunctionLinksHref("self"),
			method : 'GET',
			dataType : "json",
			withCredentials : true,
			headers : {
				'Content-Type' : 'application/json;charset=UTF-8;'
			},
			data : ''
		}).success(function(data, status, headers, config) {
			$scope.formData = data;
		}).error(function(data, status, headers, config) {
			response(status);
		});
		//返回
		$scope.onReturn = function() {
			history.go(-1);
		}
		//保存
		$scope.onPreserved = function() {
			var getpsw = $("#psw").val();
			if (getpsw != "******") {
				$scope.formData.psw = getpsw;
			} else {
				$scope.formData.psw = null;
			}
			$http({
				url : parent.getFunctionLinksHref("self"),
				method : 'PUT',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify($scope.formData)
			}).success(function(data, status, headers, config) {
				location.href = "list.html";
			}).error(function(data, status, headers, config) {
				//处理响应失败
				response(status);
			})

		}
		$scope.initcode = function() {
			$http({
				url : parent.getMenuLinksHref("admindictionarylist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify({"typecode" : 10 })
			}).success(function(data, status, headers, config) {
				$scope.selects = data;
			}).error(function(data, status, headers, config) {
				response(status);
			})
		}
		$scope.initcode();
	})
</script>
<style type="text/css">
.panel {
	margin-bottom: -5px;
}

.input-group-sm>i {
	position: absolute;
	left: 580px;
	top: 80px;
}
</style>
</head>

<body ng-controller="controller">
	<form method="post" id="saveForm" action="">
		<!-- 操作按钮操作区 -->
		<div class="col-lg-12 topActionPanel">
			<div>
				<button type="button" class="btn btn-primary" ng-click="onPreserved()"  ng-show="isPost">确 定</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-show="isCancel">返 回</button>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">账户</span> <input type="text" class="form-control required" style="width: 55%;" name="url"
					ng-model="formData.account" maxlength="32"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">密码</span> <input type="text" class="form-control required" style="width: 55%;" id="psw" name="psw"
					value="******" maxlength="128"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">类型</span> 
				<select class="form-control required" name="type" ng-model="formData.type" ng-options="data.dictionary.code as data.dictionary.name for data in selects">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">用户名</span> <input type="text" class="form-control required" style="width: 55%;"
					ng-model="formData.name" maxlength="20"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">手机号</span> <input class="form-control mobile" style="width: 55%; height: 30px;" type="text"
					name="mobile" id="mobile" ng-model="formData.mobile">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">邮箱</span> <input class="form-control email" style="width: 55%; height: 30px;" type="text"
					id="position" ng-model="formData.mail">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">身份证号</span> <input class="form-control idCard" style="width: 55%; height: 30px;" type="text"
					name="card_id" id="card_id" ng-model="formData.card_id">
			</div>
		</div>
	</form>
</body>
</html>
