<!DOCTYPE html>
<html ng-app="info">
  <head>
    <title>查看</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <!-- 初始化 -->
    <script type="text/javascript">
var info = angular.module("info", []);
info.controller("controller",function($scope, $http) {
	//返回
	$scope.onReturn=function(){
history.go(-1);
	}
	$http({
url:parent.getFunctionLinksHref("self"),
method:'GET',
dataType : "json",
withCredentials: true,
headers: {'Content-Type': 'application/json;charset=UTF-8;'},
data: ''
}).success(function(data, status, headers, config){
	$scope.formData= data;
}).error(function(data, status, headers, config){
	response(status);
});
})
	</script>
  </head>
  <body ng-controller="controller">
   <div class="col-lg-12 topActionPanel">
	        <div>
	    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
    </div>
    	</div>
   <div class="col-lg-6 viewFixedWidth">
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">年度</span>
           	<input type="text" class="form-control" value="{{formData.yearkey}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">季度</span>
           	<input type="text" class="form-control" value="{{formData.quarterkey}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">月份</span>
           	<input type="text" class="form-control" value="{{formData.monthkey}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">周</span>
           	<input type="text" class="form-control" value="{{formData.weekkey}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周开始日期</span>
           	<input type="text" class="form-control" value="{{formData.startdayofweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周结束日期</span>
           	<input type="text" class="form-control" value="{{formData.enddayofweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周开始日期</span>
           	<input type="text" class="form-control" value="{{formData.startdayoflastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周结束日期</span>
           	<input type="text" class="form-control" value="{{formData.enddayoflastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">大区ID</span>
           	<input type="text" class="form-control" value="{{formData.regionid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">大区</span>
           	<input type="text" class="form-control" value="{{formData.regionname}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">分公司ID</span>
           	<input type="text" class="form-control" value="{{formData.branchid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">分公司</span>
           	<input type="text" class="form-control" value="{{formData.branchname}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">校区ID</span>
           	<input type="text" class="form-control" value="{{formData.campusid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">校区</span>
           	<input type="text" class="form-control" value="{{formData.campusname}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额年度预算任务</span>
           	<input type="text" class="form-control" value="{{formData.nsataskyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额年度累计完成额</span>
           	<input type="text" class="form-control" value="{{formData.nsayear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额年度去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsayearlastyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额季度预算任务</span>
           	<input type="text" class="form-control" value="{{formData.nsataskquarter}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额季度累计完成额</span>
           	<input type="text" class="form-control" value="{{formData.nsaquarter}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额季度去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsaquarterlastyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额月度预算任务</span>
           	<input type="text" class="form-control" value="{{formData.nsataskmonth}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额月度累计完成额</span>
           	<input type="text" class="form-control" value="{{formData.nsamonth}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签金额月度去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsamonthlastyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数年度预算任务</span>
           	<input type="text" class="form-control" value="{{formData.nsntaskyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数年度累计完成</span>
           	<input type="text" class="form-control" value="{{formData.nsnyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数年度去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsnyearlastyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数季度预算任务</span>
           	<input type="text" class="form-control" value="{{formData.nsntaskquarter}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数季度累计完成额</span>
           	<input type="text" class="form-control" value="{{formData.nsnquarter}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数季度去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsnquarterlastyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数月度预算任务</span>
           	<input type="text" class="form-control" value="{{formData.nsntaskmonth}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数月度累计完成额</span>
           	<input type="text" class="form-control" value="{{formData.nsnmonth}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">累计新签人数月度去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsnmonthlastyear}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约金额任务</span>
           	<input type="text" class="form-control" value="{{formData.nsatasklastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约金额实际</span>
           	<input type="text" class="form-control" value="{{formData.nsalastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约金额原预计完成</span>
           	<input type="text" class="form-control" value="{{formData.nsaplanlastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约金额去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsayoylastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约人数任务</span>
           	<input type="text" class="form-control" value="{{formData.nsntasklastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约人数实际</span>
           	<input type="text" class="form-control" value="{{formData.nsnlastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约人数原预计完成</span>
           	<input type="text" class="form-control" value="{{formData.nsnplanlastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">上周签约人数去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsnyoylastweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周签约金额任务</span>
           	<input type="text" class="form-control" value="{{formData.nsataskthisweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周签约金额去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsayoythisweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周签约金额预计完成</span>
           	<input type="text" class="form-control" value="{{formData.nsaplanthisweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周签约人数任务</span>
           	<input type="text" class="form-control" value="{{formData.nsntaskthisweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周签约人数去年同期</span>
           	<input type="text" class="form-control" value="{{formData.nsnyoythisweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本周签约人数预计完成</span>
           	<input type="text" class="form-control" value="{{formData.nsnplanthisweek}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">潜在客户人数</span>
           	<input type="text" class="form-control" value="{{formData.potentialcustomernumber}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">预计可上门人数</span>
           	<input type="text" class="form-control" value="{{formData.verifynumberplan}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">预估签约人数</span>
           	<input type="text" class="form-control" value="{{formData.signnumberplan}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">预估签约金额</span>
           	<input type="text" class="form-control" value="{{formData.signamountplan}}" disabled>
           </div>
   	</div>
  </body>
</html>
