<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- datetime -->
	<script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.util.date.js"></script>	
	<!-- 初始化 -->
	<script type="text/javascript">
var add = angular.module("add", []);
add.controller("controller",function($scope, $http) {
	$scope.formData = {};
	$http({
url:parent.getFunctionLinksHref("self"),
method:'GET',
dataType : "json",
withCredentials: true,
headers: {'Content-Type': 'application/json;charset=UTF-8;'},
data: ''
}).success(function(data, status, headers, config){
	$scope.formData= data
}).error(function(data, status, headers, config){
	response(status);
});
	$scope.onReturn=function(){
history.go(-1);
	}
	$scope.onPreserved=function(){
var isValid = $("#saveForm").valid();
	if(isValid){
    $http({
    	url:parent.getFunctionLinksHref("self"),
    	method:'PUT',
    	dataType : "json",
    	withCredentials: true,
    	headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    	data: JSON.stringify($scope.formData)
      }).success(function(data, status, headers, config){
      	location.href="list.html";
      }).error(function(data, status, headers, config){
      	response(status);
	})
    	}
	}
	$scope.initselect = function() {
$http({
	url : parent.getMenuLinksHref("dictionarylist"),
	method : 'POST',
	dataType : "json",
	withCredentials : true,
	headers : {
'Content-Type' : 'application/json;charset=UTF-8;'
	},
	data : JSON.stringify([20])
	}).success(function(data, status, headers, config) {
$scope.selects = data;
	}).error(function(data, status, headers, config) {
response(status);
	})
}
	$scope.initselect();
})
	</script>
</head>
  <body ng-controller="controller">
  	<form method="post" id="saveForm" action="">
   <!-- 操作按钮操作区 -->
   <div class="col-lg-12 topActionPanel">
	        <div>
    	<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-if="buttons.post">确 定</button>
	    	</div>
	    	<div>
    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
	    	</div>
    	</div>
   <div class="col-lg-6">
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">组织机构ID</span>
	    <select class="form-control required" name="orgid" ng-model="formData.orgid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择组织机构ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">组织机构名称</span>
	           <input type="text" class="form-control required" placeholder="请输入组织机构名称" name="orgname" ng-model="formData.orgname" maxlength="128">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">组织机构类型</span>
	           <input type="text" class="form-control required" placeholder="请输入组织机构类型" name="orgtype" ng-model="formData.orgtype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">客户ID</span>
	    <select class="form-control required" name="customerid" ng-model="formData.customerid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择客户ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">划转时间</span>
	           <input type="text" class="form-control required" placeholder="请输入划转时间" name="transfertime" ng-model="formData.transfertime" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">划转原因</span>
	           <input type="text" class="form-control required" placeholder="请输入划转原因" name="transfermemo" ng-model="formData.transfermemo" maxlength="500">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">划转人ID</span>
	    <select class="form-control required" name="transferorid" ng-model="formData.transferorid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择划转人ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">划转人姓名</span>
	           <input type="text" class="form-control required" placeholder="请输入划转人姓名" name="transferorname" ng-model="formData.transferorname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">划转人岗位ID</span>
	    <select class="form-control required" name="transferorjobid" ng-model="formData.transferorjobid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择划转人岗位ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">划转人岗位名称</span>
	           <input type="text" class="form-control required" placeholder="请输入划转人岗位名称" name="transferorjobname" ng-model="formData.transferorjobname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">转至组织机构ID</span>
	    <select class="form-control required" name="toorgid" ng-model="formData.toorgid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择转至组织机构ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转至组织机构名称</span>
	           <input type="text" class="form-control required" placeholder="请输入转至组织机构名称" name="toorgname" ng-model="formData.toorgname" maxlength="128">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转至组织机构类型</span>
	           <input type="text" class="form-control required" placeholder="请输入转至组织机构类型" name="toorgtype" ng-model="formData.toorgtype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">创建人ID</span>
	    <select class="form-control required" name="creatorid" ng-model="formData.creatorid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择创建人ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建人姓名</span>
	           <input type="text" class="form-control required" placeholder="请输入创建人姓名" name="creatorname" ng-model="formData.creatorname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建时间</span>
	           <input type="text" class="form-control required" placeholder="请输入创建时间" name="createtime" ng-model="formData.createtime" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
   </div>
    </form>
  </body>
  <script type="text/javascript">
  $('#date').datetimepicker({
  	format : 'yyyy-mm-dd',
  	language : 'cn',
  	weekStart : 1,
  	minView : "month",
  	todayBtn : 1,
  	initialDate:new Date(),
  	autoclose : 1,
  	todayHighlight : 1,
  	startView : 2,
  	forceParse : 0,
  	showMeridian : 0
  });
</html>
