<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>新增</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("controller",function($scope, $http) {
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getMenuLinksHref("customeraccountmonthlystatpost"),
    					method:'POST',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			if(data == 1){
    		  				location.href="list.html";
    		  			}
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  
  <body ng-controller="controller">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-if="isPost">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
	    	</div>
    		</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分区表分区列</span>
	           		<input type="text" class="form-control required" placeholder="请输入分区表分区列" name="monthkey" ng-model="formData.monthkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员ID" name="customerid" ng-model="formData.customerid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员姓名" name="customername" ng-model="formData.customername" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期初账户价值</span>
	           		<input type="text" class="form-control required" placeholder="请输入期初账户价值" name="accountvaluebegin" ng-model="formData.accountvaluebegin" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期初账户余额</span>
	           		<input type="text" class="form-control required" placeholder="请输入期初账户余额" name="accountmoneybegin" ng-model="formData.accountmoneybegin" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">跨月充值（本月确认的上月充值）</span>
	           		<input type="text" class="form-control required" placeholder="请输入跨月充值（本月确认的上月充值）" name="chargeamountplmccm" ng-model="formData.chargeamountplmccm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月充值</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月充值" name="chargeamountcm" ng-model="formData.chargeamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月退订</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月退订" name="debookamountcm" ng-model="formData.debookamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月买赠返还</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月买赠返还" name="debookreturnamountcm" ng-model="formData.debookreturnamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月制度内退费</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月制度内退费" name="nerefundamountcm" ng-model="formData.nerefundamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月订购</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月订购" name="orderamountcm" ng-model="formData.orderamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月扣减</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月扣减" name="deductamountcm" ng-model="formData.deductamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月返还</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月返还" name="returnamountcm" ng-model="formData.returnamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期末账户余额</span>
	           		<input type="text" class="form-control required" placeholder="请输入期末账户余额" name="accountmoneyend" ng-model="formData.accountmoneyend" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期初可用金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入期初可用金额" name="assetsmoneybegin" ng-model="formData.assetsmoneybegin" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月课时删除后返还金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月课时删除后返还金额" name="dlreturnmoneycm" ng-model="formData.dlreturnmoneycm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">跨月课收（本月确认的上月课收）</span>
	           		<input type="text" class="form-control required" placeholder="请输入跨月课收（本月确认的上月课收）" name="assignamountplmccm" ng-model="formData.assignamountplmccm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月课收</span>
	           		<input type="text" class="form-control required" placeholder="请输入本月课收" name="assignamountcm" ng-model="formData.assignamountcm" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期末可用金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入期末可用金额" name="assetsmoneyend" ng-model="formData.assetsmoneyend" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期末账户价值</span>
	           		<input type="text" class="form-control required" placeholder="请输入期末账户价值" name="accountvalueend" ng-model="formData.accountvalueend" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	        </div>
    </form>
  </body>
</html>
