<!DOCTYPE html>
<html ng-app="info">
  <head>
    <title>查看</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <!-- 初始化 -->
    <script type="text/javascript">
		var info = angular.module("info", []);
		info.controller("controller",function($scope, $http) {
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data;
				}).error(function(data, status, headers, config){
					response(status);
				});
		})
	</script>
  </head>
  <body ng-controller="controller">
  		 <div class="col-lg-12 topActionPanel">
	        <div>
	    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
    		</div>
    	</div>
   		<div class="col-lg-6 viewFixedWidth">
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">ID</span>
           	<input type="text" class="form-control" value="{{formData.id}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">分区表分区列</span>
           	<input type="text" class="form-control" value="{{formData.monthkey}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">学员ID</span>
           	<input type="text" class="form-control" value="{{formData.customerid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">学员姓名</span>
           	<input type="text" class="form-control" value="{{formData.customername}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">期初账户价值</span>
           	<input type="text" class="form-control" value="{{formData.accountvaluebegin}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">期初账户余额</span>
           	<input type="text" class="form-control" value="{{formData.accountmoneybegin}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">跨月充值（本月确认的上月充值）</span>
           	<input type="text" class="form-control" value="{{formData.chargeamountplmccm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月充值</span>
           	<input type="text" class="form-control" value="{{formData.chargeamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月退订</span>
           	<input type="text" class="form-control" value="{{formData.debookamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月买赠返还</span>
           	<input type="text" class="form-control" value="{{formData.debookreturnamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月制度内退费</span>
           	<input type="text" class="form-control" value="{{formData.nerefundamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月订购</span>
           	<input type="text" class="form-control" value="{{formData.orderamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月扣减</span>
           	<input type="text" class="form-control" value="{{formData.deductamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月返还</span>
           	<input type="text" class="form-control" value="{{formData.returnamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">期末账户余额</span>
           	<input type="text" class="form-control" value="{{formData.accountmoneyend}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">期初可用金额</span>
           	<input type="text" class="form-control" value="{{formData.assetsmoneybegin}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月课时删除后返还金额</span>
           	<input type="text" class="form-control" value="{{formData.dlreturnmoneycm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">跨月课收（本月确认的上月课收）</span>
           	<input type="text" class="form-control" value="{{formData.assignamountplmccm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">本月课收</span>
           	<input type="text" class="form-control" value="{{formData.assignamountcm}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">期末可用金额</span>
           	<input type="text" class="form-control" value="{{formData.assetsmoneyend}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">期末账户价值</span>
           	<input type="text" class="form-control" value="{{formData.accountvalueend}}" disabled>
           </div>
   	</div>
  </body>
</html>
