<!DOCTYPE html>
<html ng-app="list">
  <head>
    <title>列表</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
   <!-- 弹出框 -->
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    <!-- 分页 -->
	<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <script type="text/javascript">
		var flag = true;
		var list = angular.module("list", []);
		list.controller("controller",function($scope, $http) {	
			$scope.toInfo=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="info.html";
			}
			$scope.toUpdate=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="update.html";
			}
			$scope.toDelete=function(data){	
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				parent.onPopupDelete();
			}
			$scope.onSearch=function(){
				$scope.pageList();
			}
			$scope.changePage=function(){
				$scope.pageList();
			}
			$scope.onAdd=function(){
				location.href="add.html";
			}
			$scope.pageList = function(){
				pageNo = parent.currentPage;
			    var data = {"name":$("#name").val()};
				$http({
					url:parent.getMenuLinksHref("accountchargeapplieslist"),
					method:'POST',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;',"pageNo":pageNo,"pageSize":pageSize,"orderby":"id","dir":"desc"},
					data: JSON.stringify(data)
					}).success(function(data, status, headers, config){
						totalCount = headers('totalCount');
						pageCount = headers('pageCount');
						$scope.datalist= data;
						paging();
						initPage();
					}).error(function(data, status, headers, config){
						response(status);
					});
			}
			$scope.pageList();
			$scope.onDelete = function(){
                $http({
					url:parent.getFunctionLinksHref("self"),
					method:'DELETE',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
					data: ""
					}).success(function(data, status, headers, config){
						$scope.pageList();
					}).error(function(data, status, headers, config){
						response(status);
					});
				}
		})
		
		function confirmDeletion(){
			var appElement = document.querySelector('[ng-controller=controller]');
			var $scope = angular.element(appElement).scope();
			$scope.onDelete();
		}
	</script>
  </head> 
  <body ng-controller="controller" style="color: #000;">
  	<!-- 基本操作区 -->
  	<h5>
  		<span class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ></span>
  		<input type="text" id="name" class="form-control" value="" placeholder="请输入需要查找的名称" style="width: 20%;display: inline;">
  		<i class="glyphicon glyphicon-remove" onclick="removeSearch()"></i>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onSearch()" ng-if="isSearchList">搜索</a>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onAdd()" ng-if="isSava">添加</a>
  	</h5>
  	<!-- 列表区 -->
  	<table class="table">
	  <thead>
	    <tr class="info">
	      <th>序号</th>
	      <th>ID</th>
	      <th>校区ID</th>
	      <th>校区名称</th>
	      <th>家长ID</th>
	      <th>家长姓名</th>
	      <th>学员ID</th>
	      <th>学员编码</th>
	      <th>学员姓名</th>
	      <th>学员当时年级</th>
	      <th>账户ID</th>
	      <th>账户编码</th>
	      <th>申请单号</th>
	      <th>申请状态（审批中，已完成，已拒绝）</th>
	      <th>备注</th>
	      <th>申请日期</th>
	      <th>申请人ID</th>
	      <th>申请人姓名</th>
	      <th>申请人岗位ID</th>
	      <th>申请人岗位名称</th>
	      <th>申请人岗位类型</th>
	      <th>异步处理状态（参考订购）</th>
	      <th>异步处理时间</th>
	      <th>异步处理说明</th>
	      <th>缴费类型（1-新签，11-新签回款，2-前期结课续费, 21-前期非结课续费，30-后期结课续费，31-后期非结课续费</th>
	      <th>缴费特殊标识(0-无,1-表示前期结课续费再续费)</th>
	      <th>应收金额</th>
	      <th>实收金额</th>
	      <th>支付状态（参考支付表）</th>
	      <th>最早支付时间</th>
	      <th>最早刷卡时间（用于计算新签回款时间使用）</th>
	      <th>系统记录的实际付款时间</th>
	      <th>充值前折扣ID</th>
	      <th>充值前折扣编码</th>
	      <th>充值前折扣基数</th>
	      <th>充值前折扣率</th>
	      <th>充值前账户价值</th>
	      <th>充值前账户余额</th>
	      <th>充值后折扣ID</th>
	      <th>充值后折扣编码</th>
	      <th>充值后折扣基数</th>
	      <th>充值后折扣率</th>
	      <th>充值后账户价值</th>
	      <th>充值后账户余额</th>
	      <th>咨询师ID</th>
	      <th>咨询师姓名</th>
	      <th>咨询师岗位ID</th>
	      <th>学管师ID</th>
	      <th>学管师姓名</th>
	      <th>学管师岗位ID</th>
	      <th>提交人ID</th>
	      <th>提交人姓名</th>
	      <th>提交人岗位ID</th>
	      <th>提交人岗位姓名</th>
	      <th>提交人岗位类型</th>
	      <th>提交时间</th>
	      <th>最后审批人ID</th>
	      <th>最后审批人姓名</th>
	      <th>最后审批人岗位ID</th>
	      <th>最后审批人岗位名称</th>
	      <th>最后审批时间</th>
	      <th>审核人ID</th>
	      <th>审核人姓名</th>
	      <th>审核人岗位ID</th>
	      <th>审核人岗位姓名</th>
	      <th>审核结果或状态（1-未审核，2-审核合格，3-审核不合格，4-复审合格）</th>
	      <th>审核时间</th>
	      <th>纸质档案是否提交审核部（是1，否0）</th>
	      <th>纸质档案正确无误（是1，否0）</th>
	      <th>纸质档案与系统一致（是1，否0）</th>
	      <th>打折、特殊价格申请符合要求（是1，否0）</th>
	      <th>其他项目符合要求（是1，否0）</th>
	      <th>创建人ID</th>
	      <th>创建人姓名</th>
	      <th>创建时间</th>
	      <th>最后修改人ID</th>
	      <th>最后修改人姓名</th>
	      <th>最后修改时间</th>
	      <th>所报科目信息</th>
	      <th>相关操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="data in datalist"  class='tr{{$index%2+2}}'  ng-class="{selected: $index==selectedRow}">
		    <td ng-dblclick="toInfo(data)">{{$index+1}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.id}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.campusid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.campusname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.parentid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.parentname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.customerid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.customercode}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.customername}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.customergrade}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.accountid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.accountcode}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applyno}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applystatus}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applymemo}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applierid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.appliername}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applierjobid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applierjobname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.applierjobtype}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.processstatus}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.processtime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.processmemo}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.chargetype}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.chargeflag}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.chargemoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.paidmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.paystatus}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.paytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.swipetime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.actualtime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thatdiscountid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thatdiscountcode}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thatdiscountbase}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thatdiscountrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thataccountvalue}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thataccountmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thisdiscountid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thisdiscountcode}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thisdiscountbase}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thisdiscountrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thisaccountvalue}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.thisaccountmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.consultantid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.consultantname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.consultantjobid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.educatorid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.educatorname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.educatorjobid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.submitterid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.submittername}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.submitterjobid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.submitterjobname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.submitterjobtype}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.submittime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.approverid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.approvername}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.approverjobid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.approverjobname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.approvetime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditorid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditorname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditorjobid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditorjobname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditstatus}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.audittime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditstate1}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditstate2}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditstate3}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditstate4}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.auditstate5}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.creatorid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.creatorname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.createtime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.modifierid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.modifiername}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.modifytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.accountchargeapplies.allotsubjects}}</td>
			<td>
	    		<h4 ng-click="toInfo(data)" class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ng-if="isShowInfo" title="查看"></h4>
	    		<h4 ng-click="toUpdate(data)" class="glyphicon glyphicon-pencil"  style="margin:0px 5px;color:#99DFF8;"  ng-if="isShowUpdate" title="修改"></h4>
	    		<h4 ng-click="toDelete(data)" class="glyphicon glyphicon-remove"  style="margin:0px 5px;color:#99DFF8;"  ng-if="isShowDelete" title="删除"></h4>
			</td>
	    </tr>
	  </tbody>
	</table>
 	<!-- 分页区 -->
	<div class="pagepanel">
		<span class="text-info" style="position:relative;top:-10px;">共<label id="totalCount"></label>条</span>
		<ul class="pagination" style="margin: 0px 10px;padding:0px;">
		</ul>
		<span class="text-info" style="position:relative;top:-10px;">第<label id="pageNo"></label>页/共<label id="pageCount"></label>页</span>
		<select id="pageSize" class="form-control" style="width: 70px;float: right;">
		</select>
		<span class="text-info" style="position:relative;top:6px;float: right;margin: 0px 5px;">每页显示</span>
	</div>
  </body>
</html>
