<!DOCTYPE html>
<html ng-app="add">
<head>
<title>新增</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- 基础样式 -->
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css" />
<!-- 基础js -->
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 表单验证 -->
<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
<!-- datetime -->
<script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.util.date.js"></script>
<!-- 初始化 -->
<script type="text/javascript">
	var add = angular.module("add", []);
	add.controller("controller", function($scope, $http) {
		$scope.formData = {};
		//返回
		$scope.onReturn = function() {
			history.go(-1);
		}
		//保存
		$scope.onPreserved = function() {
			var isValid = $("#saveForm").valid();
			if (isValid) {
				$scope.formData.branchid = parent.getCookie('branchid');
				$scope.formData.branchname = parent.getCookie('branchname');
				$scope.formData.creatorid = parent.getCookie('staffid');
				$scope.formData.creatorname = parent.getCookie('staffname');
				$http({
					url : parent.getMenuLinksHref("presentspost"),
					method : 'POST',
					dataType : "json",
					withCredentials : true,
					headers : {
						'Content-Type' : 'application/json;charset=UTF-8;'
					},
					data : JSON.stringify($scope.formData)
				}).success(function(data, status, headers, config) {
					$scope.formData.id = data;
					$('#myTab li:eq(1) a').tab('show');
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		}
		$scope.initselect = function() {
			$http({
				url : parent.getMenuLinksHref("dictionarylist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify([ 20 ])
			}).success(function(data, status, headers, config) {
				$scope.selects = data;
			}).error(function(data, status, headers, config) {
				response(status);
			})
		}
		$scope.initselect();

		//
		$scope.pageList = function() {
			if ($scope.formData.id == null || $scope.formData.id == undefined) {
				return;
			}
			pageNo = parent.currentPage;
			var data = {
				"presentid" : $scope.formData.id
			};
			$http({
				url : parent.getMenuLinksHref("presentitemslist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;',
					"pageNo" : pageNo,
					"pageSize" : pageSize,
					"orderby" : "id",
					"dir" : "desc"
				},
				data : JSON.stringify(data)
			}).success(function(data, status, headers, config) {
				totalCount = headers('totalCount');
				pageCount = headers('pageCount');
				$scope.datalist = data;
				paging();
				initPage();
			}).error(function(data, status, headers, config) {
				response(status);
			});
		}
		$scope.pageList();

		//保存
		$scope.onPreserved2 = function() {
			var isValid = $("#saveForm2").valid();
			if ($scope.formData.id == null || $scope.formData.id == undefined) {
				parent.art.dialog({
					content : '请先新增买赠信息',
					lock : true,
					ok : function() {
					},
					time : 2
				});
				return;
			}
			if (isValid) {
				$scope.formData2.presentid = $scope.formData.id;
				$http({
					url : parent.getMenuLinksHref("presentitemspost"),
					method : 'POST',
					dataType : "json",
					withCredentials : true,
					headers : {
						'Content-Type' : 'application/json;charset=UTF-8;'
					},
					data : JSON.stringify($scope.formData2)
				}).success(function(data, status, headers, config) {
					$scope.pageList();
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		}
		$scope.toDelete = function(data) {
			parent.setFunctionLinksHref(data.links == null ? data._links
					: data.links);
			parent.onPopupDelete();
		}

		$scope.onDelete = function() {
			$http({
				url : parent.getFunctionLinksHref("self"),
				method : 'DELETE',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : ""
			}).success(function(data, status, headers, config) {
				$scope.pageList();
			}).error(function(data, status, headers, config) {
				response(status);
			});
		}
	})

	function confirmDeletion() {
		var appElement = document.querySelector('[ng-controller=controller]');
		var $scope = angular.element(appElement).scope();
		$scope.onDelete();
	}
</script>
</head>
<body ng-controller="controller">
	<!-- 操作按钮操作区 -->
	<div class="col-lg-12 topActionPanel">
		<div>
			<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
		</div>
	</div>
	<div class="col-lg-12 topActionPanel1">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">买赠信息 </a></li>
			<li><a href="#fllow" data-toggle="tab">赠送条目</a></li>
		</ul>
	</div>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="home">
			<form method="post" id="saveForm" action="">
				<!-- 操作按钮操作区 -->
				<div class="col-lg-12 topActionPanel">
					<div>
						<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-if="buttons.post">确 定</button>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="input-group input-group-sm">
						<span class="input-group-addon text-right spanwidth">买赠名称</span> <input type="text" class="form-control required" placeholder="请输入折扣名称"
							name="presentname" ng-model="formData.presentname" maxlength="128"> <span class="input-group-addon verifyprompt">*</span>
					</div>
					<div class="input-group input-group-sm">
						<span class="input-group-addon text-right spanwidth">是否启用</span> <select class="form-control required" name="presentstatus"
							ng-model="formData.presentstatus" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
							<option value=''>请选择</option>
						</select> <span class="input-group-addon verifyprompt">*</span>
					</div>
				</div>
			</form>
		</div>
		<div class="tab-pane fade" id="fllow">
			<form method="post" id="saveForm2" action="">
				<!-- 操作按钮操作区 -->
				<div class="col-lg-12 topActionPanel">
					<div>
						<button type="button" class="btn btn-primary" ng-click="onPreserved2()" ng-if="buttons.post">确 定</button>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="input-group input-group-sm">
						<span class="input-group-addon text-right spanwidth">赠送数量</span> <input type="text" class="form-control required number" placeholder="请输入赠送数量"
							name="presentvalue" ng-model="formData2.presentvalue" maxlength=""> <span class="input-group-addon verifyprompt">*</span>
					</div>
					<div class="input-group input-group-sm">
						<span class="input-group-addon text-right spanwidth">标准基数</span> <input type="text" class="form-control required number" placeholder="请输入标准基数"
							name="presentstandard" ng-model="formData2.presentstandard" maxlength=""> <span class="input-group-addon verifyprompt">*</span>
					</div>
				</div>
				<div class="col-lg-6" style="top: 15px; left: 10px;">
					<table class="table">
						<thead>
							<tr class="info">
								<th>序号</th>
								<th>赠送数量</th>
								<th>标准基数</th>
								<th>相关操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in datalist" class='tr{{$index%2+2}}' ng-class="{selected: $index==selectedRow}">
								<td ng-dblclick="toInfo(data)">{{$index+1}}</td>
								<td ng-dblclick="toInfo(data)">{{data.presentitems.presentvalue}}</td>
								<td ng-dblclick="toInfo(data)">{{data.presentitems.presentstandard}}</td>
								<td>
									<h4 ng-click="toDelete(data)" class="glyphicon glyphicon-remove" style="margin: 0px 5px; color: #99DFF8;" ng-if="buttons.delete" title="删除"></h4>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
