<!DOCTYPE html>
<html ng-app="update">
  <head>
    <title>系统管理-修改</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
      <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link media="screen" rel="stylesheet" href="../../../../resource/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/zTree/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/zTree/sysmenu.css">
    
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../../../../resource/js/zTree/js/jquery.ztree.all-3.5.js"></script>
    
    
    <script src="../../../../resource/js/date/js/eap.core.js"></script>
	<!-- 表单验证 -->
	<link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	
	
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 时间控件 -->
    <script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js"></script>
   	<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
	<!-- 公共的 -->
	<script type="text/javascript" src="../../../../resource/js/util.js"></script>
	<!-- 引用控制层插件样式 -->
	<link rel="stylesheet" href="../../../../resource/css/zyfile/control/css/zyUpload.css" type="text/css">
	<!-- 引用核心层插件 -->
	<script type="text/javascript" src="../../../../resource/js/zyfile/core/zyFile.js"></script>
	<!-- 引用控制层插件 -->
	<script type="text/javascript" src="../../../../resource/js/zyfile/control/js/zyUpload.js"></script>
	<script type="text/javascript">
		
		var update = angular.module("update", []);
		update.controller("updateController",function($scope, $http) {
	//		var ids = UrlParm.parm("id");
			// 获取一级数据
			$scope.syslevel=function(){
			$http({
					url:parent.getFunctionLinksHref("self"),
					method:'GET',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
					data: ''				
					}).success(function(data, status, headers, config){
						//响应成功
					
						$scope.formData = data.sys;
						// 初始化插件
						$("#demo").zyUpload({
							width            :   "500px",                 // 宽度
							height           :   "120px",                 // 宽度
							itemWidth        :   "120px",                 // 文件项的宽度
							itemHeight       :   "100px",                 // 文件项的高度
							url              :   parent.configsys.moreFileUrl,  // 上传文件的路径
							multiple         :   false,                    // 是否可以多个文件上传
							dragDrop         :   false,                    // 是否可以拖动上传文件
							del              :   true,                    // 是否可以删除文件
							finishDel        :   false, 				  // 是否在上传文件完成后删除预览
							needFlage : "1", //是否必须选择文件 0是是，1是否 
							acitionType:"update", //update页面控制按钮隐藏
							uploadInput : $("#submit"),
							onComplete : function(responseInfo) {
								//submitForm(); // 上传完成的回调方法
								var appElement = document.querySelector('[ng-controller=updateController]');
								var $scope = angular.element(appElement).scope();
								$scope.onPreserved();
							}
						},{imgUrl:$scope.formData.icon,inputId:"icon"});
						
						$scope.leveldata = data.listsys;
						if(data.listsys.length == 0){
							$("#orhidden").hide();
						}
					}).error(function(data, status, headers, config){
						//处理响应失败
						response(status);
					});
			}
			$scope.syslevellist=function(){
				$http({
						url:parent.getMenuLinksHref("syslevellist"),
						method:'GET',
						dataType : "json",
						withCredentials: true,
						headers: {'Content-Type': 'application/json;charset=UTF-8;'},
						data: ''
						}).success(function(data, status, headers, config){
							//响应成功
							$scope.syss = data;
						}).error(function(data, status, headers, config){
							//处理响应失败					
							response(status);
						});
						}
			
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				initbind("updateController");
			//	$scope.formData.icon=$("#img_default").val();
		
    				$http({
    					url:parent.getFunctionLinksHref("self"),
    					method:'PUT',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			location.href="syslist.html";
    		  		}).error(function(data, status, headers, config){
						//处理响应失败
    		  			response(status);
					})
    			
			}
			//判断是否可选类型
			$scope.setIsShow = function(data){
				if($scope.formData.level != '31') {
					$("#orhidden").show();	
					$http({
						url:parent.getMenuLinksHref("level"),
						method:'GET',
						dataType : "json",
						data: ''
						}).success(function(data, status, headers, config){
							//响应成功
							$scope.leveldata = data;
						}).error(function(data, status, headers, config){
							//处理响应失败
							response(status);
						});
				} else {
					$("#orhidden").hide();
				}
			}
			$scope.syslevellist();
			$scope.syslevel();
		});
		
	
	
		
	</script>
		
</head>
  
  <body ng-controller="updateController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary"  id="submit">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
   		<div class="input-group input-group-sm">
	            <span class="input-group-addon text-right spanwidth">系&nbsp;&nbsp;统&nbsp;&nbsp;名&nbsp;&nbsp;</span>
	           	<input type="text" class="form-control required"  value="{{formData.name}}" name="name" ng-model="formData.name" maxlength="50">
	        	
	        </div>
	      
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">系统连接&nbsp;&nbsp;</span>
				<input type="text" class="form-control required" value="{{formData.url}}" name="url" ng-model="formData.url" maxlength="128">
	        </div>
	        <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">连&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接&nbsp;&nbsp;&nbsp;</span>
				<input type="text" class="form-control required" value="{{formData.linkUrl}}" name="linkUrl" ng-model="formData.linkUrl" maxlength="128">
	        </div>
	         <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片&nbsp;&nbsp;&nbsp;</span>
					<div id="demo" class="demo"></div>   
	    		<input type="hidden" id="icon" class="form-control inputchange"  ng-model="formData.icon"/>
	    		<span class="input-group-addon verifyprompt">*</span>
	        </div>
	         <!--  创建日期 --> 
	      <!--   <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">创建日期&nbsp;</span>
				<input style="width: 100%;height: 30px;" type="text" id="createtime" ng-model="formData.createtime" class="form-control dates" readonly="readonly">
			
	        </div>--> 
	      <!--  修改日期 
	       <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">修改日期&nbsp;&nbsp;</span>
			    <input style="width: 100%;height: 30px;" type="text" id="modifytime" ng-model="formData.modifytime" class="form-control dates" readonly="readonly">			
	        </div> 
	     	 --> 
	        <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">系统等级&nbsp;</span>
				<select class="form-control" ng-model="formData.level" ng-change="setIsShow(this)" ng-options="sys.code as sys.name for sys in syss">
					<option value="">请选择</option>
					
				</select>
	        </div>
	        <div class="input-group input-group-sm" id="orhidden">
				<span class="input-group-addon text-right spanwidth">父&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类&nbsp;&nbsp;&nbsp;</span>
				<select class="form-control" ng-model="formData.parent_id" ng-options="name.id as name.name for name in leveldata">
					<option value="">请选择</option>
					
				</select>
	        </div>
	       <div class="input-group input-group-sm" >
				<span class="input-group-addon text-right spanwidth" style="height: 150px;">备&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;</span>
			
                <textarea class="txtVal form-control" style="height:150px;" ng-model="formData.remark">{{formData.remark}}</textarea>
   		  </div>
   		</div>
    </form>
  </body>
  
</html>
