<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>新增</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("controller",function($scope, $http) {
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getMenuLinksHref("orderspost"),
    					method:'POST',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			if(data == 1){
    		  				location.href="list.html";
    		  			}
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  
  <body ng-controller="controller">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-show="isPost">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-show="isCancel">返 回</button>
	    	</div>
    		</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区ID" name="campusid" ng-model="formData.campusid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区名称" name="campusname" ng-model="formData.campusname" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">家长ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入家长ID" name="parentid" ng-model="formData.parentid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">家长姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入家长姓名" name="parentname" ng-model="formData.parentname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员ID" name="customerid" ng-model="formData.customerid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员编码</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员编码" name="customercode" ng-model="formData.customercode" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员姓名" name="customername" ng-model="formData.customername" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生年级</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生年级" name="customergrade" ng-model="formData.customergrade" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员年级</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员年级" name="customergradename" ng-model="formData.customergradename" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">账户ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入账户ID" name="accountid" ng-model="formData.accountid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">账户编码</span>
	           		<input type="text" class="form-control required" placeholder="请输入账户编码" name="accountcode" ng-model="formData.accountcode" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">订单号</span>
	           		<input type="text" class="form-control required" placeholder="请输入订单号" name="orderno" ng-model="formData.orderno" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">订购时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入订购时间" name="ordertime" ng-model="formData.ordertime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">订购种类（0-合同订单，1-拓路订单）</span>
	           		<input type="text" class="form-control required" placeholder="请输入订购种类（0-合同订单，1-拓路订单）" name="orderkind" ng-model="formData.orderkind" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">订购类型（1-常规订购，2-买赠订购，3-插班订购，4-补差兑换，5-不补差兑换）</span>
	           		<input type="text" class="form-control required" placeholder="请输入订购类型（1-常规订购，2-买赠订购，3-插班订购，4-补差兑换，5-不补差兑换）" name="ordertype" ng-model="formData.ordertype" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">订单状态（审批中，已完成，已拒绝）</span>
	           		<input type="text" class="form-control required" placeholder="请输入订单状态（审批中，已完成，已拒绝）" name="orderstatus" ng-model="formData.orderstatus" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">特殊折扣类型代码</span>
	           		<input type="text" class="form-control required" placeholder="请输入特殊折扣类型代码" name="specialtype" ng-model="formData.specialtype" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">特殊折扣说明</span>
	           		<input type="text" class="form-control required" placeholder="请输入特殊折扣说明" name="specialmemo" ng-model="formData.specialmemo" maxlength="500">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">异步处理状态</span>
	           		<input type="text" class="form-control required" placeholder="请输入异步处理状态" name="processstatus" ng-model="formData.processstatus" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">异步处理时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入异步处理时间" name="processtime" ng-model="formData.processtime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">异步处理描述</span>
	           		<input type="text" class="form-control required" placeholder="请输入异步处理描述" name="processmemo" ng-model="formData.processmemo" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">咨询师ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入咨询师ID" name="consultantid" ng-model="formData.consultantid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">咨询师姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入咨询师姓名" name="consultantname" ng-model="formData.consultantname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">咨询师岗位ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入咨询师岗位ID" name="consultantjobid" ng-model="formData.consultantjobid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学管师ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入学管师ID" name="educatorid" ng-model="formData.educatorid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学管师姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入学管师姓名" name="educatorname" ng-model="formData.educatorname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学管师岗位ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入学管师岗位ID" name="educatorjobid" ng-model="formData.educatorjobid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">提交人ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入提交人ID" name="submitterid" ng-model="formData.submitterid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">提交人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入提交人姓名" name="submittername" ng-model="formData.submittername" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">提交人岗位ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入提交人岗位ID" name="submitterjobid" ng-model="formData.submitterjobid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">提交人岗位名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入提交人岗位名称" name="submitterjobname" ng-model="formData.submitterjobname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">提交人岗位类型</span>
	           		<input type="text" class="form-control required" placeholder="请输入提交人岗位类型" name="submitterjobtype" ng-model="formData.submitterjobtype" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">提交时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入提交时间" name="submittime" ng-model="formData.submittime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后审批人ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后审批人ID" name="approverid" ng-model="formData.approverid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后审批人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后审批人姓名" name="approvername" ng-model="formData.approvername" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后审批人岗位ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后审批人岗位ID" name="approverjobid" ng-model="formData.approverjobid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后审批人岗位名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后审批人岗位名称" name="approverjobname" ng-model="formData.approverjobname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后审批时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后审批时间" name="approvetime" ng-model="formData.approvetime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">关联缴费申请单ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入关联缴费申请单ID" name="chargeapplyid" ng-model="formData.chargeapplyid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">关联缴费申请单描述</span>
	           		<input type="text" class="form-control required" placeholder="请输入关联缴费申请单描述" name="chargeapplymemo" ng-model="formData.chargeapplymemo" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建人ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建人ID" name="creatorid" ng-model="formData.creatorid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建人姓名" name="creatorname" ng-model="formData.creatorname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建时间" name="createtime" ng-model="formData.createtime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改人ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改人ID" name="modifierid" ng-model="formData.modifierid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改人姓名" name="modifiername" ng-model="formData.modifiername" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改时间" name="modifytime" ng-model="formData.modifytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	        </div>
    </form>
  </body>
</html>
