<!DOCTYPE html>
<html ng-app="add">
<head>
<title>新增</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- 基础样式 -->
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css" />
<!-- 基础js -->
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>

<!-- 表单验证 -->
<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
<!-- datetime -->
<script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.util.date.js"></script>
<!-- dialog -->
<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js?skin=default"></script>
<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
<!-- 初始化 -->
<script type="text/javascript">
	var add = angular.module("add", []);
	add.controller("controller", function($scope, $http) {
		$scope.formData = {};
		//返回
		$scope.onReturn = function() {
			history.go(-1);
		}
		//保存
		$scope.onPreserved = function() {
			var isValid = $("#saveForm").valid();
			if (isValid) {
				$scope.formData.rdorgid = $("#rdorgid").val();
				$scope.formData.rdorgname = $("#rdorgname").val();
				$scope.formData.startdate = $("#startdate").val();
				$scope.formData.enddate = $("#enddate").val();
				$scope.formData.creatorid = parent.getCookie('staffid');
				$scope.formData.creatorname = parent.getCookie('staffname');
				$scope.formData.perioddurationvalue = $("#periodduration option:selected").text();
				$scope.formData.lessondurationvalue = $("#lessonduration option:selected").text();
				$http({
					url : parent.getMenuLinksHref("productspost"),
					method : 'POST',
					dataType : "json",
					withCredentials : true,
					headers : {
						'Content-Type' : 'application/json;charset=UTF-8;'
					},
					data : JSON.stringify($scope.formData)
				}).success(function(data, status, headers, config) {
					if (data == 1) {
						location.href = "list.html";
					}
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		}
		$scope.initselect = function() {
			$http({
				url : parent.getMenuLinksHref("dictionarylist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify([ 20, 300, 400, 1210, 1900, 100, 2161, 2171, 2181, 2191 ])
			}).success(function(data, status, headers, config) {
				$scope.selects = data;
			}).error(function(data, status, headers, config) {
				response(status);
			})
		}

		$scope.initcatalog = function() {
			$http({
				url : parent.getMenuLinksHref("categorieslist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : ''
			}).success(function(data, status, headers, config) {
				$scope.catalogs = data;
			}).error(function(data, status, headers, config) {
				response(status);
			})
		}
		$scope.selectOrg = function() {
			artdialogIframe("../../dfgj/html/jobs/orglist.html", null, backfunctionorg, 900, 600, true);
		}

		$scope.initselect();
		$scope.initcatalog();

		$scope.onChange = function(data) {
			if (data == "21") {
				$("#promotionquota").attr("disabled", false);
			} else {
				$("#promotionquota").attr("disabled", "disabled");
			}

		}
	})

	function backfunctionorg() {
		if (parent.getDateChild().id != undefined) {
			$("#rdorgid").val(parent.getDateChild().id);
		}
		if (parent.getDateChild().name != undefined) {
			$("#rdorgname").val(parent.getDateChild().name);
		}
		parent.removeDateChild();
	}
</script>
</head>

<body ng-controller="controller">
	<form method="post" id="saveForm" action="">
		<!-- 操作按钮操作区 -->
		<div class="col-lg-12 topActionPanel">
			<div>
				<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-if="buttons.post">确 定</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group input-group-sm">
				<input type="hidden" id="rdorgid" ng-model="formData.rdorgid" /> <span class="input-group-addon text-right spanwidth">公司</span> <input type="text"
					id="rdorgname" name="rdorgname" ng-model="formData.rdorgname" readonly="readonly" class="form-control required" ng-click="selectOrg()"> <i
					id="type_name" ng-click="selectOrg()" class="glyphicon glyphicon-search" title="选择"></i><span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">课程名称</span> <input type="text" class="form-control required" placeholder="请输入产品名称" name="productname"
					ng-model="formData.productname" maxlength="128"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">课程类别</span> <select class="form-control required" name="catalog" ng-model="formData.catalog"
					ng-options="data.categories.id as data.categories.categoryname for data in catalogs">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">产品描述</span> <input type="text" class="form-control required" placeholder="请输入产品描述" name="productmemo"
					ng-model="formData.productmemo" maxlength="500"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">是否上架</span> <select class="form-control required" name="productstatus"
					ng-model="formData.productstatus" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">单价</span> <input type="text" class="form-control required number" placeholder="请输入单价"
					name="productprice" ng-model="formData.productprice" maxlength=""> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">成本</span> <input type="text" class="form-control required number" placeholder="请输入成本"
					name="productcost" ng-model="formData.productcost" maxlength=""> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">目标价格</span> <input type="text" class="form-control required number" placeholder="请输入目标价格"
					name="targetprice" ng-model="formData.targetprice" maxlength=""> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">目标单价描述</span> <input type="text" class="form-control required" placeholder="请输入目标单价描述"
					name="targetpricememo" ng-model="formData.targetpricememo" maxlength="255"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">学科</span> <select class="form-control required" name="subject" ng-model="formData.subject"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '400'}">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">年级</span> <select class="form-control required" name="grade" ng-model="formData.grade"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '300'}">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>

			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">年度</span> <select class="form-control required" name="year" ng-model="formData.year"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '1210'}">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">季度</span> <select class="form-control required" name="season" ng-model="formData.season"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '1900'}">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm" id="startdatehidden">
				<span class="input-group-addon text-right spanwidth">启售日期</span>
				<div class="input-group date form_datetime" id="startdatedate" style="width: 400px;" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input">
					<input class="form-control required" id="startdate" ng-model="formData.startdate" size="14" type="text" value="" readonly> <span
						class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				</div>
				<input type="hidden" id="dtp_input" value="" />
			</div>
			<div class="input-group input-group-sm" id="enddatehidden">
				<span class="input-group-addon text-right spanwidth">停售日期</span>
				<div class="input-group date form_datetime" id="enddatedate" style="width: 400px;" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input">
					<input class="form-control required" id="enddate" ng-model="formData.enddate" size="14" type="text" value="" readonly> <span
						class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				</div>
				<input type="hidden" id="dtp_input" value="" />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">允许买赠折扣</span> <select class="form-control required" name="presentallowed"
					ng-model="formData.presentallowed" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">允许优惠</span> <select class="form-control required" name="promotionallowed"
					ng-model="formData.promotionallowed" ng-change="onChange(formData.promotionallowed)"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
					<option value=''>请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">优惠限额</span> <input type="text" class="form-control number" placeholder="请输入优惠限额" id="promotionquota"
					name="promotionquota" ng-model="formData.promotionquota" maxlength="11" disabled>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">课次数量</span> <input type="text" class="form-control" placeholder="请输入课次数量" name="lessoncount"
					ng-model="formData.lessoncount" maxlength="">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">课时数量</span> <input type="text" class="form-control" placeholder="请输入课次课时数" name="periodsoflesson"
					ng-model="formData.periodsoflesson" maxlength="">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">课次时长</span> <select class="form-control" id="lessonduration" name="lessonduration"
					ng-model="formData.lessonduration" ng-options="data.code as data.name for data in selects  | filter: {typecode: '100'}">
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">课时时长</span> <select class="form-control" id="periodduration" name="periodduration"
					ng-model="formData.periodduration" ng-options="data.code as data.name for data in selects  | filter: {typecode: '100'}">
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">课程级别</span> <select class="form-control" name="courselevel" ng-model="formData.courselevel"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '2161'}">
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">辅导类型</span> <select class="form-control" name="coachtype" ng-model="formData.coachtype"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '2171'}">
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">班组类型</span> <select class="form-control" name="grouptype" ng-model="formData.grouptype"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '2181'}">
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">班级类型</span> <select class="form-control" name="classtype" ng-model="formData.classtype"
					ng-options="data.code as data.name for data in selects  | filter: {typecode: '2191'}">
					<option value=''>请选择</option>
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">开班人数</span> <input type="text" class="form-control" placeholder="请输入开班人数（班组用）" name="minpeoples"
					ng-model="formData.minpeoples" maxlength="">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">满班人数</span> <input type="text" class="form-control" placeholder="请输入满班人数（班组用）" name="maxpeoples"
					ng-model="formData.maxpeoples" maxlength="">
			</div>
		</div>
	</form>
</body>
<script type="text/javascript">
	$('#startdatedate').datetimepicker({
		format : 'yyyy-mm-dd',
		language : 'cn',
		weekStart : 1,
		minView : "month",
		todayBtn : 1,
		initialDate : new Date(),
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 0
	});

	$('#enddatedate').datetimepicker({
		format : 'yyyy-mm-dd',
		language : 'cn',
		weekStart : 1,
		minView : "month",
		todayBtn : 1,
		initialDate : new Date(),
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 0
	});
</script>
</html>
