<!DOCTYPE html>
<html ng-app="info">
<head>
<title>查看</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- 基础样式 -->
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<!-- 基础js -->
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 初始化 -->
<script type="text/javascript">
	var info = angular.module("info", []);
	info.controller("controller", function($scope, $http) {
		//返回
		$scope.onReturn = function() {
			history.go(-1);
		}
		$http({
			url : parent.getFunctionLinksHref("self"),
			method : 'GET',
			dataType : "json",
			withCredentials : true,
			headers : {
				'Content-Type' : 'application/json;charset=UTF-8;'
			},
			data : ''
		}).success(function(data, status, headers, config) {
			$scope.formData = data;
		}).error(function(data, status, headers, config) {
			response(status);
		});
	})
</script>
</head>
<body ng-controller="controller">
	<div class="col-lg-12 topActionPanel">
		<div>
			<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
		</div>
	</div>
	<div class="col-lg-6 viewFixedWidth">
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">公司</span> <input type="text" class="form-control" value="{{formData.rdorgname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">名称</span> <input type="text" class="form-control" value="{{formData.productname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">描述</span> <input type="text" class="form-control" value="{{formData.productmemo}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">是否上架</span> <input type="text" class="form-control" value="{{formData.productstatusname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">单价</span> <input type="text" class="form-control" value="{{formData.productprice}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">成本</span> <input type="text" class="form-control" value="{{formData.productcost}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">目标价格</span> <input type="text" class="form-control" value="{{formData.targetprice}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">目标单价描述</span> <input type="text" class="form-control" value="{{formData.targetpricememo}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">分类</span> <input type="text" class="form-control" value="{{formData.catalogname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">科目</span> <input type="text" class="form-control" value="{{formData.subjectname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">年级</span> <input type="text" class="form-control" value="{{formData.gradename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">年度</span> <input type="text" class="form-control" value="{{formData.yearname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">季度</span> <input type="text" class="form-control" value="{{formData.seasonname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">启售日期</span> <input type="text" class="form-control" value="{{formData.startdate}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">停售日期</span> <input type="text" class="form-control" value="{{formData.enddate}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">允许特殊折扣</span> <input type="text" class="form-control" value="{{formData.specialallowed}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">允许拓路折扣</span> <input type="text" class="form-control" value="{{formData.tunlandallowed}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">允许买赠折扣</span> <input type="text" class="form-control" value="{{formData.presentallowed}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">允许促销优惠</span> <input type="text" class="form-control" value="{{formData.promotionallowed}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">促销优惠限额</span> <input type="text" class="form-control" value="{{formData.promotionquota}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">创建人</span> <input type="text" class="form-control" value="{{formData.creatorname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">创建时间</span> <input type="text" class="form-control" value="{{formData.createtime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">最后修改人</span> <input type="text" class="form-control" value="{{formData.modifiername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">最后修改时间</span> <input type="text" class="form-control" value="{{formData.modifytime}}" disabled>
		</div>
	</div>
</body>
</html>
