<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>新增</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("controller",function($scope, $http) {
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getMenuLinksHref("customerbasestatpost"),
    					method:'POST',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			if(data == 1){
    		  				location.href="list.html";
    		  			}
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  
  <body ng-controller="controller">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-if="isPost">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
	    	</div>
    		</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth"></span>
	           		<input type="text" class="form-control required" placeholder="请输入" name="datekey" ng-model="formData.datekey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员ID" name="customerid" ng-model="formData.customerid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员状态的本地日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员状态的本地日期" name="statlocaldate" ng-model="formData.statlocaldate" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区ID" name="campusid" ng-model="formData.campusid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">咨询师ID(Customers数据库的CustomerStaffRelations)</span>
	           		<input type="text" class="form-control required" placeholder="请输入咨询师ID(Customers数据库的CustomerStaffRelations)" name="consultantid" ng-model="formData.consultantid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">咨询师名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入咨询师名称" name="consultantname" ng-model="formData.consultantname" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">咨询师OACode</span>
	           		<input type="text" class="form-control required" placeholder="请输入咨询师OACode" name="consultantoacode" ng-model="formData.consultantoacode" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学管师ID(Customers数据库的CustomerStaffRelations)</span>
	           		<input type="text" class="form-control required" placeholder="请输入学管师ID(Customers数据库的CustomerStaffRelations)" name="educatorid" ng-model="formData.educatorid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学管师名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入学管师名称" name="educatorname" ng-model="formData.educatorname" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学管师OACode</span>
	           		<input type="text" class="form-control required" placeholder="请输入学管师OACode" name="educatoroacode" ng-model="formData.educatoroacode" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">新签的金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入新签的金额(Customers数据库的AccountChargeApplies)" name="newchargeamount" ng-model="formData.newchargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">前期结课续费金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入前期结课续费金额(Customers数据库的AccountChargeApplies)" name="earlyendrenewamount" ng-model="formData.earlyendrenewamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">新签回款金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入新签回款金额(Customers数据库的AccountChargeApplies)" name="earlystudyrenew" ng-model="formData.earlystudyrenew" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">后期结课续费金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入后期结课续费金额(Customers数据库的AccountChargeApplies)" name="laterendrenew" ng-model="formData.laterendrenew" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">后期非结课续费金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入后期非结课续费金额(Customers数据库的AccountChargeApplies)" name="laterstudyrenew" ng-model="formData.laterstudyrenew" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">前期结课续费再续费(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入前期结课续费再续费(Customers数据库的AccountChargeApplies)" name="earlyendrenewamountagain" ng-model="formData.earlyendrenewamountagain" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总续费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入总续费金额" name="totalrenewamount" ng-model="formData.totalrenewamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总新签金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入总新签金额" name="totalnewchargeamount" ng-model="formData.totalnewchargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总充值金额（现金流）</span>
	           		<input type="text" class="form-control required" placeholder="请输入总充值金额（现金流）" name="totalchargeamount" ng-model="formData.totalchargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天新签的金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天新签的金额(Customers数据库的AccountChargeApplies)" name="dailynewchargeamount" ng-model="formData.dailynewchargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天前期结课续费金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天前期结课续费金额(Customers数据库的AccountChargeApplies)" name="dailyearlyendrenewamount" ng-model="formData.dailyearlyendrenewamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天新签回款金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天新签回款金额(Customers数据库的AccountChargeApplies)" name="dailyearlystudyrenew" ng-model="formData.dailyearlystudyrenew" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天后期结课续费金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天后期结课续费金额(Customers数据库的AccountChargeApplies)" name="dailylaterendrenew" ng-model="formData.dailylaterendrenew" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天后期非结课续费金额(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天后期非结课续费金额(Customers数据库的AccountChargeApplies)" name="dailylaterstudyrenew" ng-model="formData.dailylaterstudyrenew" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天前期结课续费再续费(Customers数据库的AccountChargeApplies)</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天前期结课续费再续费(Customers数据库的AccountChargeApplies)" name="dailyearlyendrenewamountagain" ng-model="formData.dailyearlyendrenewamountagain" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天总新签金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天总新签金额" name="dailytotalnewchargeamount" ng-model="formData.dailytotalnewchargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">每天总充值金额（现金流）</span>
	           		<input type="text" class="form-control required" placeholder="请输入每天总充值金额（现金流）" name="dailytotalchargeamount" ng-model="formData.dailytotalchargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度内在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0，IsPeriodRefund=1)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度内在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0，IsPeriodRefund=1)" name="regularinperiodrefundmoney" ng-model="formData.regularinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度内不在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0，IsPeriodRefund=0)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度内不在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0，IsPeriodRefund=0)" name="regularnotinperiodrefundmoney" ng-model="formData.regularnotinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度内正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度内正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0)" name="regularrefundmoney" ng-model="formData.regularrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度内在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0，IsPeriodRefund=1)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度内在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0，IsPeriodRefund=1)" name="irregularinperiodrefundmoney" ng-model="formData.irregularinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度内不在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0，IsPeriodRefund=0)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度内不在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0，IsPeriodRefund=0)" name="irregularnotinperiodrefundmoney" ng-model="formData.irregularnotinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度内坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度内坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0)" name="irregularrefundmoney" ng-model="formData.irregularrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度内退费的总金额，包括正常的和坏账的</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度内退费的总金额，包括正常的和坏账的" name="totalnormalrefundamount" ng-model="formData.totalnormalrefundamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度外在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=1)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度外在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=1)" name="extraregularinperiodrefundmoney" ng-model="formData.extraregularinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度外不在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=0)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度外不在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=0)" name="extraregularnotinperiodrefundmoney" ng-model="formData.extraregularnotinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度外正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度外正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1)" name="extraregularrefundmoney" ng-model="formData.extraregularrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度外在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=1)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度外在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=1)" name="extrairregularinperiodrefundmoney" ng-model="formData.extrairregularinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度外不在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=0)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度外不在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=0)" name="extrairregularnotinperiodrefundmoney" ng-model="formData.extrairregularnotinperiodrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度外坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1)</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度外坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1)" name="extrairregularrefundmoney" ng-model="formData.extrairregularrefundmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">制度外退费的总金额，包括正常的和坏账的</span>
	           		<input type="text" class="form-control required" placeholder="请输入制度外退费的总金额，包括正常的和坏账的" name="totalextrarefundamount" ng-model="formData.totalextrarefundamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">所有退费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入所有退费金额" name="totalrefundamount" ng-model="formData.totalrefundamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">折扣返还收入(Customers数据库的AccountRefundApplies的ReallowanceMoney汇总)</span>
	           		<input type="text" class="form-control required" placeholder="请输入折扣返还收入(Customers数据库的AccountRefundApplies的ReallowanceMoney汇总)" name="reallowancemoney" ng-model="formData.reallowancemoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">差价返还收入(Customers数据库的AccountRefundApplies的CompensateMoney汇总)</span>
	           		<input type="text" class="form-control required" placeholder="请输入差价返还收入(Customers数据库的AccountRefundApplies的CompensateMoney汇总)" name="compensatemoney" ng-model="formData.compensatemoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分区财务经理确认退费时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入分区财务经理确认退费时间" name="lastestrefundverifytime" ng-model="formData.lastestrefundverifytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍的员工(Customers数据库的Customers表)</span>
	           		<input type="text" class="form-control required" placeholder="请输入转介绍的员工(Customers数据库的Customers表)" name="referralstaffid" ng-model="formData.referralstaffid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍的客户(Customers数据库的Customers表)</span>
	           		<input type="text" class="form-control required" placeholder="请输入转介绍的客户(Customers数据库的Customers表)" name="referralcustomerid" ng-model="formData.referralcustomerid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">当前年级</span>
	           		<input type="text" class="form-control required" placeholder="请输入当前年级" name="currentgrade" ng-model="formData.currentgrade" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">入学年级</span>
	           		<input type="text" class="form-control required" placeholder="请输入入学年级" name="entrancegrade" ng-model="formData.entrancegrade" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总转出金额。AccountTransferApplies的TransferMoney，ApproveTime在区间内，TransferType=1</span>
	           		<input type="text" class="form-control required" placeholder="请输入总转出金额。AccountTransferApplies的TransferMoney，ApproveTime在区间内，TransferType=1" name="totalmoneytransferedout" ng-model="formData.totalmoneytransferedout" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">总转入金额。AccountTransferApplies的TransferMoney，ApproveTime在区间内，TransferType=2</span>
	           		<input type="text" class="form-control required" placeholder="请输入总转入金额。AccountTransferApplies的TransferMoney，ApproveTime在区间内，TransferType=2" name="totalmoneytransferedin" ng-model="formData.totalmoneytransferedin" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后转入到本校区时间。CustomerTransferApplies的ToCampusID为本记录校区，ApproveTime在区间内</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后转入到本校区时间。CustomerTransferApplies的ToCampusID为本记录校区，ApproveTime在区间内" name="lastesttransferedintime" ng-model="formData.lastesttransferedintime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后从本校区转出时间。CustomerTransferApplies的CampusID为本记录校区，ApproveTime在区间内</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后从本校区转出时间。CustomerTransferApplies的CampusID为本记录校区，ApproveTime在区间内" name="lastesttransferedouttime" ng-model="formData.lastesttransferedouttime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后上课时间，计算字段。根据一对一、班组以及其它课程中的最后时间计算出来</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后上课时间，计算字段。根据一对一、班组以及其它课程中的最后时间计算出来" name="lastestclasstime" ng-model="formData.lastestclasstime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后充值时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后充值时间" name="lastestpaytime" ng-model="formData.lastestpaytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最早充值时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入最早充值时间" name="earliestpaytime" ng-model="formData.earliestpaytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上门时间(Customers数据库的CustomerVerifies表)</span>
	           		<input type="text" class="form-control required" placeholder="请输入上门时间(Customers数据库的CustomerVerifies表)" name="verifytime" ng-model="formData.verifytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">周反馈时间(Customers数据库的CustomerReplies表)</span>
	           		<input type="text" class="form-control required" placeholder="请输入周反馈时间(Customers数据库的CustomerReplies表)" name="replytime" ng-model="formData.replytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">回访时间(Customers数据库的CustomerVisits表)</span>
	           		<input type="text" class="form-control required" placeholder="请输入回访时间(Customers数据库的CustomerVisits表)" name="visittime" ng-model="formData.visittime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教学服务会时间(Customers数据库的CustomerMeetings表)</span>
	           		<input type="text" class="form-control required" placeholder="请输入教学服务会时间(Customers数据库的CustomerMeetings表)" name="meetingtime" ng-model="formData.meetingtime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员状态（枚举-  正常-11，冻结-14（高三毕业9月后），解冻中-141）</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员状态（枚举-  正常-11，冻结-14（高三毕业9月后），解冻中-141）" name="studentstatus" ng-model="formData.studentstatus" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否高三毕业</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否高三毕业" name="graduated" ng-model="formData.graduated" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">账户价值Customer库Account的账户余额(AccountMoney，VS，VE)+ Order库的Assets的Price*Amount（VS，VE）</span>
	           		<input type="text" class="form-control required" placeholder="请输入账户价值Customer库Account的账户余额(AccountMoney，VS，VE)+ Order库的Assets的Price*Amount（VS，VE）" name="accountvalue" ng-model="formData.accountvalue" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">账户可用金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入账户可用金额" name="accountmoney" ng-model="formData.accountmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">账户订购余额</span>
	           		<input type="text" class="form-control required" placeholder="请输入账户订购余额" name="accountpriceandamount" ng-model="formData.accountpriceandamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课程课时数(Order库Assets表的Amount，CategoryType=1，VS，VE)</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课程课时数(Order库Assets表的Amount，CategoryType=1，VS，VE)" name="onetooneamountinasset" ng-model="formData.onetooneamountinasset" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组课程课时数(Order库Assets表的Amount，CategoryType=2，VS，VE)</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组课程课时数(Order库Assets表的Amount，CategoryType=2，VS，VE)" name="classgroupamountinasset" ng-model="formData.classgroupamountinasset" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">游学课程课时数(Order库Assets表的Amount，CategoryType=3，VS，VE)</span>
	           		<input type="text" class="form-control required" placeholder="请输入游学课程课时数(Order库Assets表的Amount，CategoryType=3，VS，VE)" name="youxueamountinasset" ng-model="formData.youxueamountinasset" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">其它课时数(Order库Assets表的Amount，CategoryType<>1、2、3，VS，VE)</span>
	           		<input type="text" class="form-control required" placeholder="请输入其它课时数(Order库Assets表的Amount，CategoryType<>1、2、3，VS，VE)" name="otheramountinasset" ng-model="formData.otheramountinasset" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">资产中的总课时数</span>
	           		<input type="text" class="form-control required" placeholder="请输入资产中的总课时数" name="totalamountinasset" ng-model="formData.totalamountinasset" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">课次时长(分钟)(Order库Assets表同名字段*Amount，VS，VE)</span>
	           		<input type="text" class="form-control required" placeholder="请输入课次时长(分钟)(Order库Assets表同名字段*Amount，VS，VE)" name="lessondurationvalue" ng-model="formData.lessondurationvalue" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">一对一课时收入(Order库Assigns视图ConfirmPrice*Amount，ConfirmTime，CategoryType=1)</span>
	           		<input type="text" class="form-control required" placeholder="请输入一对一课时收入(Order库Assigns视图ConfirmPrice*Amount，ConfirmTime，CategoryType=1)" name="onetooneassignedincome" ng-model="formData.onetooneassignedincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组课时收入(Order库Assigns视图ConfirmPrice*Amount，ConfirmTime，CategoryType=2)</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组课时收入(Order库Assigns视图ConfirmPrice*Amount，ConfirmTime，CategoryType=2)" name="classgroupassignedincome" ng-model="formData.classgroupassignedincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">课时收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入课时收入" name="assignedincome" ng-model="formData.assignedincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">游学收入(Assets表ConfirmMoney，ConfirmTime，CategoryType=3)</span>
	           		<input type="text" class="form-control required" placeholder="请输入游学收入(Assets表ConfirmMoney，ConfirmTime，CategoryType=3)" name="youxueincome" ng-model="formData.youxueincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">其它产品收入(Assets表ConfirmMoney，ConfirmTime，CategoryType not in 1,2,3)</span>
	           		<input type="text" class="form-control required" placeholder="请输入其它产品收入(Assets表ConfirmMoney，ConfirmTime，CategoryType not in 1,2,3)" name="otherproductincome" ng-model="formData.otherproductincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">非课时收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入非课时收入" name="otherincome" ng-model="formData.otherincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上课量(Order库Assigns视图Amount，ConfirmTime)</span>
	           		<input type="text" class="form-control required" placeholder="请输入上课量(Order库Assigns视图Amount，ConfirmTime)" name="assignedamount" ng-model="formData.assignedamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上课课收平均单价(Order库Assign的ConfirmPrice*Amount/SUM(Amount))，ConfirmTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入上课课收平均单价(Order库Assign的ConfirmPrice*Amount/SUM(Amount))，ConfirmTime" name="assignedavgunitprice" ng-model="formData.assignedavgunitprice" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">课收（含买赠返还）/本期已上课小时，[OM].[Assigns]视图中的[DurationValue] * [Amount] / 60</span>
	           		<input type="text" class="form-control required" placeholder="请输入课收（含买赠返还）/本期已上课小时，[OM].[Assigns]视图中的[DurationValue] * [Amount] / 60" name="assigneddurationhours" ng-model="formData.assigneddurationhours" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">一对一上课时间(Order库Assign的MAX(StartTime)，CategoryType=1，ConfirmTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入一对一上课时间(Order库Assign的MAX(StartTime)，CategoryType=1，ConfirmTime" name="onetoonecoursetime" ng-model="formData.onetoonecoursetime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组上课时间(Order库Assign的MAX(StartTime)，CategoryType=2，ConfirmTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组上课时间(Order库Assign的MAX(StartTime)，CategoryType=2，ConfirmTime" name="classgroupcoursetime" ng-model="formData.classgroupcoursetime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">游学上课时间(Order库Assign的MAX(StartTime)，CategoryType=3，ConfirmTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入游学上课时间(Order库Assign的MAX(StartTime)，CategoryType=3，ConfirmTime" name="youxuecoursetime" ng-model="formData.youxuecoursetime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">其它课程上课时间(Order库Assign的MAX(StartTime)，CategoryType<>1、2、3，ConfirmTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入其它课程上课时间(Order库Assign的MAX(StartTime)，CategoryType<>1、2、3，ConfirmTime" name="othercoursetime" ng-model="formData.othercoursetime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">平均单价Order里面的OrderItems，RealPrice * RealAmount / SUM(RealAmount)，Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入平均单价Order里面的OrderItems，RealPrice * RealAmount / SUM(RealAmount)，Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime" name="orderavgunitprice" ng-model="formData.orderavgunitprice" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">Order里面的OrderItems，RealAmount Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入Order里面的OrderItems，RealAmount Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime" name="orderrealamount" ng-model="formData.orderrealamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">Order里面的OrderItems，LessonDurationValue * RealAmount / 60 Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入Order里面的OrderItems，LessonDurationValue * RealAmount / 60 Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime" name="orderlessonhours" ng-model="formData.orderlessonhours" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">Order里面的OrderItems，RealAmount * RealPrice Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入Order里面的OrderItems，RealAmount * RealPrice Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime" name="ordertotalprice" ng-model="formData.ordertotalprice" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退订课时(Order里面的DebookOrderItems的DebookAmount)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入退订课时(Order里面的DebookOrderItems的DebookAmount)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime" name="debookamount" ng-model="formData.debookamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退订课时(Order里面的DebookOrderItems的DebookMoney)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入退订课时(Order里面的DebookOrderItems的DebookMoney)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime" name="debookmoney" ng-model="formData.debookmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退订课时(Order里面的DebookOrderItems的[DebookAmount]*[LessonDurationValue]/60)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime</span>
	           		<input type="text" class="form-control required" placeholder="请输入退订课时(Order里面的DebookOrderItems的[DebookAmount]*[LessonDurationValue]/60)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime" name="debooklessonhours" ng-model="formData.debooklessonhours" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">买赠返还收入(Assets表ReturnedMoney， VS，VE)</span>
	           		<input type="text" class="form-control required" placeholder="请输入买赠返还收入(Assets表ReturnedMoney， VS，VE)" name="returnedmoney" ng-model="formData.returnedmoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否有效学员</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否有效学员" name="isavailable" ng-model="formData.isavailable" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否是停课学员</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否是停课学员" name="isclasssuspended" ng-model="formData.isclasssuspended" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否活跃</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否活跃" name="isactive" ng-model="formData.isactive" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否休学</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否休学" name="isschoolsuspended" ng-model="formData.isschoolsuspended" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否结课</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否结课" name="isclassfinished" ng-model="formData.isclassfinished" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	        </div>
    </form>
  </body>
</html>
