<!DOCTYPE html>
<html ng-app="list">
  <head>
    <title>列表</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
   <!-- 弹出框 -->
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    <!-- 分页 -->
	<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <script type="text/javascript">
		var flag = true;
		var list = angular.module("list", []);
		list.controller("listController",function($scope, $http) {	
			$scope.toInfo=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="info.html";
			}
			$scope.toUpdate=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="update.html";
			}
			$scope.toDelete=function(data){	
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				parent.onPopupDelete();
			}
			$scope.onSearch=function(){
				$scope.pageList();
			}
			$scope.changePage=function(){
				$scope.pageList();
			}
			$scope.onAdd=function(){
				location.href="add.html";
			}
			$scope.pageList = function(){
				pageNo = parent.currentPage;
			    var data = {"name":$("#name").val()};
				$http({
					url:parent.getMenuLinksHref("customerbasestatlist"),
					method:'POST',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;',"pageNo":pageNo,"pageSize":pageSize,"orderby":"id","dir":"desc"},
					data: JSON.stringify(data)
					}).success(function(data, status, headers, config){
						totalCount = headers('totalCount');
						pageCount = headers('pageCount');
						$scope.datalist= data;
						paging();
						initPage();
					}).error(function(data, status, headers, config){
						response(status);
					});
			}
			$scope.pageList();
			$scope.onDelete = function(){
                $http({
					url:parent.getFunctionLinksHref("self"),
					method:'DELETE',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
					data: ""
					}).success(function(data, status, headers, config){
						$scope.pageList();
					}).error(function(data, status, headers, config){
						response(status);
					});
				}
		})
		
		function confirmDeletion(){
			var appElement = document.querySelector('[ng-controller=listController]');
			var $scope = angular.element(appElement).scope();
			$scope.onDelete();
		}
	</script>
  </head> 
  <body ng-controller="listController" style="color: #000;">
  	<!-- 基本操作区 -->
  	<h5>
  		<span class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ></span>
  		<input type="text" id="name" class="form-control" value="" placeholder="请输入需要查找的名称" style="width: 20%;display: inline;">
  		<i class="glyphicon glyphicon-remove" onclick="removeSearch()"></i>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onSearch()">搜索</a>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onAdd()">添加</a>
  	</h5>
  	<!-- 列表区 -->
  	<table class="table">
	  <thead>
	    <tr class="info">
	      <th>序号</th>
	      <th>ID</th>
	      <th></th>
	      <th>学员ID</th>
	      <th>学员状态的本地日期</th>
	      <th>校区ID</th>
	      <th>咨询师ID(Customers数据库的CustomerStaffRelations)</th>
	      <th>咨询师名称</th>
	      <th>咨询师OACode</th>
	      <th>学管师ID(Customers数据库的CustomerStaffRelations)</th>
	      <th>学管师名称</th>
	      <th>学管师OACode</th>
	      <th>新签的金额(Customers数据库的AccountChargeApplies)</th>
	      <th>前期结课续费金额(Customers数据库的AccountChargeApplies)</th>
	      <th>新签回款金额(Customers数据库的AccountChargeApplies)</th>
	      <th>后期结课续费金额(Customers数据库的AccountChargeApplies)</th>
	      <th>后期非结课续费金额(Customers数据库的AccountChargeApplies)</th>
	      <th>前期结课续费再续费(Customers数据库的AccountChargeApplies)</th>
	      <th>总续费金额</th>
	      <th>总新签金额</th>
	      <th>总充值金额（现金流）</th>
	      <th>每天新签的金额(Customers数据库的AccountChargeApplies)</th>
	      <th>每天前期结课续费金额(Customers数据库的AccountChargeApplies)</th>
	      <th>每天新签回款金额(Customers数据库的AccountChargeApplies)</th>
	      <th>每天后期结课续费金额(Customers数据库的AccountChargeApplies)</th>
	      <th>每天后期非结课续费金额(Customers数据库的AccountChargeApplies)</th>
	      <th>每天前期结课续费再续费(Customers数据库的AccountChargeApplies)</th>
	      <th>每天总新签金额</th>
	      <th>每天总充值金额（现金流）</th>
	      <th>制度内在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0，IsPeriodRefund=1)</th>
	      <th>制度内不在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0，IsPeriodRefund=0)</th>
	      <th>制度内正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=0)</th>
	      <th>制度内在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0，IsPeriodRefund=1)</th>
	      <th>制度内不在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0，IsPeriodRefund=0)</th>
	      <th>制度内坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=2，IsExtraRefund=0)</th>
	      <th>制度内退费的总金额，包括正常的和坏账的</th>
	      <th>制度外在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=1)</th>
	      <th>制度外不在上课的正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=0)</th>
	      <th>制度外正常退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1)</th>
	      <th>制度外在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=1)</th>
	      <th>制度外不在上课的坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1，IsPeriodRefund=0)</th>
	      <th>制度外坏账退费金额(Customers数据库的AccountRefundApplies的RealRefundMoney汇总，RefundType=1，IsExtraRefund=1)</th>
	      <th>制度外退费的总金额，包括正常的和坏账的</th>
	      <th>所有退费金额</th>
	      <th>折扣返还收入(Customers数据库的AccountRefundApplies的ReallowanceMoney汇总)</th>
	      <th>差价返还收入(Customers数据库的AccountRefundApplies的CompensateMoney汇总)</th>
	      <th>分区财务经理确认退费时间</th>
	      <th>转介绍的员工(Customers数据库的Customers表)</th>
	      <th>转介绍的客户(Customers数据库的Customers表)</th>
	      <th>当前年级</th>
	      <th>入学年级</th>
	      <th>总转出金额。AccountTransferApplies的TransferMoney，ApproveTime在区间内，TransferType=1</th>
	      <th>总转入金额。AccountTransferApplies的TransferMoney，ApproveTime在区间内，TransferType=2</th>
	      <th>最后转入到本校区时间。CustomerTransferApplies的ToCampusID为本记录校区，ApproveTime在区间内</th>
	      <th>最后从本校区转出时间。CustomerTransferApplies的CampusID为本记录校区，ApproveTime在区间内</th>
	      <th>最后上课时间，计算字段。根据一对一、班组以及其它课程中的最后时间计算出来</th>
	      <th>最后充值时间</th>
	      <th>最早充值时间</th>
	      <th>上门时间(Customers数据库的CustomerVerifies表)</th>
	      <th>周反馈时间(Customers数据库的CustomerReplies表)</th>
	      <th>回访时间(Customers数据库的CustomerVisits表)</th>
	      <th>教学服务会时间(Customers数据库的CustomerMeetings表)</th>
	      <th>学员状态（枚举-  正常-11，冻结-14（高三毕业9月后），解冻中-141）</th>
	      <th>是否高三毕业</th>
	      <th>账户价值Customer库Account的账户余额(AccountMoney，VS，VE)+ Order库的Assets的Price*Amount（VS，VE）</th>
	      <th>账户可用金额</th>
	      <th>账户订购余额</th>
	      <th>1对1课程课时数(Order库Assets表的Amount，CategoryType=1，VS，VE)</th>
	      <th>班组课程课时数(Order库Assets表的Amount，CategoryType=2，VS，VE)</th>
	      <th>游学课程课时数(Order库Assets表的Amount，CategoryType=3，VS，VE)</th>
	      <th>其它课时数(Order库Assets表的Amount，CategoryType<>1、2、3，VS，VE)</th>
	      <th>资产中的总课时数</th>
	      <th>课次时长(分钟)(Order库Assets表同名字段*Amount，VS，VE)</th>
	      <th>一对一课时收入(Order库Assigns视图ConfirmPrice*Amount，ConfirmTime，CategoryType=1)</th>
	      <th>班组课时收入(Order库Assigns视图ConfirmPrice*Amount，ConfirmTime，CategoryType=2)</th>
	      <th>课时收入</th>
	      <th>游学收入(Assets表ConfirmMoney，ConfirmTime，CategoryType=3)</th>
	      <th>其它产品收入(Assets表ConfirmMoney，ConfirmTime，CategoryType not in 1,2,3)</th>
	      <th>非课时收入</th>
	      <th>上课量(Order库Assigns视图Amount，ConfirmTime)</th>
	      <th>上课课收平均单价(Order库Assign的ConfirmPrice*Amount/SUM(Amount))，ConfirmTime</th>
	      <th>课收（含买赠返还）/本期已上课小时，[OM].[Assigns]视图中的[DurationValue] * [Amount] / 60</th>
	      <th>一对一上课时间(Order库Assign的MAX(StartTime)，CategoryType=1，ConfirmTime</th>
	      <th>班组上课时间(Order库Assign的MAX(StartTime)，CategoryType=2，ConfirmTime</th>
	      <th>游学上课时间(Order库Assign的MAX(StartTime)，CategoryType=3，ConfirmTime</th>
	      <th>其它课程上课时间(Order库Assign的MAX(StartTime)，CategoryType<>1、2、3，ConfirmTime</th>
	      <th>平均单价Order里面的OrderItems，RealPrice * RealAmount / SUM(RealAmount)，Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</th>
	      <th>Order里面的OrderItems，RealAmount Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</th>
	      <th>Order里面的OrderItems，LessonDurationValue * RealAmount / 60 Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</th>
	      <th>Order里面的OrderItems，RealAmount * RealPrice Join到Order，ProcessStatus=2 AND OrderStatus=2和ApproveTime</th>
	      <th>退订课时(Order里面的DebookOrderItems的DebookAmount)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime</th>
	      <th>退订课时(Order里面的DebookOrderItems的DebookMoney)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime</th>
	      <th>退订课时(Order里面的DebookOrderItems的[DebookAmount]*[LessonDurationValue]/60)，Join到DebookOrder，ProcessStatus=2 AND DebookStatus=2和ApproveTime</th>
	      <th>买赠返还收入(Assets表ReturnedMoney， VS，VE)</th>
	      <th>是否有效学员</th>
	      <th>是否是停课学员</th>
	      <th>是否活跃</th>
	      <th>是否休学</th>
	      <th>是否结课</th>
	      <th>相关操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="data in datalist"  class='tr{{$index%2+2}}'  ng-class="{selected: $index==selectedRow}">
		    <td ng-dblclick="toInfo(data)">{{$index+1}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.id}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.datekey}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.customerid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.statlocaldate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.campusid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.consultantid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.consultantname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.consultantoacode}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.educatorid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.educatorname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.educatoroacode}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.newchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.earlyendrenewamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.earlystudyrenew}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.laterendrenew}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.laterstudyrenew}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.earlyendrenewamountagain}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalrenewamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalnewchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailynewchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailyearlyendrenewamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailyearlystudyrenew}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailylaterendrenew}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailylaterstudyrenew}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailyearlyendrenewamountagain}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailytotalnewchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.dailytotalchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.regularinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.regularnotinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.regularrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.irregularinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.irregularnotinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.irregularrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalnormalrefundamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.extraregularinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.extraregularnotinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.extraregularrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.extrairregularinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.extrairregularnotinperiodrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.extrairregularrefundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalextrarefundamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalrefundamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.reallowancemoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.compensatemoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.lastestrefundverifytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.referralstaffid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.referralcustomerid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.currentgrade}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.entrancegrade}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalmoneytransferedout}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalmoneytransferedin}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.lastesttransferedintime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.lastesttransferedouttime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.lastestclasstime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.lastestpaytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.earliestpaytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.verifytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.replytime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.visittime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.meetingtime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.studentstatus}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.graduated}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.accountvalue}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.accountmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.accountpriceandamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.onetooneamountinasset}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.classgroupamountinasset}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.youxueamountinasset}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.otheramountinasset}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.totalamountinasset}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.lessondurationvalue}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.onetooneassignedincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.classgroupassignedincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.assignedincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.youxueincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.otherproductincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.otherincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.assignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.assignedavgunitprice}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.assigneddurationhours}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.onetoonecoursetime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.classgroupcoursetime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.youxuecoursetime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.othercoursetime}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.orderavgunitprice}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.orderrealamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.orderlessonhours}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.ordertotalprice}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.debookamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.debookmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.debooklessonhours}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.returnedmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.isavailable}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.isclasssuspended}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.isactive}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.isschoolsuspended}}</td>
			<td ng-dblclick="toInfo(data)">{{data.customerbasestat.isclassfinished}}</td>
			<td>
	    		<h4 ng-click="toInfo(data)" class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" title="查看"></h4>
	    		<h4 ng-click="toUpdate(data)" class="glyphicon glyphicon-pencil"  style="margin:0px 5px;color:#99DFF8;" title="修改"></h4>
	    		<h4 ng-click="toDelete(data)" class="glyphicon glyphicon-remove"  style="margin:0px 5px;color:#99DFF8;" title="删除"></h4>
			</td>
	    </tr>
	  </tbody>
	</table>
 	<!-- 分页区 -->
	<div class="pagepanel">
		<span class="text-info" style="position:relative;top:-10px;">共<label id="totalCount"></label>条</span>
		<ul class="pagination" style="margin: 0px 10px;padding:0px;">
		</ul>
		<span class="text-info" style="position:relative;top:-10px;">第<label id="pageNo"></label>页/共<label id="pageCount"></label>页</span>
		<select id="pageSize" class="form-control" style="width: 70px;float: right;">
		</select>
		<span class="text-info" style="position:relative;top:6px;float: right;margin: 0px 5px;">每页显示</span>
	</div>
  </body>
</html>
