<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
			$scope.formData = {};
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data
				}).error(function(data, status, headers, config){
					response(status);
				});
			$scope.onReturn=function(){
				history.go(-1);
			}
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getFunctionLinksHref("self"),
    					method:'PUT',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			location.href="list.html";
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
			$scope.initselect = function() {
			$http({
				url : parent.getMenuLinksHref("orgregionslist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : ''
				}).success(function(data, status, headers, config) {
					$scope.selects = data;
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		//$scope.initselect();
		})
	</script>
</head>
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">学员ID</span>
	   		 		<select class="form-control required" name="customerid" ng-model="formData.customerid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择学员ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">教师ID</span>
	   		 		<select class="form-control required" name="teacherid" ng-model="formData.teacherid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择教师ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师名称" name="teachername" ng-model="formData.teachername" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">教师岗位ID</span>
	   		 		<select class="form-control required" name="teacherjobid" ng-model="formData.teacherjobid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择教师岗位ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师岗位名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师岗位名称" name="teacherjobname" ng-model="formData.teacherjobname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师OA账号</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师OA账号" name="teacheroacode" ng-model="formData.teacheroacode" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">教师岗位归属组织机构ID</span>
	   		 		<select class="form-control required" name="teacherjoborgid" ng-model="formData.teacherjoborgid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择教师岗位归属组织机构ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师岗位归属组织机构名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师岗位归属组织机构名称" name="teacherjoborgname" ng-model="formData.teacherjoborgname" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否全职教师</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否全职教师" name="isfulltimeteacher" ng-model="formData.isfulltimeteacher" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">创建人ID</span>
	   		 		<select class="form-control required" name="creatorid" ng-model="formData.creatorid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择创建人ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建人姓名" name="creatorname" ng-model="formData.creatorname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建时间" name="createtime" ng-model="formData.createtime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
   		</div>
    </form>
  </body>
</html>
