<!DOCTYPE html>
<html ng-app="list">
  <head>
    <title>列表</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
   <!-- 弹出框 -->
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    <!-- 分页 -->
	<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <script type="text/javascript">
var flag = true;
var list = angular.module("list", []);
list.controller("controller",function($scope, $http) {	
	$scope.toInfo=function(data){
parent.setFunctionLinksHref(data.links==null?data._links:data.links);
location.href="info.html";
	}
	$scope.toUpdate=function(data){
parent.setFunctionLinksHref(data.links==null?data._links:data.links);
location.href="update.html";
	}
	$scope.toDelete=function(data){	
parent.setFunctionLinksHref(data.links==null?data._links:data.links);
parent.onPopupDelete();
	}
	$scope.onSearch=function(){
$scope.pageList();
	}
	$scope.changePage=function(){
$scope.pageList();
	}
	$scope.onAdd=function(){
location.href="add.html";
	}
	$scope.pageList = function(){
pageNo = parent.currentPage;
	    var data = {"name":$("#name").val()};
$http({
	url:parent.getMenuLinksHref("customerlist"),
	method:'POST',
	dataType : "json",
	withCredentials: true,
	headers: {'Content-Type': 'application/json;charset=UTF-8;',"pageNo":pageNo,"pageSize":pageSize,"orderby":"id","dir":"desc"},
	data: JSON.stringify(data)
	}).success(function(data, status, headers, config){
totalCount = headers('totalCount');
pageCount = headers('pageCount');
$scope.datalist= data;
paging();
initPage();
	}).error(function(data, status, headers, config){
response(status);
	});
	}
	$scope.pageList();
	$scope.onDelete = function(){
                $http({
	url:parent.getFunctionLinksHref("self"),
	method:'DELETE',
	dataType : "json",
	withCredentials: true,
	headers: {'Content-Type': 'application/json;charset=UTF-8;'},
	data: ""
	}).success(function(data, status, headers, config){
$scope.pageList();
	}).error(function(data, status, headers, config){
response(status);
	});
}
})

function confirmDeletion(){
	var appElement = document.querySelector('[ng-controller=controller]');
	var $scope = angular.element(appElement).scope();
	$scope.onDelete();
}
	</script>
  </head> 
  <body ng-controller="controller" style="color: #000;">
  	<!-- 基本操作区 -->
  	<h5>
  <span class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ></span>
  <input type="text" id="name" class="form-control" value="" placeholder="请输入需要查找的名称" style="width: 20%;display: inline;">
  <i class="glyphicon glyphicon-remove" onclick="removeSearch()"></i>
  <a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onSearch()" ng-show="isSearchList">搜索</a>
  <a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onAdd()" ng-show="isSava">添加</a>
  	</h5>
  	<!-- 列表区 -->
  	<table class="table">
	  <thead>
	    <tr class="info">
	      <th>序号</th>
	      <th>校区ID</th>
	      <th>校区名称</th>
	      <th>家长ID</th>
	      <th>家长编号</th>
	      <th>家长姓名</th>
	      <th>学员编码</th>
	      <th>学员姓名</th>
	      <th>客户等级（A1,A2,A3...)</th>
	      <th>潜客状态（默认10）</th>
	      <th>学员状态（枚举-  正常-11，冻结-14（高三毕业9月后），解冻中-141）</th>
	      <th>是否仅登记一个家长</th>
	      <th>学员描述</th>
	      <th>出生年月</th>
	      <th>性别代码</th>
	      <th>电子邮箱</th>
	      <th>证件类型</th>
	      <th>证件号码</th>
	      <th>VIP类型</th>
	      <th>VIP级别</th>
	      <th>入学年级代码</th>
	      <th>当前年级代码</th>
	      <th>学科类型代码（文科，理科，不分科）</th>
	      <th>学员类型代码</th>
	      <th>接触方式代码</th>
	      <th>信息来源一级分类代码</th>
	      <th>信息来源二级分类代码</th>
	      <th>来源系统代码</th>
	      <th>当前在读学校ID</th>
	      <th>当前在读学校名称</th>
	      <th>是否复读</th>
	      <th>首次签约时间</th>
	      <th>首次签约人ID</th>
	      <th>首次签约人</th>
	      <th>无效客户理由代码（参考跟进）</th>
	      <th>学年制(C_CODE_ABBR_ACDEMICYEAR)</th>
	      <th>转介绍学员个数</th>
	      <th>转介绍员工ID</th>
	      <th>转介绍员工姓名</th>
	      <th>转介绍员工岗位ID</th>
	      <th>转介绍员工岗位名称</th>
	      <th>转介绍员工OA编号</th>
	      <th>转介绍学员ID</th>
	      <th>转介绍学员编码</th>
	      <th>转介绍学员姓名</th>
	      <th>购买意愿(C_CODE_ABBR_Customer_CRM_PurchaseIntent)</th>
	      <th>是否锁定</th>
	      <th>锁定描述（转学，毕业）</th>
	      <th>是否高三毕业</th>
	      <th>高三毕业年份</th>
	      <th>建档人ID</th>
	      <th>建档人姓名</th>
	      <th>建档人OA编码</th>
	      <th>建档人岗位ID</th>
	      <th>建档人岗位名称</th>
	      <th>建档人岗位类型</th>
	      <th>创建时间</th>
	      <th>最后修改人ID</th>
	      <th>最后修改人姓名</th>
	      <th>最后修改时间</th>
	      <th>咨询师ID</th>
	      <th>咨询师姓名</th>
	      <th>咨询师OA编码</th>
	      <th>咨询师岗位ID</th>
	      <th>学管师ID</th>
	      <th>学管师姓名</th>
	      <th>学管师OA编码</th>
	      <th>学管师岗位ID</th>
	      <th>电销人员员工ID</th>
	      <th>电销人OA编码</th>
	      <th>电销人员姓名</th>
	      <th>电销人员岗位ID</th>
	      <th>市场人员员工ID</th>
	      <th>市场人员姓名</th>
	      <th>市场人OA编码</th>
	      <th>市场人员岗位ID</th>
	      <th>分配教师数量</th>
	      <th>主要监护人证件类型</th>
	      <th>主要监护人证件号码</th>
	      <th>主要监护人称谓代码</th>
	      <th>学员称谓代码</th>
	      <th>学员主要联系电话类型</th>
	      <th>学员主要联系电话</th>
	      <th>学员次要联系电话类型</th>
	      <th>学员次要联系电话</th>
	      <th>家长主要联系电话类型</th>
	      <th>家长主要联系电话</th>
	      <th>家长次要联系电话类型</th>
	      <th>家长次要联系电话</th>
	      <th>当前跟进阶段</th>
	      <th>当前跟进时间</th>
	      <th>累计已跟进次数</th>
	      <th>本月累计跟进次数</th>
	      <th>下一次跟进时间</th>
	      <th>预计上门时间</th>
	      <th>预计签约时间</th>
	      <th>上次上门时间</th>
	      <th>累计上门次数</th>
	      <th>当前回访时间</th>
	      <th>累计回访次数</th>
	      <th>本月累计回访次数</th>
	      <th>下次回访时间</th>
	      <th>当前账户余额</th>
	      <th>当前账账户折扣率</th>
	      <th>当前账账户折扣基数</th>
	      <th>当前新签时间（新签和新签回款）</th>
	      <th>当前新签金额</th>
	      <th>当前续费时间（非新签和新签回款）</th>
	      <th>当前续费金额</th>
	      <th>当前充值时间（支付时间）</th>
	      <th>当前充值金额</th>
	      <th>当前退费时间（财务确认时间）</th>
	      <th>当前退费金额</th>
	      <th>累计转入金额</th>
	      <th>当前转入时间（最后审批时间）</th>
	      <th>累计转出金额</th>
	      <th>当前转出时间（最后审批时间）</th>
	      <th>累计签约金额</th>
	      <th>累计签约次数</th>
	      <th>剩余资产(1对1)数量</th>
	      <th>剩余资产(班组)数量</th>
	      <th>剩余资产(其他)数量</th>
	      <th>剩余资产(1对1)金额</th>
	      <th>剩余资产(班组)金额</th>
	      <th>剩余资产(其他)金额</th>
	      <th>排定资产(1对1)数量</th>
	      <th>排定资产(班组)数量</th>
	      <th>排定资产(1对1)价值</th>
	      <th>排定资产(班组)价值</th>
	      <th>消耗资产(1对1)数量</th>
	      <th>消耗资产(班组)数量</th>
	      <th>消耗资产(其他)数量</th>
	      <th>消耗资产(1对1)价值</th>
	      <th>消耗资产(班组)价值</th>
	      <th>消耗资产(其他)价值</th>
	      <th>消耗赠送资产(1对1)数量</th>
	      <th>当前订购日期</th>
	      <th>当前退订日期</th>
	      <th>当前排课日期</th>
	      <th>当前上课时间</th>
	      <th>当前1对1上课时间</th>
	      <th>当前班组上课时间</th>
	      <th>当前确认时间</th>
	      <th>当前1对1确认时间</th>
	      <th>当前班组确认时间</th>
	      <th>30天内上课科目数量</th>
	      <th>本月上课小时数</th>
	      <th>当前分派咨询师时间</th>
	      <th>当前分配的教师数量</th>
	      <th>是否扣减服务费</th>
	      <th>服务费扣减日期</th>
	      <th>扣减服务费金额</th>
	      <th>结课时间（账户价值<200 and 剩余资产<1，账户发生变化，资产发生变化对应时间点)</th>
	      <th>服务首次创建时间</th>
	      <th>服务更新时间，每做一次更新更新一次时间。</th>
	      <th>学员全文检索字段</th>
	      <th>家长全文检索字段</th>
	      <th>相关操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="data in datalist"  class='tr{{$index%2+2}}'  ng-class="{selected: $index==selectedRow}">
    <td ng-dblclick="toInfo(data)">{{$index+1}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.campusid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.campusname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentcode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customercode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customername}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customerlevel}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customerstatus}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.studentstatus}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.isoneparent}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.describes}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.birthdays}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.gender}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.email}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.idtype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.idnumber}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.viptype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.viplevel}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.entrancegrade}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.grade}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.subjecttype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.studenttype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.contacttype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.sourcemaintype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.sourcesubtype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.sourcesystem}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.schoolid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.schoolname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.isstudyagain}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.firstsigntime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.firstsignerid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.firstsignername}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.invalidreason}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.schoolyear}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralcount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralstaffid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralstaffname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralstaffjobid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralstaffjobname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralstaffoacode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralcustomerid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralcustomercode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.referralcustomername}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.purchaseintention}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.locked}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.lockmemo}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.graduated}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.graduateyear}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.creatorid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.creatorname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.creatoroacode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.creatorjobid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.creatorjobname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.creatorjobtype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.createtime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.modifierid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.modifiername}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.modifytime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.consultantid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.consultantname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.consultantoacode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.consultantjobid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.educatorid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.educatorname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.educatoroacode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.educatorjobid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.callcenterid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.callcenteroacode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.callcentername}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.callcenterjobid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.marketingid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.marketingname}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.marketingoacode}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.marketingjobid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assignteachernum}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentidtype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentidnumber}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentrole}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customerrole}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customerprimaryphonetype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customerprimaryphonenumber}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customersecondaryphonetype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customersecondaryphonenumber}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentprimaryphonetype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentprimaryphonenumber}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentsecondaryphonetype}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentsecondaryphonenumber}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.followstage}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.followtime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.followedcount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.followedcountofthismonth}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.nextfollowtime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.planverifytime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.plansigntime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.verifytime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.verifiedcount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.visittime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.visitedcount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.visitedcountofthismonth}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.nextvisittime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountdiscountrate}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountdiscountbase}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountnewsigntime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountnewsignmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountrenewsigntime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountrenewsignmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountchargetime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountchargemoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountrefundtime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accountrefundmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accounttransferedinmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accounttransferintime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accounttransferedoutmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.accounttransferouttime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.signedmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.signedcount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetonetooneamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetclassamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetotheramount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetonetoonemoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetclassmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetothermoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetonetooneassignedamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetclassassignedamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetonetooneassignedmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetclassassignedmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetonetooneconfirmedamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetclassconfirmedamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetotherconfirmedamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetonetooneconfirmedmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetclassconfirmedmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetotherconfirmedmoney}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assetpresentamount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.ordertime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.debooktime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.assigntime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.starttime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.starttimeofonetoone}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.starttimeofclass}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.confirmtime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.confirmtimeofonetoone}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.confirmtimeofclass}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.confirmedsubjectsofrecent}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.confirmedhoursofthismonth}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.allocateconsultanttime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.allocateteachercount}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.hasexpense}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.expensetime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.expensefee}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.completetime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.servicecreatetime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.servicemodifytime}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.customersearchcontent}}</td>
	<td ng-dblclick="toInfo(data)">{{data.customer.parentsearchcontent}}</td>
	<td>
	    <h4 ng-click="toInfo(data)" class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ng-show="isShowInfo" title="查看"></h4>
	    <h4 ng-click="toUpdate(data)" class="glyphicon glyphicon-pencil"  style="margin:0px 5px;color:#99DFF8;"  ng-show="isShowUpdate" title="修改"></h4>
	    <h4 ng-click="toDelete(data)" class="glyphicon glyphicon-remove"  style="margin:0px 5px;color:#99DFF8;"  ng-show="isShowDelete" title="删除"></h4>
	</td>
	    </tr>
	  </tbody>
	</table>
 	<!-- 分页区 -->
	<div class="pagepanel">
<span class="text-info" style="position:relative;top:-10px;">共<label id="totalCount"></label>条</span>
<ul class="pagination" style="margin: 0px 10px;padding:0px;">
</ul>
<span class="text-info" style="position:relative;top:-10px;">第<label id="pageNo"></label>页/共<label id="pageCount"></label>页</span>
<select id="pageSize" class="form-control" style="width: 70px;float: right;">
</select>
<span class="text-info" style="position:relative;top:6px;float: right;margin: 0px 5px;">每页显示</span>
	</div>
  </body>
</html>
