<!DOCTYPE html>
<html ng-app="list">
  <head>
    <title>学生管理-list</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery.cookie.js"></script>
   <!-- 弹出框 -->
   
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    
    <!-- 分页 -->
	<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <script type="text/javascript">
		var flag = true;
		var list = angular.module("list", []);
		list.controller("listController",function($scope, $http) {	
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			
			$scope.pageList = function(){
				pageNo = parent.currentPage;
			    var data = {"name":$("#name").val()};
				$http({
					url:parent.getFunctionLinksHref("hourhistorylist"),
					method:'POST',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;',"pageNo":pageNo,"pageSize":pageSize,"orderby":"id","dir":"desc"},
					data: JSON.stringify(data)
					}).success(function(data, status, headers, config){
						//响应成功
						totalCount = headers('totalCount');
						pageCount = headers('pageCount');
						$scope.tasks= data;
						paging();
						initPage();
					}).error(function(data, status, headers, config){
						//处理响应失败
						response(status);
					});
			}
			$scope.pageList();
		})
		
	</script>
  </head>
  
  <body ng-controller="listController" style="color: #000;">
  	<!-- 基本操作区 -->
  	<h5>
		<button type="button" class="btn btn-primary" ng-click="onReturn()">返
			回</button>
	</h5>
  	<!-- 列表区 -->
  	<table class="table">
	  <thead>
	    <tr class="info">
	      <th>序号</th>
	      <th>学生名</th>
	      <th>学科</th>
	      <th>老师</th>
	      <th>上课日期</th>
	      <th>上课时段</th>
	      <th>操作类型</th>
	      <th>操作数量</th>
	      <th>操作人</th>
	      <th>操作时间</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="task in tasks"  class='tr{{$index%2+2}}'  ng-class="{selected: $index==selectedRow}">
		    <td ng-dblclick="toInfo(task)">{{$index+1}}</td>
		    <td ng-dblclick="toInfo(task)">{{task.hourhistory.student.name}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.subject.name}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.teacher.name}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.hour.datetime}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.hour.dtime.name}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.dtype.name}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.hourcount}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.account.name}}</td>
			<td ng-dblclick="toInfo(task)">{{task.hourhistory.datetime}}</td>
	    </tr>
	  </tbody>
	</table>
  </body>
</html>
