<!DOCTYPE html>
<html ng-app="add">
<head>
<title>学校-新增</title>

<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css"
	href="../../../../resource/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../../../../resource/css/font-awesome.css">
<link rel="stylesheet" type="text/css"
	href="../../../../resource/css/common.css">
<link href="../../../../resource/css/bootstrap-datetimepicker.css"
	rel="stylesheet" media="screen">
<script type="text/javascript"
	src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/jquery.cookie.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/bootstrap-datetimepicker.js"
	charset="UTF-8"></script>
<script type="text/javascript"
	src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js"
	charset="UTF-8"></script>
<script src="../../../../resource/js/date/js/eap.core.js"></script>
<!-- 表单验证 -->
<link rel="stylesheet" type="text/css"
	href="../../../../resource/js/validate/css/validate.css" />
<script type="text/javascript"
	src="../../../../resource/js/validate/js/eap.tip.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/validate/js/eap.validate.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
<!-- 弹出框  -->
<script src="../../../../resource/js/artDialog/artDialog.js"></script>
<script src="../../../../resource/js/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<script src="../../../../resource/js/date/js/eap.util.date.js"></script>
<script src="../../../../resource/js/util.js"></script>
<script type="text/javascript">
	var paramdata = {};
	var add = angular.module("add", []);
	add
			.controller(
					"addController",
					function($scope, $http) {
						$scope.initsite = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify({
											typecode : 600
										})
									}).success(
									function(data, status, headers, config) {
										$scope.dsite = data;
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}

						$scope.initnum = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers: {'Content-Type': 'application/json;charset=UTF-8;',"orderby":"code","dir":"asc"},
										data : JSON.stringify({
											typecode : 100
										})
									}).success(
									function(data, status, headers, config) {
										$scope.dnum = data;
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}

						$scope.initpaytype = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify({
											typecode : 650
										})
									}).success(
									function(data, status, headers, config) {
										$scope.dpaytype = data;
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}
						$scope.initdatetime = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify({
											typecode : 700
										})
									}).success(
									function(data, status, headers, config) {
										paramdata.option = data;
										init();
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}
						$scope.formData = {};
						$scope.formData.coupon = 0;
						$scope.formData.entry = 0;
						//返回
						$scope.onReturn = function() {
							history.go(-1);
						}
						//保存
						$scope.onPreserved = function() {
							var isValid = $("#saveForm").valid();
							if (isValid) {
								parent.promptShow();
								$scope.formData.totalhour = $("#totalhour").val();
								$scope.formData.total = $("#total").val();
								$scope.formData.sdatetime = $("#starttime").val();
								$scope.formData.edatetime = $("#etarttime").val();
								$http(
										{
											url : parent
													.getMenuLinksHref("payhourpost"),
											method : 'POST',
											dataType : "json",
											withCredentials : true,
											headers : {
												'Content-Type' : 'application/json;charset=UTF-8;'
											},
											data : JSON
													.stringify($scope.formData)
										})
										.success(
												function(data, status, headers,
														config) {
													//插入成功插入课时详细表
													if(data>0){
														addHour(data);														
													}
												}).error(
												function(data, status, headers,
														config) {
													//处理响应失败
													response(status);
												})
							}
						}
						
						function addHour(payhourid) {
							var pdata = new Array();
							//插入成功插入课时详细表
							var date = $("input[name='date']:checked");
							for (var i = 0; i < date.length; i++) {
								var s = date[i].value.split("|");
								var p = {};
								p.datetime = s[0];
								p.student_id = $scope.formData.student_id;
								p.subject_id = $scope.formData.subject_id;
								p.teacher_id = $scope.formData.teacher_id;
								p.payhour_id = payhourid;
								p.time = s[1];
								pdata.push(p);
							}
							$http(
									{
										url : parent.getMenuLinksHref("hourpost"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify(pdata)
									}).success(function(data, status, headers,config) {
										parent.promptClose();
										location.href = "payhour.html";		
									}).error(function(data, status, headers,config) {
												//处理响应失败
												response(status);
									})
						}

						//搜索学生资源
						$scope.onfindstudent = function() {
							art.dialog.open(
									'../../dfgj/html/payhour/student.html', {
										title : '资源搜索',
										width : 1000,
										height : 600,
										close : showWindowStudent,
										lock : true,
										resize : false,
										id : "showWindowStudent",
										lock : true
									});
							art.dialog.data("dialogId", "showWindowStudent");//给弹出框赋值ID
						}

						function showWindowStudent() {
							var data = art.dialog.data("data");
							if (data != undefined) {
								var obj = angular.fromJson(data);
								$scope.formData.student_id = obj.student.id;
								$scope.formData.name = obj.student.name;
								document.getElementById("student_id").value = obj.student.id;
								document.getElementById("student_name").value = obj.student.name;
								art.dialog.removeData("data");
							}

						}

						//搜索学课资源
						$scope.onfindsubject = function() {
							art.dialog.open(
									'../../dfgj/html/payhour/subject.html', {
										title : '资源搜索',
										width : 1000,
										height : 600,
										close : showWindowSubject,
										lock : true,
										resize : false,
										id : "showWindowSubject",
										lock : true
									});
							art.dialog.data("dialogId", "showWindowSubject");//给弹出框赋值ID
						}

						function showWindowSubject() {
							var data = art.dialog.data("data");
							if (data != undefined) {
								var obj = angular.fromJson(data);
								$scope.formData.subject_id = obj.subject.id;
								document.getElementById("subject_id").value = obj.subject.id;
								document.getElementById("price").value = obj.subject.price;
								document.getElementById("subject_name").value = obj.subject.name;
								art.dialog.removeData("data");
							}

						}

						//搜索教师资源
						$scope.onfindteacher = function() {
							art.dialog.open(
									'../../dfgj/html/payhour/teacher.html', {
										title : '资源搜索',
										width : 1000,
										height : 600,
										close : showWindowTeacher,
										lock : true,
										resize : false,
										id : "showWindowTeacher",
										lock : true
									});
							art.dialog.data("dialogId", "showWindowTeacher");//给弹出框赋值ID
						}

						function showWindowTeacher() {
							var data = art.dialog.data("data");
							if (data != undefined) {
								var obj = angular.fromJson(data);
								$scope.formData.teacher_id = obj.teacher.id;
								document.getElementById("teacher_id").value = obj.teacher.id;
								document.getElementById("teacher_name").value = obj.teacher.name;
								art.dialog.removeData("data");
							}

						}

						$scope.initsite();
						$scope.initnum();
						$scope.initpaytype();
						$scope.initdatetime();
					})
</script>
<style type="text/css">
#dateOption {
	position: relative;
	top: 20px;
	left: 2px;
}

#dateOption>label {
	font: 14px;
	font-weight: normal;
	border: 0px;
}

#datepanel {
	position: relative;
	top: 20px;
	left: 2px;
}

h4>label {
	margin: 4px 10px;
	width: 40px;
	padding: 2px;
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
}

.tableHeadr {
	height: 35px;
	line-height: 35px;
	background: #2A94DB;
	font-size: :18px;
	font-weight: bold;
	color: #fff;
}

.tableOption {
	background: #E5E3D8;
	font-size: :18px;
	font-weight: bold;
}

td {
	text-align: center;
	width: 90px;
	border: solid 1px #ccc;
	padding: 0px 2px;
}

td>span {
	color: #ccc;
}

input[type='checkbox'] {
	margin: 6px 0px;
	background: #E5E3D8
}

.button {
	margin: 10px 10px 0px 200px;
	width: 70px;
	height: 30px;
	background: #2A94DB;
	color: #fff;
}

.checkOption {
	background: #FA7E7E
}
</style>
</head>

<body ng-controller="addController">
	<form method="post" id="saveForm" action="">
		<!-- 操作按钮操作区 -->
		<div class="col-lg-12 topActionPanel">
			<div>
				<button type="button" class="btn btn-primary"
					ng-click="onPreserved()">确 定</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary" ng-click="onReturn()">返
					回</button>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group input-group-sm">
				<input type="hidden" id="student_id" name="student_id"
					ng-model="formData.student_id" />
				<input type="hidden" id="name" name="name"
					ng-model="formData.name" /><span
					class="input-group-addon text-right spanwidth">学员</span> <input
					class="form-control required" style="width: 80%;"
					name="student_name" id="student_name" readonly /> <span
					class="input-group-addon verifyprompt">*</span> <i
					ng-click="onfindstudent()" class="icon-search i"></i>
			</div>
			<div class="input-group input-group-sm">
				<input type="hidden" id="price" name="price" /> <input
					type="hidden" id="subject_id" name="subject_id"
					ng-model="formData.subject_id" /> <span
					class="input-group-addon text-right spanwidth">学科</span> <input
					class="form-control required" style="width: 80%;"
					name="subject_name" id="subject_name" readonly /> <span
					class="input-group-addon verifyprompt">*</span> <i
					ng-click="onfindsubject()" class="icon-search i"></i>
			</div>
			<div class="input-group input-group-sm">
				<input type="hidden" id="teacher_id" name="teacher_id"
					ng-model="formData.teacher_id" /> <span
					class="input-group-addon text-right spanwidth">教师</span> <input
					class="form-control required" style="width: 80%;"
					name="teacher_name" id="teacher_name" readonly /> <span
					class="input-group-addon verifyprompt">*</span> <i
					ng-click="onfindteacher()" class="icon-search i"></i>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">上课校区</span> <select
					class="form-control required" ng-model="formData.site" id="site" name="site"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dsite">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">购买课时</span> <select
					class="form-control required" ng-model="formData.payhour" id="payhour"
					name="payhour"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dnum">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">赠送课时</span> <select
					class="form-control required" ng-model="formData.givehour" id="givehour"
					name="givehour"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dnum">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">总课时</span> <input
					type="text" class="form-control required" id="totalhour"
					name="totalhour" ng-model="formData.totalhour" maxlength="8"
					readonly="readonly">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">优惠金额</span> <input
					type="text" class="form-control required" name="coupon" id="coupon"
					ng-model="formData.coupon" maxlength="8"> <span
					class="input-group-addon verifyprompt">*</span>
			</div>
			<!-- <div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">折扣</span> <input
					type="text" class="form-control required" placeholder="请输入规模"
					name="scale" ng-model="formData.scale" maxlength="50"> <span
					class="input-group-addon verifyprompt">*</span>
			</div> -->
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">报名费</span> <input
					type="text" class="form-control required" name="entry" id="entry"
					ng-model="formData.entry" maxlength="8"> <span
					class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">总学费</span> <input
					type="text" class="form-control required" name="total" id="total"
					ng-model="formData.total" maxlength="8" readonly> <span
					class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">付款方式</span> <select
					class="form-control required" ng-model="formData.paymoneytype" id="paymoneytype"
					name="paymoneytype"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dpaytype">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">收据号</span> <input
					type="text" class="form-control required" placeholder="请输入收据号"
					name="scale" ng-model="formData.receipt" maxlength="32"> <span
					class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth"
					style="height: 150px;">备&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<textarea class="txtVal form-control" style="height: 150px;"
					ng-model="formData.remark"></textarea>
			</div>
		</div>
		<div class="col-lg-6"
			style="position: relative; top: -20px; left: -50px;">
			<div id="dateOption"></div>
			<div id="datepanel">
				<div id="dateList"></div>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript">
	var aryDay = new Array("日", "一", "二", "三", "四", "五", "六");
	var incount = 1;//和具体数量个数一致
	function init(){
		paramdata.ele = $("#dateOption")
		initPanel(paramdata);
		$(document).on("click",
						"input[type='checkbox']",
						function() {
							var checkedstatus = $(this).attr("checked") != undefined ? $(
									this).removeAttr("checked")
									: $(this).attr("checked", true);
							if ($(checkedstatus).attr("checked")) {
								$(this).parent().addClass("checkOption");
							} else {
								$(this).parent().removeClass("checkOption");
							}
						})
		$("#payhour").change(function() {
			calculate();
		})
		$("#givehour").change(function() {
			calculate();
		})
		$("#price").change(function() {
			calculate();
		})
		$("#coupon").change(function() {
			calculate();
		})
		$("#entry").change(function() {
			calculate();
		})
	}
	function calculate() {
		var price = $("#price").val();
		if (price == null || price == "") {
			$.Prompt("请选择学科");
			return;
		} else {
			var givehourval = $("#givehour").find("option:selected").text();
			var payhourval = $("#payhour").find("option:selected").text();
			if (payhourval == "")
				payhourval = 0;
			if(givehourval == "")
				givehourval = 0;
			var totalhour = parseInt(payhourval) + parseInt(givehourval);	
			var countprice = payhourval * parseInt(price);
			var coupon = $("#coupon").val();
			var entry = $("#entry").val();
			$("#totalhour").val(totalhour);
			$("#total").val(countprice - parseInt(coupon) + parseInt(entry));
		}
	}
	/* 初始化数据 */
	function initElement(param) {
		
		var dateAll = [];
		var dateAll2 = [];
		
		$("#dateList").html("");
		var option = paramdata.option;//默认初始化数据
		var default_option = param.default_option;//默认的值
		var optionlen = option.length;//数据（选项）行数
		var checkOption = param.checkOption;
		var week = param.week;
		var starttime = param.starttime;
		var lastday = getCurrentMonth(starttime);
		starttime = new Date(starttime).DateAdd("d", -1).formatDate(
				"yyyy-MM-dd");
		var dates;//几个星期几如三个周一
		if (week.length > 0 && checkOption.length > 0) {
			var num = param.count / (week.length * checkOption.length);
			dates = param.count % (week.length * checkOption.length) != 0 ? parseInt(num) + 1
					: num; //具体多少行根据具体数量与选中的周几和时间段的数量决定的？
		}
		var datelen = 7;//一周七天
		var dd = dates * datelen;//具体多少天
		if (starttime != undefined) {
			var sdate = lastday[0].formatDate("yyyy-MM-dd");
			var startDay = compareDate(starttime, sdate, "-");//第几天开始计算
			var moreDates = startDay % datelen != 0 ? parseInt(startDay
					/ datelen) + 1 : startDay / datelen;
			dd = dd + moreDates * datelen;
			dates = dates + moreDates;
		}

		var startDate = lastday[0].formatDate("dd") - 1;//开始日期
		var tr_row = dates;
		if(isNaN(tr_row))
			return;
		var table = $("<table></table>");
		var tr0 = $("<tr class='tableHeadr'></tr>");//每行
		var td = $("<td></td>");
		tr0.append(td);
		for (var i = 0; i < aryDay.length; i++) {
			var td = $("<td>" + aryDay[i] + "</td>");
			tr0.append(td);
			table.append(tr0);

		}
		var firstDay = lastday[0].DateAdd("d", 0).getDay();//每月第一个天周几
		var weeklength = aryDay.length - firstDay;
		for (var r = 0; r <= tr_row; r++) {
			var tr = $("<tr></tr>");//每行
			var td = $("<td></td>");
			if (r == 0) {
				var td = $("<td>日期</td>");
			}
			tr.append(td);
			table.append(tr);
			if (r == 0) {//第一行的单元格单独处理
				for (var j = 0; j < firstDay; j++) {
					var td = $("<td></td>");
					tr.append(td);
				}
			}
			var startNo = datelen * r != 0 ? weeklength + datelen * (r - 1) : 0;//从什么位置开始
			var endNo = datelen * r != 0 ? weeklength + datelen * r
					: weeklength;//到什么位置结束
			endNo = r == tr_row ? dd : endNo;//最后一行的时候从当月最后一天结束
			for (var i = startNo; i < endNo; i++) {
				for (var d = 0; d < aryDay.length; d++) {
					currdw = aryDay[lastday[0].DateAdd("d", i).getDay()];
					if (aryDay[d] == currdw) {
						currTd = lastday[0].DateAdd("d", i).formatDate(
								"yyyy-MM-dd");
						td = $("<td>" + currTd + "<br/> <span>星期" + currdw
								+ "</span></td>");
						tr.append(td);
						dateAll[dateAll.length] = currTd;
						dateAll2[dateAll2.length] = currdw;
						$("#etarttime").val(currTd);
					}
				}
			}

			/* 日期、当天及之后的七天不同的时间段checkbox */
			for (var row = 0; row < optionlen; row++) {
				var tr1 = $("<tr class='tableOption'></tr>");
				var td = $("<td>" + option[row].dictionary.name + "</td>");
				tr1.append(td);
				if (r == 0) {//第一行的单元格单独处理
					for (var j = 0; j < firstDay; j++) {
						var td = $("<td></td>");
						tr1.append(td);
					}
				}
				for (var i = startNo; i < endNo; i++) {
					currTd = lastday[0].DateAdd("d", i)
							.formatDate("yyyy-MM-dd");
					currdw = aryDay[lastday[0].DateAdd("d", i).getDay()];//周几
					var value = currTd + "|" + paramdata.option[row].dictionary.code;
					var id = currTd+paramdata.option[row].dictionary.code;
					var td = $("<td id=\""+id+"\"></td>");
					var input_check = $("<input type='checkbox' name='date' value='"+value+"'></input>");
					/* if (week != undefined) {//有默认选中的值
						for (var j = 0; j < checkOption.length; j++) {
							for (var w = 0; w < week.length; w++) {
								//选中等于选项里边的那行并且 周天等于选中的周天就进去
								if (checkOption[j].value == option[row].dictionary.code && week[w] == currdw) {
									if (dateCompare(starttime, currTd)) {
										if (incount <= param.count) {//大于等于剩余天数
											var input_check = $("<input type='checkbox' name='date' value='"+value+"' checked='true'></input>");
											td = $("<td class='checkOption'></td>");
											incount++;
										}

									}
								}
							}

						}
					} */
					td.append(input_check);
					tr1.append(td);
				}
				table.append(tr1);
			}
		}
		$("#dateList").append(table);
		
		var totalhour = $("#totalhour").val();//获取总课时
		var starttime = $("#defaultdate").val();
		var checkOption = $("input[name='option']:checked");
		var len = dateAll.length;
		for(var i =0;i<len;i++){
			var date = dateAll[i];
			if(Date.parse(date)>=Date.parse(starttime) && totalhour>0){
				var week = $("input[name='week']:checked");
				var len3 = week.length;
				for(var j = 0;j<len3;j++){
					if(week[j].value==dateAll2[i]){
						var len2 = checkOption.length;
						for(var y=0;y<len2;y++){
							if(totalhour>0){
								var check = checkOption[y].value;
								var input = $("#"+date+check).children();
								$(input[0]).attr("checked","true");
								$("#"+date+check.split(":")[0]).addClass("checkOption");
								totalhour--;
							}
						}
					}
				}
			}
		}
		
	}
	/* 初始化页面 */
	function initPanel(param) {
		var option = paramdata.option;
		var optionlen = option.length;
		var table = $("<table></table>");
		var tr0 = $("<tr class='tableHeadr'></tr>");//每行
		tr0.append(td);
		var tr1 = $("<tr></tr>");//每行
		for (var i = 0; i < aryDay.length; i++) {
			var td = $("<td>" + aryDay[i] + "</td>");
			tr0.append(td);
			td = $("<td></td>");
			var input = $("<input type='checkbox' name='week' value='"+aryDay[i]+"'/>");
			input.click(function(){
				initTable();
			});
			td.append(input);
			tr1.append(td);
			table.append(tr0);
			table.append(tr1);
		}
		var label = $("<label>选择每周几来上课</label>");
		$(param.ele).append(label);
		$(param.ele).append(table);
		var div = $("<div style='margin:10px;'></div>");
		var table = $("<table></table>");
		var tr = $("<tr class='tableHeadr'></tr>");//第一行
		var tr2 = $("<tr></tr>");//第二行
		for (var i = 0; i < optionlen; i++) {
			var td = $("<td>" + option[i].dictionary.name + "</td>");
			tr.append(td);
			td = $("<td></td>");
			var input = $("<input type='checkbox' name='option' value='"+option[i].dictionary.code+"'/>");
			input.click(function(){
				initTable();
			});
			td.append(input);
			tr2.append(td);
			table.append(tr);
			table.append(tr2);
		}
		var label = $("<label >选择每天上课时间</label>");
		$(param.ele).append(label);
		$(param.ele).append(table);
		div = $("<div style='margin:10px 0px;position:relative;top:0px;'></div>");
		label = $("<lable>选择开始上课日期</label>");
		var div1 = $('<div class="input-group date form_datetime col-md-5" style="width:400px;" data-date-format="dd MM yyyy - HH:ii p" data-link-field="starttime"></div>');
		var input1 = $('<input class="form-control" id="defaultdate" size="16" type="text" value="" readonly>');
		var span = $('<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>');
		var span1 = $('<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>');
		var input2 = $('<input type="hidden" id="starttime" value="" /><br/>');
		var input3 = $('<input type="hidden" id="etarttime" value="" /><br/>');
		div1.append(input1);
		div1.append(span1);
		div.append(label);
		div.append(div1);
		div.append(input2);
		div.append(input3);
		$(param.ele).append(div);
		$('.form_datetime').datetimepicker({
			format : 'yyyy-mm-dd',
			language : 'cn',
			weekStart : 1,
			minView : "month",
			todayBtn : 1,
			initialDate:new Date(),
			autoclose : 1,
			todayHighlight : 1,
			startView : 2,
			forceParse : 0,
			showMeridian : 0
		}).on('changeDate', function(ev) {
			initTable();
		});
		$("#starttime").val((new Date()).formatDate("yyyy-MM-dd hh:mm:ss"));
		$("#defaultdate").val((new Date()).formatDate("yyyy-MM-dd hh:mm:ss"));
	}
	
	function initTable(){
		$("#datepanel").show();
		var starttime = $("#starttime").val()
		var week = $("input[name='week']:checked");
		var option = $("input[name='option']");
		var checkOption = $("input[name='option']:checked");
		var count = $("#totalhour").val();
		var param = {};
		//param.type="week";周
		//param.type="month";月
		param.week = [];
		param.count = count;
		param.option = [];
		param.checkOption = [];
		for (var i = 0; i < week.length; i++) {
			param.week.push(week[i].value);
		}
		for (var i = 0; i < checkOption.length; i++) {
			param.checkOption.push(checkOption[i]);
		}
		param.default_option = [];
		param.starttime = starttime;
		incount = 1;
		initElement(param);
	}
	//+---------------------------------------------------
	//| 日期计算
	//+---------------------------------------------------
	Date.prototype.DateAdd = function(strInterval, Number) {
		var dtTmp = this;
		switch (strInterval) {
		case 's':
			return new Date(Date.parse(dtTmp) + (1000 * Number));
		case 'n':
			return new Date(Date.parse(dtTmp) + (60000 * Number));
		case 'h':
			return new Date(Date.parse(dtTmp) + (3600000 * Number));
		case 'd':
			return new Date(Date.parse(dtTmp) + (86400000 * Number));
		case 'w':
			return new Date(Date.parse(dtTmp) + ((86400000 * 7) * Number));
		case 'q':
			return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number
					* 3, dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(),
					dtTmp.getSeconds());
		case 'm':
			return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number,
					dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(),
					dtTmp.getSeconds());
		case 'y':
			return new Date((dtTmp.getFullYear() + Number), dtTmp.getMonth(),
					dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(),
					dtTmp.getSeconds());
		}
	}
	/***  
	 * 获得本月的起止时间  
	 */
	function getCurrentMonth(date1) {
		//起止日期数组    
		var startStop = new Array();
		//获取当前时间    
		var currentDate = new Date(date1);
		//获得当前月份0-11    
		var currentMonth = currentDate.getMonth();
		//获得当前年份4位年    
		var currentYear = currentDate.getFullYear();
		//求出本月第一天    
		var firstDay = new Date(currentYear, currentMonth, 1);
		//当为12月的时候年份需要加1    
		//月份需要更新为0 也就是下一年的第一个月    
		if (currentMonth == 11) {
			currentYear++;
			currentMonth = 0; //就为    
		} else {
			//否则只是月份增加,以便求的下一月的第一天    
			currentMonth++;
		}
		//一天的毫秒数    
		var millisecond = 1000 * 60 * 60 * 24;
		//下月的第一天    
		var nextMonthDayOne = new Date(currentYear, currentMonth, 1);
		//求出上月的最后一天    
		var lastDay = new Date(nextMonthDayOne.getTime() - millisecond);

		//添加至数组中返回    
		startStop.push(firstDay);
		startStop.push(lastDay);
		//返回    
		return startStop;
	};
	/* 两个日期相隔多少天 */
	function compareDate(first, second, sign) {
		fArray = first.split(sign);
		sArray = second.split(sign);
		var fDate = new Date(fArray[0], fArray[1], fArray[2]);
		var sDate = new Date(sArray[0], sArray[1], sArray[2]);

		var t = Math.abs(fDate.getTime() - sDate.getTime());
		var days = t / (1000 * 60 * 60 * 24);
		return days;
	}
</script>
</html>
