<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>新增</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getMenuLinksHref("campusincomeweeklystatpost"),
    					method:'POST',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			if(data == 1){
    		  				location.href="list.html";
    		  			}
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
			$scope.initselect = function() {
			$http({
				url : parent.getMenuLinksHref("orgregionslist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : ''
				}).success(function(data, status, headers, config) {
					$scope.selects = data;
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		//$scope.initselect();
		})
	</script>
</head>
  
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    		</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度" name="yearkey" ng-model="formData.yearkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度" name="quarterkey" ng-model="formData.quarterkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月份</span>
	           		<input type="text" class="form-control required" placeholder="请输入月份" name="monthkey" ng-model="formData.monthkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">周</span>
	           		<input type="text" class="form-control required" placeholder="请输入周" name="weekkey" ng-model="formData.weekkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周开始日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周开始日期" name="startdayofweek" ng-model="formData.startdayofweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周结束日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周结束日期" name="enddayofweek" ng-model="formData.enddayofweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周开始日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周开始日期" name="startdayoflastweek" ng-model="formData.startdayoflastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周结束日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周结束日期" name="enddayoflastweek" ng-model="formData.enddayoflastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周开始日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周开始日期" name="startdayofnextweek" ng-model="formData.startdayofnextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周结束日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周结束日期" name="enddayofnextweek" ng-model="formData.enddayofnextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">大区ID</span>
	   		 		<select class="form-control required" name="regionid" ng-model="formData.regionid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择大区ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">大区</span>
	           		<input type="text" class="form-control required" placeholder="请输入大区" name="regionname" ng-model="formData.regionname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">分公司ID</span>
	   		 		<select class="form-control required" name="branchid" ng-model="formData.branchid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择分公司ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分公司</span>
	           		<input type="text" class="form-control required" placeholder="请输入分公司" name="branchname" ng-model="formData.branchname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">校区ID</span>
	   		 		<select class="form-control required" name="campusid" ng-model="formData.campusid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择校区ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区" name="campusname" ng-model="formData.campusname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">有效学生数</span>
	           		<input type="text" class="form-control required" placeholder="请输入有效学生数" name="availablecustomernumber" ng-model="formData.availablecustomernumber" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度预算任务" name="incometaskyear" ng-model="formData.incometaskyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度一对一收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度一对一收入" name="onetooneincomeyear" ng-model="formData.onetooneincomeyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度班组收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度班组收入" name="classgroupincomeyear" ng-model="formData.classgroupincomeyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度其它收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度其它收入" name="otherincomeyear" ng-model="formData.otherincomeyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">去年同期年度收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入去年同期年度收入" name="totalincomeyearlastyear" ng-model="formData.totalincomeyearlastyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度预算任务" name="incometaskquarter" ng-model="formData.incometaskquarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度一对一收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度一对一收入" name="onetooneincomequarter" ng-model="formData.onetooneincomequarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度班组收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度班组收入" name="classgroupincomequarter" ng-model="formData.classgroupincomequarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度其它收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度其它收入" name="otherincomequarter" ng-model="formData.otherincomequarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">去年同期季度收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入去年同期季度收入" name="totalincomequarterlastyear" ng-model="formData.totalincomequarterlastyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度预算任务" name="incometaskmonth" ng-model="formData.incometaskmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度一对一收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度一对一收入" name="onetooneincomemonth" ng-model="formData.onetooneincomemonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度班组收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度班组收入" name="classgroupincomemonth" ng-model="formData.classgroupincomemonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度其它收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度其它收入" name="otherincomemonth" ng-model="formData.otherincomemonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">去年同期月度收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入去年同期月度收入" name="totalincomemonthlastyear" ng-model="formData.totalincomemonthlastyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周收入预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周收入预算任务" name="incometasklastweek" ng-model="formData.incometasklastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周一对一收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周一对一收入" name="onetooneincomelastweek" ng-model="formData.onetooneincomelastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周班组收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周班组收入" name="classgroupincomelastweek" ng-model="formData.classgroupincomelastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周其它收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周其它收入" name="otherincomelastweek" ng-model="formData.otherincomelastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周预排收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周预排收入" name="totalassignmoneylastweek" ng-model="formData.totalassignmoneylastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">去年同期上周收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入去年同期上周收入" name="totalincomelastweeklastyear" ng-model="formData.totalincomelastweeklastyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周收入预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周收入预算任务" name="incometaskthisweek" ng-model="formData.incometaskthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">去年同期本周收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入去年同期本周收入" name="incomethisweeklastyear" ng-model="formData.incomethisweeklastyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周预排上课人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周预排上课人数" name="assignnumberthisweek" ng-model="formData.assignnumberthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周预排课时量</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周预排课时量" name="assignamountthisweek" ng-model="formData.assignamountthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周预排收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周预排收入" name="assignmoneythisweek" ng-model="formData.assignmoneythisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周未预排总人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周未预排总人数" name="nonassignnumberthisweek" ng-model="formData.nonassignnumberthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周可用订单余额总计</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周可用订单余额总计" name="totalavailableordermoneythisweek" ng-model="formData.totalavailableordermoneythisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周期望排课课时</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周期望排课课时" name="expectassignamountthisweek" ng-model="formData.expectassignamountthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周期望收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周期望收入" name="expectincomethisweek" ng-model="formData.expectincomethisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周收入预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周收入预算任务" name="incometasknextweek" ng-model="formData.incometasknextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">去年同期下周收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入去年同期下周收入" name="incomenextweeklastyear" ng-model="formData.incomenextweeklastyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周预排上课人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周预排上课人数" name="assignnumbernextweek" ng-model="formData.assignnumbernextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周预排课时量</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周预排课时量" name="assignamountnextweek" ng-model="formData.assignamountnextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周预排收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周预排收入" name="assignmoneynextweek" ng-model="formData.assignmoneynextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周未预排总人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周未预排总人数" name="nonassignnumbernextweek" ng-model="formData.nonassignnumbernextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周可用订单余额总计</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周可用订单余额总计" name="totalavailableordermoneynextweek" ng-model="formData.totalavailableordermoneynextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周期望排课课时</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周期望排课课时" name="expectassignamountnextweek" ng-model="formData.expectassignamountnextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下周期望收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入下周期望收入" name="expectincomenextweek" ng-model="formData.expectincomenextweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">当月剩余时间预排收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入当月剩余时间预排收入" name="remainassignmoneythismonth" ng-model="formData.remainassignmoneythismonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">当月总预排收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入当月总预排收入" name="totalassignmoneythismonth" ng-model="formData.totalassignmoneythismonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">当月预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入当月预算任务" name="incometaskthismonth" ng-model="formData.incometaskthismonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下月预估收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入下月预估收入" name="incomeplannextmonth" ng-model="formData.incomeplannextmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下月预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入下月预算任务" name="incometasknextmonth" ng-model="formData.incometasknextmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下下月预估收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入下下月预估收入" name="incomeplanmonthafternextmonth" ng-model="formData.incomeplanmonthafternextmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">下下月预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入下下月预算任务" name="incometaskmonthafternextmonth" ng-model="formData.incometaskmonthafternextmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	        </div>
    </form>
  </body>
</html>
