<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
			$scope.formData = {};
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data
				}).error(function(data, status, headers, config){
					response(status);
				});
			$scope.onReturn=function(){
				history.go(-1);
			}
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getFunctionLinksHref("self"),
    					method:'PUT',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			location.href="list.html";
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
			$scope.initselect = function() {
			$http({
				url : parent.getMenuLinksHref("orgregionslist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : ''
				}).success(function(data, status, headers, config) {
					$scope.selects = data;
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		//$scope.initselect();
		})
	</script>
</head>
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">快照ID</span>
	   		 		<select class="form-control required" name="snapshotid" ng-model="formData.snapshotid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择快照ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入时间" name="dt" ng-model="formData.dt" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">大区ID</span>
	   		 		<select class="form-control required" name="regionid" ng-model="formData.regionid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择大区ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">大区名</span>
	           		<input type="text" class="form-control required" placeholder="请输入大区名" name="regionname" ng-model="formData.regionname" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">分公司ID</span>
	   		 		<select class="form-control required" name="branchid" ng-model="formData.branchid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择分公司ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分公司名</span>
	           		<input type="text" class="form-control required" placeholder="请输入分公司名" name="branchname" ng-model="formData.branchname" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">校区ID</span>
	   		 		<select class="form-control required" name="campusid" ng-model="formData.campusid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择校区ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区名</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区名" name="campusname" ng-model="formData.campusname" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth"></span>
	   		 		<select class="form-control required" name="orgid" ng-model="formData.orgid" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">区域</span>
	           		<input type="text" class="form-control required" placeholder="请输入区域" name="orgname" ng-model="formData.orgname" maxlength="100">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校龄</span>
	           		<input type="text" class="form-control required" placeholder="请输入校龄" name="campusmonth" ng-model="formData.campusmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">岗位名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入岗位名称" name="jobname" ng-model="formData.jobname" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">岗位性质</span>
	           		<input type="text" class="form-control required" placeholder="请输入岗位性质" name="jobnature" ng-model="formData.jobnature" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">全职在职人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入全职在职人数" name="fulltimecount" ng-model="formData.fulltimecount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">全职上课人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入全职上课人数" name="fulltimeteachcount" ng-model="formData.fulltimeteachcount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">兼职在职人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入兼职在职人数" name="parttimecount" ng-model="formData.parttimecount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">兼职上课人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入兼职上课人数" name="parttimeteachcount" ng-model="formData.parttimeteachcount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">员工姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入员工姓名" name="staffname" ng-model="formData.staffname" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员归属</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员归属" name="customercount" ng-model="formData.customercount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上课学员</span>
	           		<input type="text" class="form-control required" placeholder="请输入上课学员" name="customerclasscount" ng-model="formData.customerclasscount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">高三上课</span>
	           		<input type="text" class="form-control required" placeholder="请输入高三上课" name="customerg3classcount" ng-model="formData.customerg3classcount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">有效学员</span>
	           		<input type="text" class="form-control required" placeholder="请输入有效学员" name="customeravailablecount" ng-model="formData.customeravailablecount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">高三有效</span>
	           		<input type="text" class="form-control required" placeholder="请输入高三有效" name="customerg3availablecount" ng-model="formData.customerg3availablecount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">停课学员</span>
	           		<input type="text" class="form-control required" placeholder="请输入停课学员" name="customerclasssuspendedcount" ng-model="formData.customerclasssuspendedcount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">休学学员</span>
	           		<input type="text" class="form-control required" placeholder="请输入休学学员" name="customerschoolsuspendedcount" ng-model="formData.customerschoolsuspendedcount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">结课学员</span>
	           		<input type="text" class="form-control required" placeholder="请输入结课学员" name="customerclassfinishedcount" ng-model="formData.customerclassfinishedcount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师课时量（所有）</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师课时量（所有）" name="allteacherassignedamount" ng-model="formData.allteacherassignedamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师课时量(所有)去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师课时量(所有)去年同期" name="allteacherassignedamountvol" ng-model="formData.allteacherassignedamountvol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师课时量（所有）同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师课时量（所有）同比差额" name="allteacherassignedamountyoydiff" ng-model="formData.allteacherassignedamountyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师课时量（所有）同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师课时量（所有）同比率" name="allteacherassignedamountyoy" ng-model="formData.allteacherassignedamountyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师课时量任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师课时量任务" name="allteacherassignedamounttask" ng-model="formData.allteacherassignedamounttask" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth"></span>
	           		<input type="text" class="form-control required" placeholder="请输入" name="allteacherassignedamounttcr" ng-model="formData.allteacherassignedamounttcr" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生课时量（所有）</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生课时量（所有）" name="allcustomerassignedamount" ng-model="formData.allcustomerassignedamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生课时量去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生课时量去年同期" name="allcustomerassignedamountvol" ng-model="formData.allcustomerassignedamountvol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生课时量同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生课时量同比差额" name="allcustomerassignedamountyoydiff" ng-model="formData.allcustomerassignedamountyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生课时量同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生课时量同比率" name="allcustomerassignedamountyoy" ng-model="formData.allcustomerassignedamountyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">课时收入(所有)</span>
	           		<input type="text" class="form-control required" placeholder="请输入课时收入(所有)" name="allassignedincome" ng-model="formData.allassignedincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">课时收入(所有)去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入课时收入(所有)去年同期" name="allassignedincomevol" ng-model="formData.allassignedincomevol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">课时收入(所有)同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入课时收入(所有)同比差额" name="allassignedincomeyoydiff" ng-model="formData.allassignedincomeyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">课时收入(所有)同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入课时收入(所有)同比率" name="allassignedincomeyoy" ng-model="formData.allassignedincomeyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时量</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时量" name="onetooneassignedamount" ng-model="formData.onetooneassignedamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时量去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时量去年同期" name="onetooneassignedamountvol" ng-model="formData.onetooneassignedamountvol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时量同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时量同比差额" name="onetooneassignedamountyoydiff" ng-model="formData.onetooneassignedamountyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时量同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时量同比率" name="onetooneassignedamountyoy" ng-model="formData.onetooneassignedamountyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时收入" name="onetooneassignedincome" ng-model="formData.onetooneassignedincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时收入去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时收入去年同期" name="onetooneassignedincomevol" ng-model="formData.onetooneassignedincomevol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时收入同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时收入同比差额" name="onetooneassignedincomeyoydiff" ng-model="formData.onetooneassignedincomeyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1课时收入同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1课时收入同比率" name="onetooneassignedincomeyoy" ng-model="formData.onetooneassignedincomeyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1上课人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1上课人数" name="onetoonecustomercount" ng-model="formData.onetoonecustomercount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1上课人数去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1上课人数去年同期" name="onetoonecustomercountvol" ng-model="formData.onetoonecustomercountvol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1上课人数同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1上课人数同比差额" name="onetoonecustomercountyoydiff" ng-model="formData.onetoonecustomercountyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">1对1上课人数同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入1对1上课人数同比率" name="onetoonecustomercountyoy" ng-model="formData.onetoonecustomercountyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师班组课时量</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师班组课时量" name="teacherclassgroupassignedamount" ng-model="formData.teacherclassgroupassignedamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师班组课时量去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师班组课时量去年同期" name="teacherclassgroupassignedamountvol" ng-model="formData.teacherclassgroupassignedamountvol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师班组课时量同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师班组课时量同比差额" name="teacherclassgroupassignedamountyoydiff" ng-model="formData.teacherclassgroupassignedamountyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">教师班组课时量同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入教师班组课时量同比率" name="teacherclassgroupassignedamountyoy" ng-model="formData.teacherclassgroupassignedamountyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生班组课时量</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生班组课时量" name="customerclassgroupassignedamount" ng-model="formData.customerclassgroupassignedamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生班组课时量去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生班组课时量去年同期" name="customerclassgroupassignedamountvol" ng-model="formData.customerclassgroupassignedamountvol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生班组课时量同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生班组课时量同比差额" name="customerclassgroupassignedamountyoydiff" ng-model="formData.customerclassgroupassignedamountyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生班组课时量同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入学生班组课时量同比率" name="customerclassgroupassignedamountyoy" ng-model="formData.customerclassgroupassignedamountyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组课时收入</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组课时收入" name="classgroupassignedincome" ng-model="formData.classgroupassignedincome" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组课时收入去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组课时收入去年同期" name="classgroupassignedincomevol" ng-model="formData.classgroupassignedincomevol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组课时收入同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组课时收入同比差额" name="classgroupassignedincomeyoydiff" ng-model="formData.classgroupassignedincomeyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组课时收入同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组课时收入同比率" name="classgroupassignedincomeyoy" ng-model="formData.classgroupassignedincomeyoy" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组上课人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组上课人数" name="classgroupcustomercount" ng-model="formData.classgroupcustomercount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组上课人数去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组上课人数去年同期" name="classgroupcustomercountvol" ng-model="formData.classgroupcustomercountvol" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组上课人数同比差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组上课人数同比差额" name="classgroupcustomercountyoydiff" ng-model="formData.classgroupcustomercountyoydiff" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">班组上课人数同比率</span>
	           		<input type="text" class="form-control required" placeholder="请输入班组上课人数同比率" name="classgroupcustomercountyoy" ng-model="formData.classgroupcustomercountyoy" maxlength="50">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">续生率</span>
	           		<input type="text" class="form-control required" placeholder="请输入续生率" name="customerrenewalrate" ng-model="formData.customerrenewalrate" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">生均小时</span>
	           		<input type="text" class="form-control required" placeholder="请输入生均小时" name="customeraveragehour" ng-model="formData.customeraveragehour" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">生均课时</span>
	           		<input type="text" class="form-control required" placeholder="请输入生均课时" name="customeraverageaddignedamount" ng-model="formData.customeraverageaddignedamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">全职教师人均产能</span>
	           		<input type="text" class="form-control required" placeholder="请输入全职教师人均产能" name="fulltimeteacheraveragehour" ng-model="formData.fulltimeteacheraveragehour" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">全兼职课时占比</span>
	           		<input type="text" class="form-control required" placeholder="请输入全兼职课时占比" name="parttimeteacheraveragehourpercent" ng-model="formData.parttimeteacheraveragehourpercent" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">流失率</span>
	           		<input type="text" class="form-control required" placeholder="请输入流失率" name="customerlossrate" ng-model="formData.customerlossrate" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入转介绍人数" name="customertransferintroductioncount" ng-model="formData.customertransferintroductioncount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">客户满意度</span>
	           		<input type="text" class="form-control required" placeholder="请输入客户满意度" name="customersatisfactiondegree" ng-model="formData.customersatisfactiondegree" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">充值金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入充值金额" name="rechargeamount" ng-model="formData.rechargeamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">充值人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入充值人数" name="rechargecount" ng-model="formData.rechargecount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入退费金额" name="refundamount" ng-model="formData.refundamount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入退费人数" name="refundcount" ng-model="formData.refundcount" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
   		</div>
    </form>
  </body>
</html>
