<!DOCTYPE html>
<html ng-app="info">
  <head>
    <title>查看</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <!-- 初始化 -->
    <script type="text/javascript">
		var info = angular.module("info", []);
		info.controller("controller",function($scope, $http) {
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data;
				}).error(function(data, status, headers, config){
					response(status);
				});
		})
	</script>
  </head>
  <body ng-controller="controller">
  		 <div class="col-lg-12 topActionPanel">
	        <div>
	    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
    		</div>
    	</div>
   		<div class="col-lg-6 viewFixedWidth">
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">ID</span>
           	<input type="text" class="form-control" value="{{formData.id}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">岗位名称</span>
           	<input type="text" class="form-control" value="{{formData.jobname}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">岗位组织机构ID（一般指学科组ID）</span>
           	<input type="text" class="form-control" value="{{formData.joborgid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">岗位组织机构名称（一般指学科组名称）</span>
           	<input type="text" class="form-control" value="{{formData.joborgname}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">岗位组织机构类型（一般指学科组）</span>
           	<input type="text" class="form-control" value="{{formData.joborgtype}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">岗位状态（0-在职，1-全职）</span>
           	<input type="text" class="form-control" value="{{formData.jobstatus}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">教师ID</span>
           	<input type="text" class="form-control" value="{{formData.teacherid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">校区ID</span>
           	<input type="text" class="form-control" value="{{formData.campusid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">校区名称</span>
           	<input type="text" class="form-control" value="{{formData.campusname}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">是否全职</span>
           	<input type="text" class="form-control" value="{{formData.isfulltime}}" disabled>
           </div>
   	</div>
  </body>
</html>
