<!DOCTYPE html>
<html ng-app="add">
<head>
<title>教师-修改</title>

<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css"
	href="../../../../resource/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../../../../resource/css/common.css">
<script type="text/javascript"
	src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/jquery.cookie.js"></script>
<script src="../../../../resource/js/date/js/eap.core.js"></script>
<!-- 表单验证 -->
<link rel="stylesheet" type="text/css"
	href="../../../../resource/js/validate/css/validate.css" />
<script type="text/javascript"
	src="../../../../resource/js/validate/js/eap.tip.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/validate/js/eap.validate.js"></script>
<script type="text/javascript"
	src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 公共的 -->
<script type="text/javascript" src="../../../../resource/js/util.js"></script>
<!-- 引用控制层插件样式 -->
<link rel="stylesheet"
	href="../../../../resource/css/zyfile/control/css/zyUpload.css"
	type="text/css">
<!-- 引用核心层插件 -->
<script type="text/javascript"
	src="../../../../resource/js/zyfile/core/zyFile.js"></script>
<!-- 引用控制层插件 -->
<script type="text/javascript"
	src="../../../../resource/js/zyfile/control/js/zyUpload.js"></script>
<script type="text/javascript">
	var add = angular.module("add", []);
	add
			.controller(
					"updateController",
					function($scope, $http) {

						$scope.initsex = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify({
											typecode : 900
										})
									}).success(
									function(data, status, headers, config) {
										$scope.dsex = data;
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}
						
						$scope.initschools = function() {
							$http({
								url : parent.getMenuLinksHref("schoollist"),
								method : 'POST',
								dataType : "json",
								withCredentials : true,
								headers : {
									'Content-Type' : 'application/json;charset=UTF-8;'
								},
								data : ""
							}).success(function(data, status, headers, config) {
								$scope.schools = data;
							}).error(function(data, status, headers, config) {
								//处理响应失败
								response(status);
							})
						}

						$scope.inittype = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify({
											typecode : 550
										})
									}).success(
									function(data, status, headers, config) {
										$scope.dtype = data;
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}

						$scope.initgrade = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify({
											typecode : 300
										})
									}).success(
									function(data, status, headers, config) {
										$scope.dgrade = data;
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}

						$scope.initage = function() {
							$http(
									{
										url : parent
												.getMenuLinksHref("admindictionaryself"),
										method : 'POST',
										dataType : "json",
										withCredentials : true,
										headers : {
											'Content-Type' : 'application/json;charset=UTF-8;'
										},
										data : JSON.stringify({
											typecode : 100
										})
									}).success(
									function(data, status, headers, config) {
										$scope.dage = data;
									}).error(
									function(data, status, headers, config) {
										//处理响应失败
										response(status);
									})
						}

						$scope.formData = {};
						$http(
								{
									url : parent.getFunctionLinksHref("self"),
									method : 'GET',
									dataType : "json",
									withCredentials : true,
									headers : {
										'Content-Type' : 'application/json;charset=UTF-8;'
									},
									data : ''
								})
								.success(
										function(data, status, headers, config) {
											//响应成功
											$scope.formData = data

											// 初始化插件
											$("#img")
													.zyUpload(
															{
																width : "500px", // 宽度
																height : "176.5px", // 宽度
																itemWidth : "120px", // 文件项的宽度
																itemHeight : "150px", // 文件项的高度
																url : parent.sys.moreFileUrl, // 上传文件的路径
																multiple : false, // 是否可以多个文件上传
																dragDrop : false, // 是否可以拖动上传文件
																del : true, // 是否可以删除文件
																finishDel : false, // 是否在上传文件完成后删除预览
																needFlage : "1", //是否必须选择文件 0是是，1是否 
																acitionType : "update", //update页面控制按钮隐藏
																uploadInput : $("#submit"),
																onComplete : function(
																		responseInfo) {
																	//submitForm(); // 上传完成的回调方法
																	var appElement = document.querySelector('[ng-controller=updateController]');
																	var $scope = angular.element(appElement).scope();
																	$scope.onPreserved();
																}
															},
															{
																imgUrl : $scope.formData.headerimg,
																inputId : "headerimg"
															});

										})
								.error(function(data, status, headers, config) {
									//处理响应失败
									response(status);
								});
						//返回
						$scope.onReturn = function() {
							history.go(-1);
						}
						//保存
						$scope.onPreserved = function() {
							initbind("updateController");
							var isValid = $("#saveForm").valid();
							if (isValid) {
								$http(
										{
											url : parent
													.getFunctionLinksHref("self"),
											method : 'PUT',
											dataType : "json",
											withCredentials : true,
											headers : {
												'Content-Type' : 'application/json;charset=UTF-8;'
											},
											data : JSON
													.stringify($scope.formData)
										})
										.success(
												function(data, status, headers,
														config) {
													location.href = "list.html";
												}).error(
												function(data, status, headers,
														config) {
													//处理响应失败
													response(status);
												})
							}
						}

						$scope.inittype();
						$scope.initsex();
						$scope.initgrade();
						$scope.initage();
						$scope.initschools();
					})
</script>
</head>

<body ng-controller="updateController">
	<form method="post" id="saveForm" action="">
		<!-- 操作按钮操作区 -->
		<div class="col-lg-12 topActionPanel">
			<div>
				<button type="button" class="btn btn-primary" id="submit">确
					定</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary" ng-click="onReturn()">返
					回</button>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group input-group-sm">
			<input type="hidden" class="form-control" id="version" name="version" ng-model="formData.version">
				<span class="input-group-addon text-right spanwidth">名称</span> <input
					type="text" class="form-control required" placeholder="请输入名称"
					name="name" ng-model="formData.name" maxlength="32"> <span
					class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片&nbsp;&nbsp;&nbsp;</span>
				<div id="img" class="img"></div>
				<input type="hidden" id="headerimg" class="form-control inputchange"
					ng-model="formData.headerimg" />
					<span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">年级</span> <select
					class="form-control required" ng-model="formData.grade" id="grade"
					name="grade"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dgrade">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">学校</span> <select
					class="form-control required" ng-model="formData.school_id" id="school_id"
					name="school_id"
					ng-options="sch.school.id as sch.school.name for sch in schools">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">电话</span> <input
					type="text" class="form-control required mobile" name="mobile"
					placeholder="请输入电话" ng-model="formData.mobile" maxlength="12">
				<span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">工作性质</span> <select
					class="form-control required" ng-model="formData.type" id="type" name="type"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dtype">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">年龄</span> <select
					class="form-control required" ng-model="formData.age" id="age" name="age"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dage">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">性别</span> <select
					class="form-control required" ng-model="formData.sex" id="sex" name="sex"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dsex">
					<option value="">请选择</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth"
					style="height: 150px;">备&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;</span>

				<textarea class="txtVal form-control" style="height: 150px;"
					ng-model="formData.remark"></textarea>

			</div>
		</div>
	</form>
</body>
</html>
