<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.AssignsaccompaniesMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,assigntime,assignstatus,campusid,campusname,assignprice,assignsource,assignmemo,copyallowed,confirmid,confirmtime,confirmstatus,confirmprice,assetid,assetcode,customerid,accountid,customercode,customername,productid,productcode,productname,categorytype,categorytypename,roomid,roomcode,roomname,teacherid,teachername,teacherjobid,teacherjoborgid,teacherjoborgname,teacheroacode,isfulltimeteacher,consultantid,consultantname,consultantjobid,educatorid,educatorname,educatorjobid,grade,gradename,subject,subjectname,durationvalue,amount,starttime,endtime,creatorid,creatorname,createtime,modifierid,modifiername,modifytime
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.Assignsaccompanies">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="assigntime" column="assigntime" />
         <id property="assignstatus" column="assignstatus" />
         <id property="campusid" column="campusid" />
         <id property="campusname" column="campusname" />
         <id property="assignprice" column="assignprice" />
         <id property="assignsource" column="assignsource" />
         <id property="assignmemo" column="assignmemo" />
         <id property="copyallowed" column="copyallowed" />
         <id property="confirmid" column="confirmid" />
         <id property="confirmtime" column="confirmtime" />
         <id property="confirmstatus" column="confirmstatus" />
         <id property="confirmprice" column="confirmprice" />
         <id property="assetid" column="assetid" />
         <id property="assetcode" column="assetcode" />
         <id property="customerid" column="customerid" />
         <id property="accountid" column="accountid" />
         <id property="customercode" column="customercode" />
         <id property="customername" column="customername" />
         <id property="productid" column="productid" />
         <id property="productcode" column="productcode" />
         <id property="productname" column="productname" />
         <id property="categorytype" column="categorytype" />
         <id property="categorytypename" column="categorytypename" />
         <id property="roomid" column="roomid" />
         <id property="roomcode" column="roomcode" />
         <id property="roomname" column="roomname" />
         <id property="teacherid" column="teacherid" />
         <id property="teachername" column="teachername" />
         <id property="teacherjobid" column="teacherjobid" />
         <id property="teacherjoborgid" column="teacherjoborgid" />
         <id property="teacherjoborgname" column="teacherjoborgname" />
         <id property="teacheroacode" column="teacheroacode" />
         <id property="isfulltimeteacher" column="isfulltimeteacher" />
         <id property="consultantid" column="consultantid" />
         <id property="consultantname" column="consultantname" />
         <id property="consultantjobid" column="consultantjobid" />
         <id property="educatorid" column="educatorid" />
         <id property="educatorname" column="educatorname" />
         <id property="educatorjobid" column="educatorjobid" />
         <id property="grade" column="grade" />
         <id property="gradename" column="gradename" />
         <id property="subject" column="subject" />
         <id property="subjectname" column="subjectname" />
         <id property="durationvalue" column="durationvalue" />
         <id property="amount" column="amount" />
         <id property="starttime" column="starttime" />
         <id property="endtime" column="endtime" />
         <id property="creatorid" column="creatorid" />
         <id property="creatorname" column="creatorname" />
         <id property="createtime" column="createtime" />
         <id property="modifierid" column="modifierid" />
         <id property="modifiername" column="modifiername" />
         <id property="modifytime" column="modifytime" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.Assignsaccompanies">
  insert into assignsaccompanies (id,assigntime,assignstatus,campusid,campusname,assignprice,assignsource,assignmemo,copyallowed,confirmid,confirmtime,confirmstatus,confirmprice,assetid,assetcode,customerid,accountid,customercode,customername,productid,productcode,productname,categorytype,categorytypename,roomid,roomcode,roomname,teacherid,teachername,teacherjobid,teacherjoborgid,teacherjoborgname,teacheroacode,isfulltimeteacher,consultantid,consultantname,consultantjobid,educatorid,educatorname,educatorjobid,grade,gradename,subject,subjectname,durationvalue,amount,starttime,endtime,creatorid,creatorname,createtime,modifierid,modifiername,modifytime)
         values (#{id},#{assigntime},#{assignstatus},#{campusid},#{campusname},#{assignprice},#{assignsource},#{assignmemo},#{copyallowed},#{confirmid},#{confirmtime},#{confirmstatus},#{confirmprice},#{assetid},#{assetcode},#{customerid},#{accountid},#{customercode},#{customername},#{productid},#{productcode},#{productname},#{categorytype},#{categorytypename},#{roomid},#{roomcode},#{roomname},#{teacherid},#{teachername},#{teacherjobid},#{teacherjoborgid},#{teacherjoborgname},#{teacheroacode},#{isfulltimeteacher},#{consultantid},#{consultantname},#{consultantjobid},#{educatorid},#{educatorname},#{educatorjobid},#{grade},#{gradename},#{subject},#{subjectname},#{durationvalue},#{amount},#{starttime},#{endtime},#{creatorid},#{creatorname},#{createtime},#{modifierid},#{modifiername},#{modifytime})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from assignsaccompanies 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.Assignsaccompanies">
    update assignsaccompanies
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="assigntime != null">
                   assigntime = #{assigntime},
             </if>
             <if test="assignstatus != null">
                   assignstatus = #{assignstatus},
             </if>
             <if test="campusid != null">
                   campusid = #{campusid},
             </if>
             <if test="campusname != null">
                   campusname = #{campusname},
             </if>
             <if test="assignprice != null">
                   assignprice = #{assignprice},
             </if>
             <if test="assignsource != null">
                   assignsource = #{assignsource},
             </if>
             <if test="assignmemo != null">
                   assignmemo = #{assignmemo},
             </if>
             <if test="copyallowed != null">
                   copyallowed = #{copyallowed},
             </if>
             <if test="confirmid != null">
                   confirmid = #{confirmid},
             </if>
             <if test="confirmtime != null">
                   confirmtime = #{confirmtime},
             </if>
             <if test="confirmstatus != null">
                   confirmstatus = #{confirmstatus},
             </if>
             <if test="confirmprice != null">
                   confirmprice = #{confirmprice},
             </if>
             <if test="assetid != null">
                   assetid = #{assetid},
             </if>
             <if test="assetcode != null">
                   assetcode = #{assetcode},
             </if>
             <if test="customerid != null">
                   customerid = #{customerid},
             </if>
             <if test="accountid != null">
                   accountid = #{accountid},
             </if>
             <if test="customercode != null">
                   customercode = #{customercode},
             </if>
             <if test="customername != null">
                   customername = #{customername},
             </if>
             <if test="productid != null">
                   productid = #{productid},
             </if>
             <if test="productcode != null">
                   productcode = #{productcode},
             </if>
             <if test="productname != null">
                   productname = #{productname},
             </if>
             <if test="categorytype != null">
                   categorytype = #{categorytype},
             </if>
             <if test="categorytypename != null">
                   categorytypename = #{categorytypename},
             </if>
             <if test="roomid != null">
                   roomid = #{roomid},
             </if>
             <if test="roomcode != null">
                   roomcode = #{roomcode},
             </if>
             <if test="roomname != null">
                   roomname = #{roomname},
             </if>
             <if test="teacherid != null">
                   teacherid = #{teacherid},
             </if>
             <if test="teachername != null">
                   teachername = #{teachername},
             </if>
             <if test="teacherjobid != null">
                   teacherjobid = #{teacherjobid},
             </if>
             <if test="teacherjoborgid != null">
                   teacherjoborgid = #{teacherjoborgid},
             </if>
             <if test="teacherjoborgname != null">
                   teacherjoborgname = #{teacherjoborgname},
             </if>
             <if test="teacheroacode != null">
                   teacheroacode = #{teacheroacode},
             </if>
             <if test="isfulltimeteacher != null">
                   isfulltimeteacher = #{isfulltimeteacher},
             </if>
             <if test="consultantid != null">
                   consultantid = #{consultantid},
             </if>
             <if test="consultantname != null">
                   consultantname = #{consultantname},
             </if>
             <if test="consultantjobid != null">
                   consultantjobid = #{consultantjobid},
             </if>
             <if test="educatorid != null">
                   educatorid = #{educatorid},
             </if>
             <if test="educatorname != null">
                   educatorname = #{educatorname},
             </if>
             <if test="educatorjobid != null">
                   educatorjobid = #{educatorjobid},
             </if>
             <if test="grade != null">
                   grade = #{grade},
             </if>
             <if test="gradename != null">
                   gradename = #{gradename},
             </if>
             <if test="subject != null">
                   subject = #{subject},
             </if>
             <if test="subjectname != null">
                   subjectname = #{subjectname},
             </if>
             <if test="durationvalue != null">
                   durationvalue = #{durationvalue},
             </if>
             <if test="amount != null">
                   amount = #{amount},
             </if>
             <if test="starttime != null">
                   starttime = #{starttime},
             </if>
             <if test="endtime != null">
                   endtime = #{endtime},
             </if>
             <if test="creatorid != null">
                   creatorid = #{creatorid},
             </if>
             <if test="creatorname != null">
                   creatorname = #{creatorname},
             </if>
             <if test="createtime != null">
                   createtime = #{createtime},
             </if>
             <if test="modifierid != null">
                   modifierid = #{modifierid},
             </if>
             <if test="modifiername != null">
                   modifiername = #{modifiername},
             </if>
             <if test="modifytime != null">
                   modifytime = #{modifytime}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from assignsaccompanies 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from assignsaccompanies 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from assignsaccompanies 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from assignsaccompanies 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from assignsaccompanies 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from assignsaccompanies 
        <where>
        1=1
             <if test="array != null and array != ''">
       	and id in
        	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           	#{item}
        	</foreach>
             </if>
        </where>
 </select>
</mapper>