<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.CampusDaytaskMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,regionid,branchid,campusid,campusname,tasktype,year,month,d01,d02,d03,d04,d05,d06,d07,d08,d09,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31,createtime,creatorid,creatorname,creatorjobname,modifytime,modifierid,modifiername,modifierjobname
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.CampusDaytask">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="regionid" column="regionid" />
         <id property="branchid" column="branchid" />
         <id property="campusid" column="campusid" />
         <id property="campusname" column="campusname" />
         <id property="tasktype" column="tasktype" />
         <id property="year" column="year" />
         <id property="month" column="month" />
         <id property="d01" column="d01" />
         <id property="d02" column="d02" />
         <id property="d03" column="d03" />
         <id property="d04" column="d04" />
         <id property="d05" column="d05" />
         <id property="d06" column="d06" />
         <id property="d07" column="d07" />
         <id property="d08" column="d08" />
         <id property="d09" column="d09" />
         <id property="d10" column="d10" />
         <id property="d11" column="d11" />
         <id property="d12" column="d12" />
         <id property="d13" column="d13" />
         <id property="d14" column="d14" />
         <id property="d15" column="d15" />
         <id property="d16" column="d16" />
         <id property="d17" column="d17" />
         <id property="d18" column="d18" />
         <id property="d19" column="d19" />
         <id property="d20" column="d20" />
         <id property="d21" column="d21" />
         <id property="d22" column="d22" />
         <id property="d23" column="d23" />
         <id property="d24" column="d24" />
         <id property="d25" column="d25" />
         <id property="d26" column="d26" />
         <id property="d27" column="d27" />
         <id property="d28" column="d28" />
         <id property="d29" column="d29" />
         <id property="d30" column="d30" />
         <id property="d31" column="d31" />
         <id property="createtime" column="createtime" />
         <id property="creatorid" column="creatorid" />
         <id property="creatorname" column="creatorname" />
         <id property="creatorjobname" column="creatorjobname" />
         <id property="modifytime" column="modifytime" />
         <id property="modifierid" column="modifierid" />
         <id property="modifiername" column="modifiername" />
         <id property="modifierjobname" column="modifierjobname" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.CampusDaytask">
  insert into campus_day_task (id,regionid,branchid,campusid,campusname,tasktype,year,month,d01,d02,d03,d04,d05,d06,d07,d08,d09,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31,createtime,creatorid,creatorname,creatorjobname,modifytime,modifierid,modifiername,modifierjobname)
         values (#{id},#{regionid},#{branchid},#{campusid},#{campusname},#{tasktype},#{year},#{month},#{d01},#{d02},#{d03},#{d04},#{d05},#{d06},#{d07},#{d08},#{d09},#{d10},#{d11},#{d12},#{d13},#{d14},#{d15},#{d16},#{d17},#{d18},#{d19},#{d20},#{d21},#{d22},#{d23},#{d24},#{d25},#{d26},#{d27},#{d28},#{d29},#{d30},#{d31},#{createtime},#{creatorid},#{creatorname},#{creatorjobname},#{modifytime},#{modifierid},#{modifiername},#{modifierjobname})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from campus_day_task 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.CampusDaytask">
    update campus_day_task
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="regionid != null">
                   regionid = #{regionid},
             </if>
             <if test="branchid != null">
                   branchid = #{branchid},
             </if>
             <if test="campusid != null">
                   campusid = #{campusid},
             </if>
             <if test="campusname != null">
                   campusname = #{campusname},
             </if>
             <if test="tasktype != null">
                   tasktype = #{tasktype},
             </if>
             <if test="year != null">
                   year = #{year},
             </if>
             <if test="month != null">
                   month = #{month},
             </if>
             <if test="d01 != null">
                   d01 = #{d01},
             </if>
             <if test="d02 != null">
                   d02 = #{d02},
             </if>
             <if test="d03 != null">
                   d03 = #{d03},
             </if>
             <if test="d04 != null">
                   d04 = #{d04},
             </if>
             <if test="d05 != null">
                   d05 = #{d05},
             </if>
             <if test="d06 != null">
                   d06 = #{d06},
             </if>
             <if test="d07 != null">
                   d07 = #{d07},
             </if>
             <if test="d08 != null">
                   d08 = #{d08},
             </if>
             <if test="d09 != null">
                   d09 = #{d09},
             </if>
             <if test="d10 != null">
                   d10 = #{d10},
             </if>
             <if test="d11 != null">
                   d11 = #{d11},
             </if>
             <if test="d12 != null">
                   d12 = #{d12},
             </if>
             <if test="d13 != null">
                   d13 = #{d13},
             </if>
             <if test="d14 != null">
                   d14 = #{d14},
             </if>
             <if test="d15 != null">
                   d15 = #{d15},
             </if>
             <if test="d16 != null">
                   d16 = #{d16},
             </if>
             <if test="d17 != null">
                   d17 = #{d17},
             </if>
             <if test="d18 != null">
                   d18 = #{d18},
             </if>
             <if test="d19 != null">
                   d19 = #{d19},
             </if>
             <if test="d20 != null">
                   d20 = #{d20},
             </if>
             <if test="d21 != null">
                   d21 = #{d21},
             </if>
             <if test="d22 != null">
                   d22 = #{d22},
             </if>
             <if test="d23 != null">
                   d23 = #{d23},
             </if>
             <if test="d24 != null">
                   d24 = #{d24},
             </if>
             <if test="d25 != null">
                   d25 = #{d25},
             </if>
             <if test="d26 != null">
                   d26 = #{d26},
             </if>
             <if test="d27 != null">
                   d27 = #{d27},
             </if>
             <if test="d28 != null">
                   d28 = #{d28},
             </if>
             <if test="d29 != null">
                   d29 = #{d29},
             </if>
             <if test="d30 != null">
                   d30 = #{d30},
             </if>
             <if test="d31 != null">
                   d31 = #{d31},
             </if>
             <if test="createtime != null">
                   createtime = #{createtime},
             </if>
             <if test="creatorid != null">
                   creatorid = #{creatorid},
             </if>
             <if test="creatorname != null">
                   creatorname = #{creatorname},
             </if>
             <if test="creatorjobname != null">
                   creatorjobname = #{creatorjobname},
             </if>
             <if test="modifytime != null">
                   modifytime = #{modifytime},
             </if>
             <if test="modifierid != null">
                   modifierid = #{modifierid},
             </if>
             <if test="modifiername != null">
                   modifiername = #{modifiername},
             </if>
             <if test="modifierjobname != null">
                   modifierjobname = #{modifierjobname}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from campus_day_task 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from campus_day_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from campus_day_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from campus_day_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from campus_day_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from campus_day_task 
        <where>
        1=1
             <if test="array != null and array != ''">
      		 	and id in
        			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           			#{item}
        			</foreach>
             </if>
        </where>
 </select>
</mapper>