<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.CustomertransferaccountsMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,applyid,accountid,accountcode,accountmoney,accountvalue,discountid,discountcode,discountbase,discountrate
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.Customertransferaccounts">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="applyid" column="applyid" />
         <id property="accountid" column="accountid" />
         <id property="accountcode" column="accountcode" />
         <id property="accountmoney" column="accountmoney" />
         <id property="accountvalue" column="accountvalue" />
         <id property="discountid" column="discountid" />
         <id property="discountcode" column="discountcode" />
         <id property="discountbase" column="discountbase" />
         <id property="discountrate" column="discountrate" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.Customertransferaccounts">
  insert into customertransferaccounts (id,applyid,accountid,accountcode,accountmoney,accountvalue,discountid,discountcode,discountbase,discountrate)
         values (#{id},#{applyid},#{accountid},#{accountcode},#{accountmoney},#{accountvalue},#{discountid},#{discountcode},#{discountbase},#{discountrate})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from customertransferaccounts 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.Customertransferaccounts">
    update customertransferaccounts
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="applyid != null">
                   applyid = #{applyid},
             </if>
             <if test="accountid != null">
                   accountid = #{accountid},
             </if>
             <if test="accountcode != null">
                   accountcode = #{accountcode},
             </if>
             <if test="accountmoney != null">
                   accountmoney = #{accountmoney},
             </if>
             <if test="accountvalue != null">
                   accountvalue = #{accountvalue},
             </if>
             <if test="discountid != null">
                   discountid = #{discountid},
             </if>
             <if test="discountcode != null">
                   discountcode = #{discountcode},
             </if>
             <if test="discountbase != null">
                   discountbase = #{discountbase},
             </if>
             <if test="discountrate != null">
                   discountrate = #{discountrate}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from customertransferaccounts 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from customertransferaccounts 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from customertransferaccounts 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from customertransferaccounts 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from customertransferaccounts 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from customertransferaccounts 
        <where>
        1=1
             <if test="array != null and array != ''">
       	and id in
        	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           	#{item}
        	</foreach>
             </if>
        </where>
 </select>
</mapper>