<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.CustomerparentrelationsMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,customerid,customerrole,parentid,parentrole,isprimary,creatorid,creatorname,createtime,modifierid,modifiername,modifytime,tenantcode
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.Customerparentrelations">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="customerid" column="customerid" />
         <id property="customerrole" column="customerrole" />
         <id property="parentid" column="parentid" />
         <id property="parentrole" column="parentrole" />
         <id property="isprimary" column="isprimary" />
         <id property="creatorid" column="creatorid" />
         <id property="creatorname" column="creatorname" />
         <id property="createtime" column="createtime" />
         <id property="modifierid" column="modifierid" />
         <id property="modifiername" column="modifiername" />
         <id property="modifytime" column="modifytime" />
         <id property="tenantcode" column="tenantcode" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.Customerparentrelations">
  insert into customerparentrelations (id,customerid,customerrole,parentid,parentrole,isprimary,creatorid,creatorname,createtime,modifierid,modifiername,modifytime,tenantcode)
         values (#{id},#{customerid},#{customerrole},#{parentid},#{parentrole},#{isprimary},#{creatorid},#{creatorname},#{createtime},#{modifierid},#{modifiername},#{modifytime},#{tenantcode})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from customerparentrelations 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.Customerparentrelations">
    update customerparentrelations
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="customerid != null">
                   customerid = #{customerid},
             </if>
             <if test="customerrole != null">
                   customerrole = #{customerrole},
             </if>
             <if test="parentid != null">
                   parentid = #{parentid},
             </if>
             <if test="parentrole != null">
                   parentrole = #{parentrole},
             </if>
             <if test="isprimary != null">
                   isprimary = #{isprimary},
             </if>
             <if test="creatorid != null">
                   creatorid = #{creatorid},
             </if>
             <if test="creatorname != null">
                   creatorname = #{creatorname},
             </if>
             <if test="createtime != null">
                   createtime = #{createtime},
             </if>
             <if test="modifierid != null">
                   modifierid = #{modifierid},
             </if>
             <if test="modifiername != null">
                   modifiername = #{modifiername},
             </if>
             <if test="modifytime != null">
                   modifytime = #{modifytime},
             </if>
             <if test="tenantcode != null">
                   tenantcode = #{tenantcode}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from customerparentrelations 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from customerparentrelations 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from customerparentrelations 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from customerparentrelations 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from customerparentrelations 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from customerparentrelations 
        <where>
        1=1
             <if test="array != null and array != ''">
      		 	and id in
        			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           			#{item}
        			</foreach>
             </if>
        </where>
 </select>
</mapper>