<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.DebookordersMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,campusid,campusname,parentid,parentname,customerid,customercode,customername,debookno,debooktime,debookstatus,debookmemo,processstatus,processtime,processmemo,contacttel,contacter,submitterid,submittername,submitterjobid,submitterjobname,submitterjobtype,submittime,approverid,approvername,approverjobid,approverjobname,approvetime,creatorid,creatorname,createtime,modifierid,modifiername,modifytime
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.Debookorders">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="campusid" column="campusid" />
         <id property="campusname" column="campusname" />
         <id property="parentid" column="parentid" />
         <id property="parentname" column="parentname" />
         <id property="customerid" column="customerid" />
         <id property="customercode" column="customercode" />
         <id property="customername" column="customername" />
         <id property="debookno" column="debookno" />
         <id property="debooktime" column="debooktime" />
         <id property="debookstatus" column="debookstatus" />
         <id property="debookmemo" column="debookmemo" />
         <id property="processstatus" column="processstatus" />
         <id property="processtime" column="processtime" />
         <id property="processmemo" column="processmemo" />
         <id property="contacttel" column="contacttel" />
         <id property="contacter" column="contacter" />
         <id property="submitterid" column="submitterid" />
         <id property="submittername" column="submittername" />
         <id property="submitterjobid" column="submitterjobid" />
         <id property="submitterjobname" column="submitterjobname" />
         <id property="submitterjobtype" column="submitterjobtype" />
         <id property="submittime" column="submittime" />
         <id property="approverid" column="approverid" />
         <id property="approvername" column="approvername" />
         <id property="approverjobid" column="approverjobid" />
         <id property="approverjobname" column="approverjobname" />
         <id property="approvetime" column="approvetime" />
         <id property="creatorid" column="creatorid" />
         <id property="creatorname" column="creatorname" />
         <id property="createtime" column="createtime" />
         <id property="modifierid" column="modifierid" />
         <id property="modifiername" column="modifiername" />
         <id property="modifytime" column="modifytime" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.Debookorders">
  insert into debookorders (id,campusid,campusname,parentid,parentname,customerid,customercode,customername,debookno,debooktime,debookstatus,debookmemo,processstatus,processtime,processmemo,contacttel,contacter,submitterid,submittername,submitterjobid,submitterjobname,submitterjobtype,submittime,approverid,approvername,approverjobid,approverjobname,approvetime,creatorid,creatorname,createtime,modifierid,modifiername,modifytime)
         values (#{id},#{campusid},#{campusname},#{parentid},#{parentname},#{customerid},#{customercode},#{customername},#{debookno},#{debooktime},#{debookstatus},#{debookmemo},#{processstatus},#{processtime},#{processmemo},#{contacttel},#{contacter},#{submitterid},#{submittername},#{submitterjobid},#{submitterjobname},#{submitterjobtype},#{submittime},#{approverid},#{approvername},#{approverjobid},#{approverjobname},#{approvetime},#{creatorid},#{creatorname},#{createtime},#{modifierid},#{modifiername},#{modifytime})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from debookorders 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.Debookorders">
    update debookorders
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="campusid != null">
                   campusid = #{campusid},
             </if>
             <if test="campusname != null">
                   campusname = #{campusname},
             </if>
             <if test="parentid != null">
                   parentid = #{parentid},
             </if>
             <if test="parentname != null">
                   parentname = #{parentname},
             </if>
             <if test="customerid != null">
                   customerid = #{customerid},
             </if>
             <if test="customercode != null">
                   customercode = #{customercode},
             </if>
             <if test="customername != null">
                   customername = #{customername},
             </if>
             <if test="debookno != null">
                   debookno = #{debookno},
             </if>
             <if test="debooktime != null">
                   debooktime = #{debooktime},
             </if>
             <if test="debookstatus != null">
                   debookstatus = #{debookstatus},
             </if>
             <if test="debookmemo != null">
                   debookmemo = #{debookmemo},
             </if>
             <if test="processstatus != null">
                   processstatus = #{processstatus},
             </if>
             <if test="processtime != null">
                   processtime = #{processtime},
             </if>
             <if test="processmemo != null">
                   processmemo = #{processmemo},
             </if>
             <if test="contacttel != null">
                   contacttel = #{contacttel},
             </if>
             <if test="contacter != null">
                   contacter = #{contacter},
             </if>
             <if test="submitterid != null">
                   submitterid = #{submitterid},
             </if>
             <if test="submittername != null">
                   submittername = #{submittername},
             </if>
             <if test="submitterjobid != null">
                   submitterjobid = #{submitterjobid},
             </if>
             <if test="submitterjobname != null">
                   submitterjobname = #{submitterjobname},
             </if>
             <if test="submitterjobtype != null">
                   submitterjobtype = #{submitterjobtype},
             </if>
             <if test="submittime != null">
                   submittime = #{submittime},
             </if>
             <if test="approverid != null">
                   approverid = #{approverid},
             </if>
             <if test="approvername != null">
                   approvername = #{approvername},
             </if>
             <if test="approverjobid != null">
                   approverjobid = #{approverjobid},
             </if>
             <if test="approverjobname != null">
                   approverjobname = #{approverjobname},
             </if>
             <if test="approvetime != null">
                   approvetime = #{approvetime},
             </if>
             <if test="creatorid != null">
                   creatorid = #{creatorid},
             </if>
             <if test="creatorname != null">
                   creatorname = #{creatorname},
             </if>
             <if test="createtime != null">
                   createtime = #{createtime},
             </if>
             <if test="modifierid != null">
                   modifierid = #{modifierid},
             </if>
             <if test="modifiername != null">
                   modifiername = #{modifiername},
             </if>
             <if test="modifytime != null">
                   modifytime = #{modifytime}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from debookorders 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from debookorders 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from debookorders 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from debookorders 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from debookorders 
        <where>
        	1=1
             <if test="name != null and name != ''">
           and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from debookorders 
        <where>
        1=1
             <if test="array != null and array != ''">
       	and id in
        	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           	#{item}
        	</foreach>
             </if>
        </where>
 </select>
</mapper>