<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.EducatorWeektaskMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,regionid,branchid,campusid,campusname,staffid,staffoacode,staffname,customerid,customercode,customername,customergrade,studentstatus,tasktype,year,month,w1,w2,w3,w4,w5,w6,createtime,creatorid,creatorname,creatorjobname,modifytime,modifierid,modifiername,modifierjobname
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.EducatorWeektask">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="regionid" column="regionid" />
         <id property="branchid" column="branchid" />
         <id property="campusid" column="campusid" />
         <id property="campusname" column="campusname" />
         <id property="staffid" column="staffid" />
         <id property="staffoacode" column="staffoacode" />
         <id property="staffname" column="staffname" />
         <id property="customerid" column="customerid" />
         <id property="customercode" column="customercode" />
         <id property="customername" column="customername" />
         <id property="customergrade" column="customergrade" />
         <id property="studentstatus" column="studentstatus" />
         <id property="tasktype" column="tasktype" />
         <id property="year" column="year" />
         <id property="month" column="month" />
         <id property="w1" column="w1" />
         <id property="w2" column="w2" />
         <id property="w3" column="w3" />
         <id property="w4" column="w4" />
         <id property="w5" column="w5" />
         <id property="w6" column="w6" />
         <id property="createtime" column="createtime" />
         <id property="creatorid" column="creatorid" />
         <id property="creatorname" column="creatorname" />
         <id property="creatorjobname" column="creatorjobname" />
         <id property="modifytime" column="modifytime" />
         <id property="modifierid" column="modifierid" />
         <id property="modifiername" column="modifiername" />
         <id property="modifierjobname" column="modifierjobname" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.EducatorWeektask">
  insert into educator_week_task (id,regionid,branchid,campusid,campusname,staffid,staffoacode,staffname,customerid,customercode,customername,customergrade,studentstatus,tasktype,year,month,w1,w2,w3,w4,w5,w6,createtime,creatorid,creatorname,creatorjobname,modifytime,modifierid,modifiername,modifierjobname)
         values (#{id},#{regionid},#{branchid},#{campusid},#{campusname},#{staffid},#{staffoacode},#{staffname},#{customerid},#{customercode},#{customername},#{customergrade},#{studentstatus},#{tasktype},#{year},#{month},#{w1},#{w2},#{w3},#{w4},#{w5},#{w6},#{createtime},#{creatorid},#{creatorname},#{creatorjobname},#{modifytime},#{modifierid},#{modifiername},#{modifierjobname})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from educator_week_task 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.EducatorWeektask">
    update educator_week_task
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="regionid != null">
                   regionid = #{regionid},
             </if>
             <if test="branchid != null">
                   branchid = #{branchid},
             </if>
             <if test="campusid != null">
                   campusid = #{campusid},
             </if>
             <if test="campusname != null">
                   campusname = #{campusname},
             </if>
             <if test="staffid != null">
                   staffid = #{staffid},
             </if>
             <if test="staffoacode != null">
                   staffoacode = #{staffoacode},
             </if>
             <if test="staffname != null">
                   staffname = #{staffname},
             </if>
             <if test="customerid != null">
                   customerid = #{customerid},
             </if>
             <if test="customercode != null">
                   customercode = #{customercode},
             </if>
             <if test="customername != null">
                   customername = #{customername},
             </if>
             <if test="customergrade != null">
                   customergrade = #{customergrade},
             </if>
             <if test="studentstatus != null">
                   studentstatus = #{studentstatus},
             </if>
             <if test="tasktype != null">
                   tasktype = #{tasktype},
             </if>
             <if test="year != null">
                   year = #{year},
             </if>
             <if test="month != null">
                   month = #{month},
             </if>
             <if test="w1 != null">
                   w1 = #{w1},
             </if>
             <if test="w2 != null">
                   w2 = #{w2},
             </if>
             <if test="w3 != null">
                   w3 = #{w3},
             </if>
             <if test="w4 != null">
                   w4 = #{w4},
             </if>
             <if test="w5 != null">
                   w5 = #{w5},
             </if>
             <if test="w6 != null">
                   w6 = #{w6},
             </if>
             <if test="createtime != null">
                   createtime = #{createtime},
             </if>
             <if test="creatorid != null">
                   creatorid = #{creatorid},
             </if>
             <if test="creatorname != null">
                   creatorname = #{creatorname},
             </if>
             <if test="creatorjobname != null">
                   creatorjobname = #{creatorjobname},
             </if>
             <if test="modifytime != null">
                   modifytime = #{modifytime},
             </if>
             <if test="modifierid != null">
                   modifierid = #{modifierid},
             </if>
             <if test="modifiername != null">
                   modifiername = #{modifiername},
             </if>
             <if test="modifierjobname != null">
                   modifierjobname = #{modifierjobname}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from educator_week_task 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from educator_week_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from educator_week_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from educator_week_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from educator_week_task 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from educator_week_task 
        <where>
        1=1
             <if test="array != null and array != ''">
      		 	and id in
        			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           			#{item}
        			</foreach>
             </if>
        </where>
 </select>
</mapper>