<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.ExpensesMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,expenseid,expensetype,expensevalue,branchid,branchname,campusids,campusnames,creatorid,creatorname,createtime,modifierid,modifiername,modifytime
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.Expenses">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="expenseid" column="expenseid" />
         <id property="expensetype" column="expensetype" />
         <id property="expensevalue" column="expensevalue" />
         <id property="branchid" column="branchid" />
         <id property="branchname" column="branchname" />
         <id property="campusids" column="campusids" />
         <id property="campusnames" column="campusnames" />
         <id property="creatorid" column="creatorid" />
         <id property="creatorname" column="creatorname" />
         <id property="createtime" column="createtime" />
         <id property="modifierid" column="modifierid" />
         <id property="modifiername" column="modifiername" />
         <id property="modifytime" column="modifytime" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.Expenses">
  insert into expenses (id,expenseid,expensetype,expensevalue,branchid,branchname,campusids,campusnames,creatorid,creatorname,createtime,modifierid,modifiername,modifytime)
         values (#{id},#{expenseid},#{expensetype},#{expensevalue},#{branchid},#{branchname},#{campusids},#{campusnames},#{creatorid},#{creatorname},#{createtime},#{modifierid},#{modifiername},#{modifytime})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from expenses 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.Expenses">
    update expenses
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="expenseid != null">
                   expenseid = #{expenseid},
             </if>
             <if test="expensetype != null">
                   expensetype = #{expensetype},
             </if>
             <if test="expensevalue != null">
                   expensevalue = #{expensevalue},
             </if>
             <if test="branchid != null">
                   branchid = #{branchid},
             </if>
             <if test="branchname != null">
                   branchname = #{branchname},
             </if>
             <if test="campusids != null">
                   campusids = #{campusids},
             </if>
             <if test="campusnames != null">
                   campusnames = #{campusnames},
             </if>
             <if test="creatorid != null">
                   creatorid = #{creatorid},
             </if>
             <if test="creatorname != null">
                   creatorname = #{creatorname},
             </if>
             <if test="createtime != null">
                   createtime = #{createtime},
             </if>
             <if test="modifierid != null">
                   modifierid = #{modifierid},
             </if>
             <if test="modifiername != null">
                   modifiername = #{modifiername},
             </if>
             <if test="modifytime != null">
                   modifytime = #{modifytime}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from expenses 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from expenses 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from expenses 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from expenses 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from expenses 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from expenses 
        <where>
        1=1
             <if test="array != null and array != ''">
      		 	and id in
        			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           			#{item}
        			</foreach>
             </if>
        </where>
 </select>
</mapper>