<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.app.api.v1.mapper.OtherproductincomeMapper">
  <!-- 数据库列 -->
  <sql id="Base_Column_List">
     id,version,statlocaldate,customerid,campusid,producttype,amount,duration,income
  </sql>
  <!-- 基础返回对象封装 -->
  <resultMap id="ResultMap" type="com.yt.app.api.v1.entity.Otherproductincome">
         <id property="id" column="id" />
         <id property="version" column="version" />
         <id property="statlocaldate" column="statlocaldate" />
         <id property="customerid" column="customerid" />
         <id property="campusid" column="campusid" />
         <id property="producttype" column="producttype" />
         <id property="amount" column="amount" />
         <id property="duration" column="duration" />
         <id property="income" column="income" />
  </resultMap>
  <!-- 默认新增 -->
  <insert id="post" parameterType="com.yt.app.api.v1.entity.Otherproductincome">
  insert into otherproductincome (id,statlocaldate,customerid,campusid,producttype,amount,duration,income)
         values (#{id},#{statlocaldate},#{customerid},#{campusid},#{producttype},#{amount},#{duration},#{income})
  </insert>
  <!-- 默认删除id对象 -->
 <delete id="delete" parameterType="java.lang.String">
     delete from otherproductincome 
     where id = #{id}
 </delete>
  <!-- 默认更新id对象 -->
 <update id="put" parameterType="com.yt.app.api.v1.entity.Otherproductincome">
    update otherproductincome
         <set>
             <if test="version != null">
                   version = #{version}+1,
             </if>
             <if test="statlocaldate != null">
                   statlocaldate = #{statlocaldate},
             </if>
             <if test="customerid != null">
                   customerid = #{customerid},
             </if>
             <if test="campusid != null">
                   campusid = #{campusid},
             </if>
             <if test="producttype != null">
                   producttype = #{producttype},
             </if>
             <if test="amount != null">
                   amount = #{amount},
             </if>
             <if test="duration != null">
                   duration = #{duration},
             </if>
             <if test="income != null">
                   income = #{income}
             </if>
          </set>
     where id = #{id} and  version = #{version}
 </update>
  <!-- 默认获得id对象 -->
 <select id="get" parameterType="java.lang.String" resultMap="ResultMap">
     select
        <include refid="Base_Column_List" />
        from otherproductincome 
        where id = #{id}
 </select>
  <!-- 默认集合 -->
 <select id="list" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from otherproductincome 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合 -->
 <select id="map" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       select
        <include refid="Base_Column_List" />
        from otherproductincome 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
             <if test="orderby != null and dir != null">
           		order by ${orderby} ${dir}
             </if>
             <if test="pageStart != null and pageEnd != null">
           		LIMIT #{pageStart},#{pageEnd}
             </if>
        </where>
 </select>
  <!-- 默认集合统计 -->
 <select id="countlist" parameterType="java.util.HashMap" resultType="int">
       select count(*) from otherproductincome 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认返回MAP集合统计 -->
 <select id="countmap" parameterType="java.util.HashMap" resultType="int">
       select count(*) from otherproductincome 
        <where>
        			1=1
             <if test="name != null and name != ''">
           		and name like "%"#{name}"%"
             </if>
        </where>
 </select>
  <!-- 默认获取Ids的对象 -->
 <select id="listByArrayId" parameterType="java.util.HashMap" resultMap="ResultMap">
       select
        <include refid="Base_Column_List" />
        from otherproductincome 
        <where>
        1=1
             <if test="array != null and array != ''">
      		 	and id in
        			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
           			#{item}
        			</foreach>
             </if>
        </where>
 </select>
</mapper>