<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
			$scope.formData = {};
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data
				}).error(function(data, status, headers, config){
					response(status);
				});
			$scope.onReturn=function(){
				history.go(-1);
			}
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getFunctionLinksHref("self"),
    					method:'PUT',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			location.href="list.html";
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">预警类型（1-停课，2-休学）</span>
	           		<input type="text" class="form-control required" placeholder="请输入预警类型（1-停课，2-休学）" name="alerttype" ng-model="formData.alerttype" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">预警时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入预警时间" name="alerttime" ng-model="formData.alerttime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">预警原因代码</span>
	           		<input type="text" class="form-control required" placeholder="请输入预警原因代码" name="alertreason" ng-model="formData.alertreason" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">预警原因名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入预警原因名称" name="alertreasonname" ng-model="formData.alertreasonname" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作人ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作人ID" name="operatorid" ng-model="formData.operatorid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作人姓名" name="operatorname" ng-model="formData.operatorname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作人岗位ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作人岗位ID" name="operatorjobid" ng-model="formData.operatorjobid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作人岗位名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作人岗位名称" name="operatorjobname" ng-model="formData.operatorjobname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学员ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入学员ID" name="customerid" ng-model="formData.customerid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
   		</div>
    </form>
  </body>
</html>
