<!DOCTYPE html>
<html ng-app="add">
<head>
<title>家长信息-新增</title>

<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<link href="../../../../resource/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
<script src="../../../../resource/js/date/js/eap.core.js"></script>
<!-- 表单验证 -->
<link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css" />
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 弹出框 -->
<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
<script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>

<!-- datetime -->
<script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

<script type="text/javascript">
	var add = angular.module("add", []);
	add.controller("controller", function($scope, $http) {
		var url = parent.getFunctionLinksHref("self");
		var patriarch_id = url.substring(url.lastIndexOf("/")+1,url.length);//获取家长ID
		//字典获取沟通方式
		$scope.inittype = function() {
			$http({
				url : parent.getMenuLinksHref("admindictionaryself"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify({
					typecode : 780
				})
			}).success(function(data, status, headers, config) {
				$scope.dictionarytype = data;
			}).error(function(data, status, headers, config) {
				//处理响应失败
				response(status);
			})
		}
		
		//字典获取来源
		$scope.initpurpose = function() {
			$http({
				url : parent.getMenuLinksHref("admindictionaryself"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify({
					typecode : 830
				})
			}).success(function(data, status, headers, config) {
				$scope.dictionarypurpose = data;
			}).error(function(data, status, headers, config) {
				//处理响应失败
				response(status);
			})
		}
		//字典获取结果
		$scope.initstatus = function() {
			$http({
				url : parent.getMenuLinksHref("admindictionaryself"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify({
					typecode : 570
				})
			}).success(function(data, status, headers, config) {
				$scope.dictionarystatus = data;
			}).error(function(data, status, headers, config) {
				//处理响应失败
				response(status);
			})
		}
		$scope.formData = {};
		//返回
		$scope.onReturn = function() {
			var dialogId = art.dialog.data("dialogId");
			art.dialog.removeData("dialogId");
			art.dialog.close(dialogId);
		}
		//保存
		$scope.onPreserved = function() {
			var isValid = $("#saveForm").valid();
			$scope.formData.patriarch_id = patriarch_id;
			$scope.formData.promisedate = $("#dpromisedate").val();
			$scope.formData.nexttime = $("#dnexttime").val();
			if (isValid) {
				$http({
					url : parent.getMenuLinksHref("patriarchsearchhistorypost"),
					method : 'POST',
					dataType : "json",
					withCredentials : true,
					headers : {
						'Content-Type' : 'application/json;charset=UTF-8;'
					},
					data : JSON.stringify($scope.formData)
				}).success(function(data, status, headers, config) {
					if (data == -1) {
						alert("链接别名重复，请重新输入。")
					} else if (data != -1) {
						$scope.pageList();
					}
				}).error(function(data, status, headers, config) {
					//处理响应失败
					response(status);
				})
			}
		}
		
		$scope.pageList = function(){
		    var data = {"patriarch_id":patriarch_id};
			$http({
				url:parent.getMenuLinksHref("patriarchsearchhistorylist"),
				method:'POST',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;',"orderby":"datetime","dir":"desc"},
				data: JSON.stringify(data)
				}).success(function(data, status, headers, config){
					//响应成功
					$scope.tasks= data;
				}).error(function(data, status, headers, config){
					//处理响应失败
					response(status);
				});
		}
		
		$scope.selectstatus = function(data){
			if($scope.formData.status==574)//诺放
				$("#promisedatehidden").show();
			else
				$("#promisedatehidden").hide();	
		}
		$scope.pageList();
		$scope.initstatus();
		$scope.inittype();
		$scope.initpurpose();
	})
</script>
<style type="text/css">
	.searchHistory{width:100%;height:auto;border:solid 1px #CCCCCC;background:#eee;font-family: 微软雅黑;font-size:12px;}
	.searchHistory .searchHistory_title{width:100%;height:30px;border-bottom:solid 1px #CCCCCC;font-size: 14px;line-height: 22px;font-weight: bold;}
	.searchHistory .history{width:100%;height:35px;line-height: 35px;border:solid 0px;margin-top:10px;}
	.searchHistory .history .history_div{float: left;width:13%;margin-left:20px;}
	.searchHistory .history .history_div2{float: left;width:33%;margin-left:20px;border:solid 0px;}
	.searchHistory .history .history_line{width:35px;height:35px;float: left;}
	.searchHistory .history .history_line > img{width:35px;height:35px;}
</style>
</head>

<body ng-controller="controller">
	<form method="post" id="saveForm" action="">
		<!-- 操作按钮操作区 -->
		<div class="col-lg-12 topActionPanel">
			<div>
				<button type="button" class="btn btn-primary"
					ng-click="onPreserved()" ng-if="buttons.post">确 定</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返
					回</button>
			</div>
		</div>
		<div class="col-lg-6" style="width:80%;">
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">沟通方式</span> 
				<select class="form-control required" ng-model="formData.communicationtype" id="communicationtype" name="communicationtype" ng-options="dic.dictionary.code as dic.dictionary.name for dic in dictionarytype">
					<option value="">请选择沟通方式</option>
				</select>
				<span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">家长状态</span> 
				<select class="form-control required" ng-model="formData.status" ng-change="selectstatus(this)" id="status" name="status" ng-options="dic.dictionary.code as dic.dictionary.name for dic in dictionarystatus">
					<option value="">请选择沟通状态</option>
				</select>
				<span class="input-group-addon verifyprompt">*</span>
			</div>
			<!-- 家长状态选择诺放，设置日期 -->
			<div class="input-group input-group-sm" id="promisedatehidden">
				<span class="input-group-addon text-right spanwidth">诺访日期</span>
				<div class="input-group date form_datetime" id="promisedate" style="width:400px;" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control" id="dpromisedate" ng-model="formData.promisedate" size="14" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" />
			</div>
			 <div class="input-group input-group-sm" style="position: relative;left:0px;">
				<span class="input-group-addon text-right spanwidth">意向级别</span> <select
					class="form-control" ng-model="formData.purpose" id="purpose" name="purpose"
					ng-options="dic.dictionary.code as dic.dictionary.name for dic in dictionarypurpose">
					<option value="">请选择</option>
				</select>
	        </div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth"
					style="height: 100px;">沟通内容</span>
								<textarea class="txtVal form-control" style="height: 100px;"
					ng-model="formData.communication"></textarea>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">下次跟进日期</span>
                <div class="input-group date form_datetime" id="nexttime" style="width:400px;" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input2">
                    <input class="form-control" id="dnexttime" ng-model="formData.nexttime" size="14" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input2" value="" />
			</div>
			<div class="searchHistory">
				<div class="searchHistory_title">
					&nbsp;家长邀约咨询记录
				</div>
				<div class="history" ng-repeat="task in tasks">
					<div class="history_line">
						<img src="../../../../resource/img/line.png">
					</div>
					<div class="history_div" style="font-weight: bold;">{{task.patriarchsearchhistory.datetime}}</div>
					<div class="history_div">{{task.patriarchsearchhistory.dcommunicationtype}}</div>
					<div class="history_div">{{task.patriarchsearchhistory.daccount_id}}</div>
					<div class="history_div">{{task.patriarchsearchhistory.dstatus}}</div>
					<div class="history_div2">{{task.patriarchsearchhistory.communication}}</div>
				</div>
			</div>
		</div>
		
	</form>
	
</body>
<script type="text/javascript">
$("#promisedatehidden").hide();	
$('#promisedate').datetimepicker({
	format : 'yyyy-mm-dd',
	language : 'cn',
	weekStart : 1,
	minView : "month",
	todayBtn : 1,
	initialDate:new Date(),
	autoclose : 1,
	todayHighlight : 1,
	startView : 2,
	forceParse : 0,
	showMeridian : 0
});

$('#nexttime').datetimepicker({
	format : 'yyyy-mm-dd',
	language : 'cn',
	weekStart : 1,
	minView : "month",
	todayBtn : 1,
	initialDate:new Date(),
	autoclose : 1,
	todayHighlight : 1,
	startView : 2,
	forceParse : 0,
	showMeridian : 0
});
</script>
</html>
