<!DOCTYPE html>
<html ng-app="info">
  <head>
    <title>查看</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <!-- 初始化 -->
    <script type="text/javascript">
var info = angular.module("info", []);
info.controller("controller",function($scope, $http) {
	//返回
	$scope.onReturn=function(){
history.go(-1);
	}
	$http({
url:parent.getFunctionLinksHref("self"),
method:'GET',
dataType : "json",
withCredentials: true,
headers: {'Content-Type': 'application/json;charset=UTF-8;'},
data: ''
}).success(function(data, status, headers, config){
	$scope.formData= data;
}).error(function(data, status, headers, config){
	response(status);
});
})
	</script>
  </head>
  <body ng-controller="controller">
   <div class="col-lg-12 topActionPanel">
	        <div>
	    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
    </div>
    	</div>
   <div class="col-lg-6 viewFixedWidth">
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">区域ID</span>
           	<input type="text" class="form-control" value="{{formData.regionid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">分工司ID</span>
           	<input type="text" class="form-control" value="{{formData.branchid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">校区ID</span>
           	<input type="text" class="form-control" value="{{formData.campusid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">学科组ID</span>
           	<input type="text" class="form-control" value="{{formData.groupid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">年份</span>
           	<input type="text" class="form-control" value="{{formData.year}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">月份</span>
           	<input type="text" class="form-control" value="{{formData.month}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">课时量（个）</span>
           	<input type="text" class="form-control" value="{{formData.hourcount}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">课时量任务</span>
           	<input type="text" class="form-control" value="{{formData.hourcounttask}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">续费金额（元）</span>
           	<input type="text" class="form-control" value="{{formData.renewalmoney}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">退费金额（元）</span>
           	<input type="text" class="form-control" value="{{formData.refundmoney}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">1对1课时量（个）</span>
           	<input type="text" class="form-control" value="{{formData.onetoonehourcount}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">1对1课时量校区排名</span>
           	<input type="text" class="form-control" value="{{formData.onetoonecampusrank}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">1对1课时量分公司排名</span>
           	<input type="text" class="form-control" value="{{formData.onetoonebranchrank}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">1对1课时量全国排名</span>
           	<input type="text" class="form-control" value="{{formData.onetoonecountryrank}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">班组课时量（个）</span>
           	<input type="text" class="form-control" value="{{formData.grouphourcount}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">班组课时量校区排名</span>
           	<input type="text" class="form-control" value="{{formData.groupcampusrank}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">班组课时量分公司排名</span>
           	<input type="text" class="form-control" value="{{formData.groupbranchrank}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">班组课时量全国排名</span>
           	<input type="text" class="form-control" value="{{formData.groupcountryrank}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.createtime}}" disabled>
           </div>
   	</div>
  </body>
</html>
