<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>新增</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getMenuLinksHref("campusrenewweeklystatpost"),
    					method:'POST',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			if(data == 1){
    		  				location.href="list.html";
    		  			}
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    		</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度" name="yearkey" ng-model="formData.yearkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度" name="quarterkey" ng-model="formData.quarterkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月份</span>
	           		<input type="text" class="form-control required" placeholder="请输入月份" name="monthkey" ng-model="formData.monthkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">周</span>
	           		<input type="text" class="form-control required" placeholder="请输入周" name="weekkey" ng-model="formData.weekkey" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周开始日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周开始日期" name="startdayofweek" ng-model="formData.startdayofweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周结束日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周结束日期" name="enddayofweek" ng-model="formData.enddayofweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周开始日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周开始日期" name="startdayoflastweek" ng-model="formData.startdayoflastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周结束日期</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周结束日期" name="enddayoflastweek" ng-model="formData.enddayoflastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">大区ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入大区ID" name="regionid" ng-model="formData.regionid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">大区</span>
	           		<input type="text" class="form-control required" placeholder="请输入大区" name="regionname" ng-model="formData.regionname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分公司ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入分公司ID" name="branchid" ng-model="formData.branchid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">分公司</span>
	           		<input type="text" class="form-control required" placeholder="请输入分公司" name="branchname" ng-model="formData.branchname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区ID" name="campusid" ng-model="formData.campusid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区</span>
	           		<input type="text" class="form-control required" placeholder="请输入校区" name="campusname" ng-model="formData.campusname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">目前有效学生数</span>
	           		<input type="text" class="form-control required" placeholder="请输入目前有效学生数" name="availablecustomernumber" ng-model="formData.availablecustomernumber" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度续费金额预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度续费金额预算任务" name="rataskyear" ng-model="formData.rataskyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度续费金额累计完成额</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度续费金额累计完成额" name="rayear" ng-model="formData.rayear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度续费金额完成率</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度续费金额完成率" name="rafinishrateyear" ng-model="formData.rafinishrateyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度续费金额去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度续费金额去年同期" name="rayoyyear" ng-model="formData.rayoyyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度续费金额同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度续费金额同比" name="rayoyrateyear" ng-model="formData.rayoyrateyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度累计续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度累计续费人数" name="rnyear" ng-model="formData.rnyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度去年同期续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度去年同期续费人数" name="rnyoyyear" ng-model="formData.rnyoyyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年度续费人数同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入年度续费人数同比" name="rnyoyrateyear" ng-model="formData.rnyoyrateyear" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度续费金额预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度续费金额预算任务" name="rataskquarter" ng-model="formData.rataskquarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度续费金额累计完成额</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度续费金额累计完成额" name="raquarter" ng-model="formData.raquarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度续费金额完成率</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度续费金额完成率" name="rafinishratequarter" ng-model="formData.rafinishratequarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度续费金额去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度续费金额去年同期" name="rayoyquarter" ng-model="formData.rayoyquarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度续费金额同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度续费金额同比" name="rayoyratequarter" ng-model="formData.rayoyratequarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度累计续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度累计续费人数" name="rnquarter" ng-model="formData.rnquarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度去年同期续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度去年同期续费人数" name="rnyoyquarter" ng-model="formData.rnyoyquarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">季度续费人数同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入季度续费人数同比" name="rnyoyratequarter" ng-model="formData.rnyoyratequarter" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度续费金额预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度续费金额预算任务" name="rataskmonth" ng-model="formData.rataskmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度续费金额累计完成额</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度续费金额累计完成额" name="ramonth" ng-model="formData.ramonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度续费金额完成率</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度续费金额完成率" name="rafinishratemonth" ng-model="formData.rafinishratemonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度续费金额去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度续费金额去年同期" name="rayoymonth" ng-model="formData.rayoymonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度续费金额同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度续费金额同比" name="rayoyratemonth" ng-model="formData.rayoyratemonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度累计续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度累计续费人数" name="rnmonth" ng-model="formData.rnmonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度去年同期续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度去年同期续费人数" name="rnyoymonth" ng-model="formData.rnyoymonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月度续费人数同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入月度续费人数同比" name="rnyoyratemonth" ng-model="formData.rnyoyratemonth" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费金额预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费金额预算任务" name="ratasklastweek" ng-model="formData.ratasklastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费金额累计完成额</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费金额累计完成额" name="ralastweek" ng-model="formData.ralastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费金额完成率</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费金额完成率" name="rafinishratelastweek" ng-model="formData.rafinishratelastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周预计续费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周预计续费金额" name="raplanlastweek" ng-model="formData.raplanlastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周实际续费金额与预计续费金额差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周实际续费金额与预计续费金额差额" name="raplandifflastweek" ng-model="formData.raplandifflastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费金额去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费金额去年同期" name="rayoylastweek" ng-model="formData.rayoylastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费金额同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费金额同比" name="rayoyratelastweek" ng-model="formData.rayoyratelastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费人数预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费人数预算任务" name="rntasklastweek" ng-model="formData.rntasklastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费人数累计完成额</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费人数累计完成额" name="rnlastweek" ng-model="formData.rnlastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费人数完成率</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费人数完成率" name="rnfinishratelastweek" ng-model="formData.rnfinishratelastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周预计续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周预计续费人数" name="rnplanlastweek" ng-model="formData.rnplanlastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周实际续费人数与预计续费人数差额</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周实际续费人数与预计续费人数差额" name="rnplandifflastweek" ng-model="formData.rnplandifflastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费人数去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费人数去年同期" name="rnyoylastweek" ng-model="formData.rnyoylastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上周续费人数同比</span>
	           		<input type="text" class="form-control required" placeholder="请输入上周续费人数同比" name="rnyoyratelastweek" ng-model="formData.rnyoyratelastweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周续费金额预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周续费金额预算任务" name="rataskthisweek" ng-model="formData.rataskthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周续费金额去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周续费金额去年同期" name="rayoythisweek" ng-model="formData.rayoythisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周预计续费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周预计续费金额" name="raplanthisweek" ng-model="formData.raplanthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周续费金额任务缺口</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周续费金额任务缺口" name="raplandiffthisweek" ng-model="formData.raplandiffthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周续费人数预算任务</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周续费人数预算任务" name="rntaskthisweek" ng-model="formData.rntaskthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周续费人数去年同期</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周续费人数去年同期" name="rnyoythisweek" ng-model="formData.rnyoythisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周预计续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周预计续费人数" name="rnplanthisweek" ng-model="formData.rnplanthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本周续费人数任务缺口</span>
	           		<input type="text" class="form-control required" placeholder="请输入本周续费人数任务缺口" name="rnplandiffthisweek" ng-model="formData.rnplandiffthisweek" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">过去90天结课未续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入过去90天结课未续费人数" name="cfnrcustomernumber" ng-model="formData.cfnrcustomernumber" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">账户价值不足2000元人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入账户价值不足2000元人数" name="customernumberav2000" ng-model="formData.customernumberav2000" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">预估续费人数</span>
	           		<input type="text" class="form-control required" placeholder="请输入预估续费人数" name="rnplan" ng-model="formData.rnplan" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">预估续费金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入预估续费金额" name="raplan" ng-model="formData.raplan" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	        </div>
    </form>
  </body>
</html>
