<!DOCTYPE html>
<html ng-app="info">
<head>
<title>查看</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- 基础样式 -->
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<!-- 基础js -->
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 初始化 -->
<script type="text/javascript">
	var info = angular.module("info", []);
	info.controller("controller", function($scope, $http) {
		//返回
		$scope.onReturn = function() {
			history.go(-1);
		}
		$http({
			url : parent.getFunctionLinksHref("self"),
			method : 'GET',
			dataType : "json",
			withCredentials : true,
			headers : {
				'Content-Type' : 'application/json;charset=UTF-8;'
			},
			data : ''
		}).success(function(data, status, headers, config) {
			$scope.formData = data;
		}).error(function(data, status, headers, config) {
			response(status);
		});
	})
</script>
</head>
<body ng-controller="controller">
	<div class="col-lg-12 topActionPanel">
		<div>
			<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
		</div>
	</div>
	<div class="col-lg-6 viewFixedWidth">
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">校区名称</span> <input type="text" class="form-control" value="{{formData.campusname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">客户名称</span> <input type="text" class="form-control" value="{{formData.customername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">客户来源</span> <input type="text" class="form-control" value="{{formData.sourcemaintypename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">学员手机号</span> <input type="text" class="form-control" value="{{formData.customerprimaryphonenumber}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">紧急联系号码</span> <input type="text" class="form-control"
				value="{{formData.customersecondaryphonenumber}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">家长手机号</span> <input type="text" class="form-control" value="{{formData.parentprimaryphonenumber}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">紧急联系号码</span> <input type="text" class="form-control" value="{{formData.parentsecondaryphonenumber}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">客户级别</span> <input type="text" class="form-control" value="{{formData.customerlevelname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">客户状态</span> <input type="text" class="form-control" value="{{formData.customerstatusname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">无效客户理由</span> <input type="text" class="form-control" value="{{formData.invalidreasonname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">仅登记一家长</span> <input type="text" class="form-control" value="{{formData.isoneparentname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">学生生日</span> <input type="text" class="form-control" value="{{formData.birthday}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">性别</span> <input type="text" class="form-control" value="{{formData.gendername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">电子邮箱</span> <input type="text" class="form-control" value="{{formData.email}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">证件类型</span> <input type="text" class="form-control" value="{{formData.idtypename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">证件号</span> <input type="text" class="form-control" value="{{formData.idnumber}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">入学年级</span> <input type="text" class="form-control" value="{{formData.entrancegradename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前年级</span> <input type="text" class="form-control" value="{{formData.gradename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">学年制</span> <input type="text" class="form-control" value="{{formData.schoolyearname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">文理科</span> <input type="text" class="form-control" value="{{formData.subjecttypename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">学生类型</span> <input type="text" class="form-control" value="{{formData.studenttypename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">排定1对1数量</span> <input type="text" class="form-control"
				value="{{formData.assetonetooneassignedamount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">排定班组数量</span> <input type="text" class="form-control" value="{{formData.assetclassassignedamount}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">排定1对1价值</span> <input type="text" class="form-control" value="{{formData.assetonetooneassignedmoney}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">排定班组价值</span> <input type="text" class="form-control" value="{{formData.assetclassassignedmoney}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">消耗1对1数量</span> <input type="text" class="form-control"
				value="{{formData.assetonetooneconfirmedamount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">消耗班组数量</span> <input type="text" class="form-control" value="{{formData.assetclassconfirmedamount}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">消耗其他数量</span> <input type="text" class="form-control" value="{{formData.assetotherconfirmedamount}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">消耗1对1价值</span> <input type="text" class="form-control"
				value="{{formData.assetonetooneconfirmedmoney}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">消耗班组价值</span> <input type="text" class="form-control" value="{{formData.assetclassconfirmedmoney}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">消耗其他价值</span> <input type="text" class="form-control" value="{{formData.assetotherconfirmedmoney}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">消耗赠送数量</span> <input type="text" class="form-control" value="{{formData.assetpresentamount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前订购日期</span> <input type="text" class="form-control" value="{{formData.ordertime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前退订日期</span> <input type="text" class="form-control" value="{{formData.debooktime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前排课日期</span> <input type="text" class="form-control" value="{{formData.assigntime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前上课时间</span> <input type="text" class="form-control" value="{{formData.starttime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">1对1上课时间</span> <input type="text" class="form-control" value="{{formData.starttimeofonetoone}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">班组上课时间</span> <input type="text" class="form-control" value="{{formData.starttimeofclass}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前确认时间</span> <input type="text" class="form-control" value="{{formData.confirmtime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">1对1确认时间</span> <input type="text" class="form-control" value="{{formData.confirmtimeofonetoone}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">班组确认时间</span> <input type="text" class="form-control" value="{{formData.confirmtimeofclass}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">月上课科目数量</span> <input type="text" class="form-control" value="{{formData.confirmedsubjectsofrecent}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">本月上课小时数</span> <input type="text" class="form-control" value="{{formData.confirmedhoursofthismonth}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">分派咨询师时间</span> <input type="text" class="form-control" value="{{formData.allocateconsultanttime}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">分配的教师数量</span> <input type="text" class="form-control" value="{{formData.allocateteachercount}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">是否扣减服务费</span> <input type="text" class="form-control" value="{{formData.hasexpense}}" disabled>
		</div>
	</div>
	<div class="col-lg-6 viewFixedWidth">
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">vip客户</span> <input type="text" class="form-control" value="{{formData.viptypename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">vip客户等级</span> <input type="text" class="form-control" value="{{formData.viplevelname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">家长监护人</span> <input type="text" class="form-control" value="{{formData.parentname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">转介绍员工</span> <input type="text" class="form-control" value="{{formData.referralstaffname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">转介绍学员</span> <input type="text" class="form-control" value="{{formData.referralcustomername}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">购买意愿</span> <input type="text" class="form-control" value="{{formData.purchaseintentionname}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前在读学校</span> <input type="text" class="form-control" value="{{formData.schoolname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">是否复读</span> <input type="text" class="form-control" value="{{formData.isstudyagainname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">上门时间</span> <input type="text" class="form-control" value="{{formData.followtime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">跟进方式</span> <input type="text" class="form-control" value="{{formData.contacttypename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">跟进阶段</span> <input type="text" class="form-control" value="{{formData.followstagename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">跟进次数</span> <input type="text" class="form-control" value="{{formData.followedcount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">下次跟进时间</span> <input type="text" class="form-control" value="{{formData.nextfollowtime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">创建者</span> <input type="text" class="form-control" value="{{formData.creatorname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">创建时间</span> <input type="text" class="form-control" value="{{formData.createtime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">跟进人姓名</span> <input type="text" class="form-control" value="{{formData.modifiername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">最后修改时间</span> <input type="text" class="form-control" value="{{formData.modifytime}}" disabled>
		</div>
		<!-- 新增 -->
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">首次签约人</span> <input type="text" class="form-control" value="{{formData.firstsignername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">转介绍学员个数</span> <input type="text" class="form-control" value="{{formData.referralcount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">咨询师姓名</span> <input type="text" class="form-control" value="{{formData.consultantname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">学管师姓名</span> <input type="text" class="form-control" value="{{formData.educatorname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">电销人员姓名</span> <input type="text" class="form-control" value="{{formData.callcentername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">市场人员姓名</span> <input type="text" class="form-control" value="{{formData.marketingname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前账户余额</span> <input type="text" class="form-control" value="{{formData.accountmoney}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">账户折扣率</span> <input type="text" class="form-control" value="{{formData.accountdiscountrate}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">账户折扣基数</span> <input type="text" class="form-control" value="{{formData.accountdiscountbase}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前新签时间</span> <input type="text" class="form-control" value="{{formData.accountnewsigntime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前新签金额</span> <input type="text" class="form-control" value="{{formData.accountnewsignmoney}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前续费时间</span> <input type="text" class="form-control" value="{{formData.accountrenewsigntime}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前续费金额</span> <input type="text" class="form-control" value="{{formData.accountrenewsignmoney}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前充值时间</span> <input type="text" class="form-control" value="{{formData.accountchargetime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前充值金额</span> <input type="text" class="form-control" value="{{formData.accountchargemoney}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前退费时间</span> <input type="text" class="form-control" value="{{formData.accountrefundtime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">当前退费金额</span> <input type="text" class="form-control" value="{{formData.accountrefundmoney}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">累计签约金额</span> <input type="text" class="form-control" value="{{formData.signedmoney}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">累计签约次数</span> <input type="text" class="form-control" value="{{formData.signedcount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">剩余1对1数量</span> <input type="text" class="form-control" value="{{formData.assetonetooneamount}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">剩余班组数量</span> <input type="text" class="form-control" value="{{formData.assetclassamount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">剩余其他数量</span> <input type="text" class="form-control" value="{{formData.assetotheramount}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">剩余1对1金额</span> <input type="text" class="form-control" value="{{formData.assetonetoonemoney}}"
				disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">剩余班组金额</span> <input type="text" class="form-control" value="{{formData.assetclassmoney}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">剩余其他金额</span> <input type="text" class="form-control" value="{{formData.assetothermoney}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">服务费扣减日期</span> <input type="text" class="form-control" value="{{formData.expensetime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">扣减服务费金额</span> <input type="text" class="form-control" value="{{formData.expensefee}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">结课时间</span> <input type="text" class="form-control" value="{{formData.completetime}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">服务首次创建时间</span> <input type="text" class="form-control" value="{{formData.servicecreatetime}}"
				disabled>
		</div>
	</div>
</body>
</html>
