<!DOCTYPE html>
<html ng-app="list">
  <head>
    <title>列表</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
   <!-- 弹出框 -->
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    <!-- 分页 -->
	<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <script type="text/javascript">
var flag = true;
var list = angular.module("list", []);
list.controller("controller",function($scope, $http) {	
	$scope.toInfo=function(data){
parent.setFunctionLinksHref(data.links==null?data._links:data.links);
location.href="info.html";
	}
	$scope.toUpdate=function(data){
parent.setFunctionLinksHref(data.links==null?data._links:data.links);
location.href="update.html";
	}
	$scope.toDelete=function(data){	
parent.setFunctionLinksHref(data.links==null?data._links:data.links);
parent.onPopupDelete();
	}
	$scope.onSearch=function(){
$scope.pageList();
	}
	$scope.changePage=function(){
$scope.pageList();
	}
	$scope.onAdd=function(){
location.href="add.html";
	}
	$scope.pageList = function(){
pageNo = parent.currentPage;
	    var data = {"name":$("#name").val()};
$http({
	url:parent.getMenuLinksHref("ps_teacherteachingslist"),
	method:'POST',
	dataType : "json",
	withCredentials: true,
	headers: {'Content-Type': 'application/json;charset=UTF-8;',"pageNo":pageNo,"pageSize":pageSize,"orderby":"id","dir":"desc"},
	data: JSON.stringify(data)
	}).success(function(data, status, headers, config){
totalCount = headers('totalCount');
pageCount = headers('pageCount');
$scope.datalist= data;
paging();
initPage();
	}).error(function(data, status, headers, config){
response(status);
	});
	}
	$scope.pageList();
	$scope.onDelete = function(){
                $http({
	url:parent.getFunctionLinksHref("self"),
	method:'DELETE',
	dataType : "json",
	withCredentials: true,
	headers: {'Content-Type': 'application/json;charset=UTF-8;'},
	data: ""
	}).success(function(data, status, headers, config){
$scope.pageList();
	}).error(function(data, status, headers, config){
response(status);
	});
}
})

function confirmDeletion(){
	var appElement = document.querySelector('[ng-controller=controller]');
	var $scope = angular.element(appElement).scope();
	$scope.onDelete();
}
	</script>
  </head> 
  <body ng-controller="controller" style="color: #000;">
  	<!-- 基本操作区 -->
  	<h5>
  <span class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ></span>
  <input type="text" id="name" class="form-control" value="" placeholder="请输入需要查找的名称" style="width: 20%;display: inline;">
  <i class="glyphicon glyphicon-remove" onclick="removeSearch()"></i>
  <a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onSearch()" ng-if="isSearchList">搜索</a>
  <a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onAdd()" ng-if="isSava">添加</a>
  	</h5>
  	<!-- 列表区 -->
  	<table class="table">
	  <thead>
	    <tr class="info">
	      <th>序号</th>
	      <th>教师ID</th>
	      <th>年级代码</th>
	      <th>科目代码</th>
	      <th>相关操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="data in datalist"  class='tr{{$index%2+2}}'  ng-class="{selected: $index==selectedRow}">
    <td ng-dblclick="toInfo(data)">{{$index+1}}</td>
	<td ng-dblclick="toInfo(data)">{{data.psTeacherteachings.teacherid}}</td>
	<td ng-dblclick="toInfo(data)">{{data.psTeacherteachings.grade}}</td>
	<td ng-dblclick="toInfo(data)">{{data.psTeacherteachings.subject}}</td>
	<td>
	    <h4 ng-click="toInfo(data)" class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ng-if="isShowInfo" title="查看"></h4>
	    <h4 ng-click="toUpdate(data)" class="glyphicon glyphicon-pencil"  style="margin:0px 5px;color:#99DFF8;"  ng-if="isShowUpdate" title="修改"></h4>
	    <h4 ng-click="toDelete(data)" class="glyphicon glyphicon-remove"  style="margin:0px 5px;color:#99DFF8;"  ng-if="isShowDelete" title="删除"></h4>
	</td>
	    </tr>
	  </tbody>
	</table>
 	<!-- 分页区 -->
	<div class="pagepanel">
<span class="text-info" style="position:relative;top:-10px;">共<label id="totalCount"></label>条</span>
<ul class="pagination" style="margin: 0px 10px;padding:0px;">
</ul>
<span class="text-info" style="position:relative;top:-10px;">第<label id="pageNo"></label>页/共<label id="pageCount"></label>页</span>
<select id="pageSize" class="form-control" style="width: 70px;float: right;">
</select>
<span class="text-info" style="position:relative;top:6px;float: right;margin: 0px 5px;">每页显示</span>
	</div>
  </body>
</html>
