<!DOCTYPE html>
<html ng-app="list">
  <head>
    <title>列表</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
   <!-- 弹出框 -->
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    <!-- 分页 -->
	<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <script type="text/javascript">
		var flag = true;
		var list = angular.module("list", []);
		list.controller("listController",function($scope, $http) {	
			$scope.toInfo=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="info.html";
			}
			$scope.toUpdate=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="update.html";
			}
			$scope.toDelete=function(data){	
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				parent.onPopupDelete();
			}
			$scope.onSearch=function(){
				$scope.pageList();
			}
			$scope.changePage=function(){
				$scope.pageList();
			}
			$scope.onAdd=function(){
				location.href="add.html";
			}
			$scope.pageList = function(){
				pageNo = parent.currentPage;
			    var data = {"name":$("#name").val()};
				$http({
					url:parent.getMenuLinksHref("educatorreport_stafflist"),
					method:'POST',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;',"pageNo":pageNo,"pageSize":pageSize,"orderby":"id","dir":"desc"},
					data: JSON.stringify(data)
					}).success(function(data, status, headers, config){
						totalCount = headers('totalCount');
						pageCount = headers('pageCount');
						$scope.datalist= data;
						paging();
						initPage();
					}).error(function(data, status, headers, config){
						response(status);
					});
			}
			$scope.pageList();
			$scope.onDelete = function(){
                $http({
					url:parent.getFunctionLinksHref("self"),
					method:'DELETE',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
					data: ""
					}).success(function(data, status, headers, config){
						$scope.pageList();
					}).error(function(data, status, headers, config){
						response(status);
					});
				}
		})
		
		function confirmDeletion(){
			var appElement = document.querySelector('[ng-controller=listController]');
			var $scope = angular.element(appElement).scope();
			$scope.onDelete();
		}
	</script>
  </head> 
  <body ng-controller="listController" style="color: #000;">
  	<!-- 基本操作区 -->
  	<h5>
  		<span class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ></span>
  		<input type="text" id="name" class="form-control" value="" placeholder="请输入需要查找的名称" style="width: 20%;display: inline;">
  		<i class="glyphicon glyphicon-remove" onclick="removeSearch()"></i>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onSearch()">搜索</a>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onAdd()">添加</a>
  	</h5>
  	<!-- 列表区 -->
  	<table class="table">
	  <thead>
	    <tr class="info">
	      <th>序号</th>
	      <th>ID</th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th>入职时长</th>
	      <th>归属人数</th>
	      <th>管理人数</th>
	      <th>有效人数</th>
	      <th>上课人数</th>
	      <th>停课人数</th>
	      <th>休学人数</th>
	      <th>退费人数</th>
	      <th>结课人数</th>
	      <th>续费金额</th>
	      <th>续费金额-去年同期</th>
	      <th>续费金额-同比差额</th>
	      <th>续费金额-同比率</th>
	      <th>续费金额-任务</th>
	      <th>完成率-续费金额</th>
	      <th>续费人数</th>
	      <th>续费人数-去年同期</th>
	      <th>续费人数-同比差额</th>
	      <th>续费人数-同比率</th>
	      <th>续费人数-任务</th>
	      <th>续费人数-完成率</th>
	      <th>续费单笔</th>
	      <th>续费单笔-去年同期</th>
	      <th>续费单笔-同比差额</th>
	      <th>续费单笔-同比率</th>
	      <th>退费金额</th>
	      <th>退费金额-去年同期</th>
	      <th>退费金额-同比差额</th>
	      <th>退费金额-同比率</th>
	      <th>退费金额-任务</th>
	      <th>退费金额-完成率</th>
	      <th>退费人数</th>
	      <th>退费人数-去年同期</th>
	      <th>退费人数-同比差额</th>
	      <th>退费人数-同比率</th>
	      <th>退费人数-任务</th>
	      <th>退费人数-完成率</th>
	      <th>课时量</th>
	      <th>课时量-去年同期</th>
	      <th>课时量-同比差额</th>
	      <th>课时量-同比率</th>
	      <th>课时量任务</th>
	      <th>课时量-完成率</th>
	      <th>课时收入</th>
	      <th>课时收入-去年同期</th>
	      <th>课时收入-同比差额</th>
	      <th>课时收入-同比率</th>
	      <th>上课人数</th>
	      <th>上课人数-去年同期</th>
	      <th>上课人数-同比差额</th>
	      <th>上课人数-同比率</th>
	      <th>上课率</th>
	      <th>停课率</th>
	      <th>1对1生均小时</th>
	      <th>1对1生均课时</th>
	      <th>有效生均小时</th>
	      <th>有效生均课时</th>
	      <th>1对1课时量</th>
	      <th>1对1课时量-去年同期</th>
	      <th>1对1课时量-同比差额</th>
	      <th>1对1课时量-同比率</th>
	      <th>1对1课时收入</th>
	      <th>1对1课时收入-去年同期</th>
	      <th>1对1课时收入-同比差额</th>
	      <th>1对1课时收入-同比率</th>
	      <th>1对1上课人数</th>
	      <th>1对1上课人数-去年同期</th>
	      <th>1对1上课人数-同比差额</th>
	      <th>1对1上课人数-同比率</th>
	      <th>班组课时量</th>
	      <th>班组课时量-去年同期</th>
	      <th>班组课时量-同比差额</th>
	      <th>班组课时量-同比率</th>
	      <th>班组课时量-课时量任务</th>
	      <th>班组课时量-完成率</th>
	      <th>班组课时收入</th>
	      <th>班组课时收入-去年同期</th>
	      <th>班组课时收入-同比差额</th>
	      <th>班组课时收入-同比率</th>
	      <th>班组上课人数</th>
	      <th>班组上课人数-去年同期</th>
	      <th>班组上课人数-同比差额</th>
	      <th>班组上课人数-同比率</th>
	      <th>续生率</th>
	      <th>退生率</th>
	      <th>流失率</th>
	      <th>留存率</th>
	      <th>转介绍人数</th>
	      <th>回访人数</th>
	      <th>教学服务会</th>
	      <th>周反馈</th>
	      <th>成绩统计</th>
	      <th>相关操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="data in datalist"  class='tr{{$index%2+2}}'  ng-class="{selected: $index==selectedRow}">
		    <td ng-dblclick="toInfo(data)">{{$index+1}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.id}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.snapshotid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.regionid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.regionshortname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.branchid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.branchshortname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.campusid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.campusshortname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.campusage}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.staffid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.staffname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.staffoacode}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.staffoaname}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.employmentperiod}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.belongnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.managenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.availablenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.assignednumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classsuspendednumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.schoolsuspendednumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundmoneynumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classfinishednumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignmoneyvol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignmoneydiffyoy}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignmoneyyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignmoneytask}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignmoneytcr}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignnumberrask}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignnumbertcr}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignsingle}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignsinglevol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignsingleyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewsignsingleyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundmoney}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundmoneyvol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundmoneyyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundmoneyyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundmoneytask}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundmoneytcr}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundnumbertask}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundnumbertcr}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.assignnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.assignnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.assignnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.assignnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.assignnumbertask}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.assignnumbertcr}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.courseincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.courseincomevol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.courseincomeyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.courseincomeyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.attendnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.attendnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.attendnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.attendnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.attendnumberrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classsuspendedrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneaveragehours}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneaverageassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.availableaveragehours}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.availableaverageassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneassignnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneassignnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneassignnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneassignnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetoonecourseincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetoonecourseincomevol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetoonecourseincomeyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetoonecourseincomeyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneattendnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneattendnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneattendnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.onetooneattendnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classassignnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classassignnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classassignnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classassignnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classassignnumbertask}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classassignnumbertcr}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classcourseincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classcourseincomevol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classcourseincomeyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classcourseincomeyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classattendnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classattendnumbervol}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classattendnumberyoydiff}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.classattendnumberyoyrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.renewrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.refundrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.lossrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.retainedrate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.referralnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.visitnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.meetingnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.replynumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.educatorreportStaff.scorestatistics}}</td>
			<td>
	    		<h4 ng-click="toInfo(data)" class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" title="查看"></h4>
	    		<h4 ng-click="toUpdate(data)" class="glyphicon glyphicon-pencil"  style="margin:0px 5px;color:#99DFF8;" title="修改"></h4>
	    		<h4 ng-click="toDelete(data)" class="glyphicon glyphicon-remove"  style="margin:0px 5px;color:#99DFF8;" title="删除"></h4>
			</td>
	    </tr>
	  </tbody>
	</table>
 	<!-- 分页区 -->
	<div class="pagepanel">
		<span class="text-info" style="position:relative;top:-10px;">共<label id="totalCount"></label>条</span>
		<ul class="pagination" style="margin: 0px 10px;padding:0px;">
		</ul>
		<span class="text-info" style="position:relative;top:-10px;">第<label id="pageNo"></label>页/共<label id="pageCount"></label>页</span>
		<select id="pageSize" class="form-control" style="width: 70px;float: right;">
		</select>
		<span class="text-info" style="position:relative;top:6px;float: right;margin: 0px 5px;">每页显示</span>
	</div>
  </body>
</html>
