<!DOCTYPE html>
<html ng-app="add">
<head>
<title>新增</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- 基础样式 -->
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css" />
<!-- 基础js -->
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 表单验证 -->
<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js"></script>
<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
<!-- datetime -->
<script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../resource/js/date/js/eap.util.date.js"></script>
<!-- 初始化 -->
<script type="text/javascript">
	var add = angular.module("add", []);
	add.controller("controller", function($scope, $http) {
		$scope.formData = {};
		$http({
			url : parent.getFunctionLinksHref("self"),
			method : 'GET',
			dataType : "json",
			withCredentials : true,
			headers : {
				'Content-Type' : 'application/json;charset=UTF-8;'
			},
			data : ''
		}).success(function(data, status, headers, config) {
			$scope.formData = data;
		}).error(function(data, status, headers, config) {
			response(status);
		});
		//返回
		$scope.onReturn = function() {
			history.go(-1);
		}
		//保存
		$scope.onPreserved = function() {
			var isValid = $("#saveForm").valid();
			if (isValid) {
				$scope.formData.birthday = $("#birthday").val();
				$http({
					url : parent.getFunctionLinksHref("self"),
					method : 'PUT',
					dataType : "json",
					withCredentials : true,
					headers : {
						'Content-Type' : 'application/json;charset=UTF-8;'
					},
					data : JSON.stringify($scope.formData)
				}).success(function(data, status, headers, config) {
					if (data == 1) {
						location.href = "list.html";
					}
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		}
		$scope.initselect = function() {
			$http({
				url : parent.getMenuLinksHref("dictionarylist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : JSON.stringify([ 900 ])
			}).success(function(data, status, headers, config) {
				$scope.selects = data;
			}).error(function(data, status, headers, config) {
				response(status);
			})
		}
		$scope.initselect();
	})
</script>
</head>

<body ng-controller="controller">
	<form method="post" id="saveForm" action="">
		<!-- 操作按钮操作区 -->
		<div class="col-lg-12 topActionPanel">
			<div>
				<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-if="buttons.post">确 定</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="buttons.cancel">返 回</button>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">登陆名</span> <input type="text" class="form-control required" placeholder="请输入登陆名" name="teacheroacode"
					ng-model="formData.teacheroacode" maxlength="64"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">姓名</span> <input type="text" class="form-control required" placeholder="请输入教师姓名" name="teachername"
					ng-model="formData.teachername" maxlength="64"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">手机号</span> <input type="text" class="form-control required mobile" placeholder="请输入手机号" name="mp"
					ng-model="formData.mp" maxlength="64"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">邮箱</span> <input type="text" class="form-control required" placeholder="请输入邮箱" name="address"
					ng-model="formData.address" maxlength="64"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">地址</span> <input type="text" class="form-control required" placeholder="请输入地址" name="mail"
					ng-model="formData.mail" maxlength="64"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">身份证号</span> <input type="text" class="form-control required" placeholder="请输入身份证" name="idnumber"
					ng-model="formData.idnumber" maxlength="64"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">性别</span> <select class="form-control required" name="gender" ng-model="formData.gender"
					ng-options="data.code as data.name for data in selects | filter: {typecode: '900'}">
					<option value=''>请选择性别</option>
				</select> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm" id="birthdayhidden">
				<span class="input-group-addon text-right spanwidth">出生日期</span>
				<div class="input-group date form_datetime" id="birthdaydate" style="width: 400px;" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input">
					<input class="form-control required" id="birthday" ng-model="formData.birthday" size="14" type="text" value="" readonly> <span
						class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				</div>
				<input type="hidden" id="dtp_input" value="" />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">教授年级</span> <input type="text" class="form-control required" placeholder="请输入教授年级（用逗号分割名称）"
					name="gradememo" ng-model="formData.gradememo" maxlength="500"> <span class="input-group-addon verifyprompt">*</span>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon text-right spanwidth">教授科目</span> <input type="text" class="form-control required" placeholder="请输入教授科目（用逗号分割名称）"
					name="subjectmemo" ng-model="formData.subjectmemo" maxlength="500"> <span class="input-group-addon verifyprompt">*</span>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript">
	$('#birthdaydate').datetimepicker({
		format : 'yyyy-mm-dd',
		language : 'cn',
		weekStart : 1,
		minView : "month",
		todayBtn : 1,
		initialDate : new Date(),
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 0
	});
</script>
</html>
