<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>新增</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getMenuLinksHref("user_operation_logpost"),
    					method:'POST',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			if(data == 1){
    		  				location.href="list.html";
    		  			}
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
			$scope.initselect = function() {
			$http({
				url : parent.getMenuLinksHref("orgregionslist"),
				method : 'POST',
				dataType : "json",
				withCredentials : true,
				headers : {
					'Content-Type' : 'application/json;charset=UTF-8;'
				},
				data : ''
				}).success(function(data, status, headers, config) {
					$scope.selects = data;
				}).error(function(data, status, headers, config) {
					response(status);
				})
			}
		//$scope.initselect();
		})
	</script>
</head>
  
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    		</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">文件ID</span>
	   		 		<select class="form-control required" name="resource_id" ng-model="formData.resource_id" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择文件ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">文件名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入文件名称" name="subject" ng-model="formData.subject" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">应用名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入应用名称" name="application_name" ng-model="formData.application_name" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">程序名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入程序名称" name="program_name" ng-model="formData.program_name" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">流程ID</span>
	   		 		<select class="form-control required" name="process_id" ng-model="formData.process_id" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择流程ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">流程节点ID</span>
	   		 		<select class="form-control required" name="activity_id" ng-model="formData.activity_id" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择流程节点ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">流程节点名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入流程节点名称" name="activity_name" ng-model="formData.activity_name" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">操作者ID</span>
	   		 		<select class="form-control required" name="operator_id" ng-model="formData.operator_id" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择操作者ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作者名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作者名称" name="operator_name" ng-model="formData.operator_name" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">顶级部门ID</span>
	   		 		<select class="form-control required" name="top_dept_id" ng-model="formData.top_dept_id" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择顶级部门ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">顶级部门名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入顶级部门名称" name="top_dept_name" ng-model="formData.top_dept_name" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">真实用户ID</span>
	   		 		<select class="form-control required" name="real_user_id" ng-model="formData.real_user_id" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择真实用户ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">真实用户名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入真实用户名称" name="real_user_name" ng-model="formData.real_user_name" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作时间" name="operate_datetime" ng-model="formData.operate_datetime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作名称" name="operate_name" ng-model="formData.operate_name" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作类型。如添加、修改、删除文件及修改意见与异常处理修改</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作类型。如添加、修改、删除文件及修改意见与异常处理修改" name="operate_type" ng-model="formData.operate_type" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">操作描述</span>
	           		<input type="text" class="form-control required" placeholder="请输入操作描述" name="operate_description" ng-model="formData.operate_description" maxlength="1024">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">客户端类型</span>
	           		<input type="text" class="form-control required" placeholder="请输入客户端类型" name="http_context" ng-model="formData.http_context" maxlength="500">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	   		 		<span class="input-group-addon text-right spanwidth">相关ID</span>
	   		 		<select class="form-control required" name="correlation_id" ng-model="formData.correlation_id" ng-options="data.id as data.name for data in selects">
	   		 			<option value=''>请选择相关ID</option>
	   		 			</select>
	   		 	<span class="input-group-addon verifyprompt">*</span>
	   		 	</div>
	        </div>
    </form>
  </body>
</html>
