<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- datetime -->
	<script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.util.date.js"></script>	
	<!-- 初始化 -->
	<script type="text/javascript">
var add = angular.module("add", []);
add.controller("controller",function($scope, $http) {
	$scope.formData = {};
	$http({
url:parent.getFunctionLinksHref("self"),
method:'GET',
dataType : "json",
withCredentials: true,
headers: {'Content-Type': 'application/json;charset=UTF-8;'},
data: ''
}).success(function(data, status, headers, config){
	$scope.formData= data
}).error(function(data, status, headers, config){
	response(status);
});
	$scope.onReturn=function(){
history.go(-1);
	}
	$scope.onPreserved=function(){
var isValid = $("#saveForm").valid();
	if(isValid){
    $http({
    	url:parent.getFunctionLinksHref("self"),
    	method:'PUT',
    	dataType : "json",
    	withCredentials: true,
    	headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    	data: JSON.stringify($scope.formData)
      }).success(function(data, status, headers, config){
      	location.href="list.html";
      }).error(function(data, status, headers, config){
      	response(status);
	})
    	}
	}
	$scope.initselect = function() {
$http({
	url : parent.getMenuLinksHref("dictionarylist"),
	method : 'POST',
	dataType : "json",
	withCredentials : true,
	headers : {
'Content-Type' : 'application/json;charset=UTF-8;'
	},
	data : JSON.stringify([20])
	}).success(function(data, status, headers, config) {
$scope.selects = data;
	}).error(function(data, status, headers, config) {
response(status);
	})
}
	$scope.initselect();
})
	</script>
</head>
  <body ng-controller="controller">
  	<form method="post" id="saveForm" action="">
   <!-- 操作按钮操作区 -->
   <div class="col-lg-12 topActionPanel">
	        <div>
    	<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-show="isPost">确 定</button>
	    	</div>
	    	<div>
    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-show="isCancel">返 回</button>
	    	</div>
    	</div>
   <div class="col-lg-6">
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">区域ID</span>
	    <select class="form-control required" name="regionid" ng-model="formData.regionid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择区域ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">分工司ID</span>
	    <select class="form-control required" name="branchid" ng-model="formData.branchid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择分工司ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">校区ID</span>
	    <select class="form-control required" name="campusid" ng-model="formData.campusid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择校区ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">年份</span>
	           <input type="text" class="form-control required" placeholder="请输入年份" name="year" ng-model="formData.year" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">月份</span>
	           <input type="text" class="form-control required" placeholder="请输入月份" name="month" ng-model="formData.month" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上课人数</span>
	           <input type="text" class="form-control required" placeholder="请输入上课人数" name="classpeoplecount" ng-model="formData.classpeoplecount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期初有效</span>
	           <input type="text" class="form-control required" placeholder="请输入期初有效" name="initialeffective" ng-model="formData.initialeffective" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">新增有效</span>
	           <input type="text" class="form-control required" placeholder="请输入新增有效" name="neweffective" ng-model="formData.neweffective" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">上课小时数</span>
	           <input type="text" class="form-control required" placeholder="请输入上课小时数" name="classhours" ng-model="formData.classhours" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">期末有效</span>
	           <input type="text" class="form-control required" placeholder="请输入期末有效" name="finaleffective" ng-model="formData.finaleffective" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">续费人数</span>
	           <input type="text" class="form-control required" placeholder="请输入续费人数" name="renewalcount" ng-model="formData.renewalcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">结课人数</span>
	           <input type="text" class="form-control required" placeholder="请输入结课人数" name="endclasscount" ng-model="formData.endclasscount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退费人数</span>
	           <input type="text" class="form-control required" placeholder="请输入退费人数" name="refundcount" ng-model="formData.refundcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">剩余课时小于20的学员</span>
	           <input type="text" class="form-control required" placeholder="请输入剩余课时小于20的学员" name="remaininghourscount" ng-model="formData.remaininghourscount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">休学预警</span>
	           <input type="text" class="form-control required" placeholder="请输入休学预警" name="outschoolwarningcount" ng-model="formData.outschoolwarningcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">停课预警</span>
	           <input type="text" class="form-control required" placeholder="请输入停课预警" name="closedwarningcount" ng-model="formData.closedwarningcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退费预警</span>
	           <input type="text" class="form-control required" placeholder="请输入退费预警" name="refundwarningcount" ng-model="formData.refundwarningcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">待回访的学员</span>
	           <input type="text" class="form-control required" placeholder="请输入待回访的学员" name="waitvisitingcount" ng-model="formData.waitvisitingcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">待周反馈的学员</span>
	           <input type="text" class="form-control required" placeholder="请输入待周反馈的学员" name="waitweekfeedbackcount" ng-model="formData.waitweekfeedbackcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">待开家长会的学员</span>
	           <input type="text" class="form-control required" placeholder="请输入待开家长会的学员" name="waitmeetingcount" ng-model="formData.waitmeetingcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">待订购</span>
	           <input type="text" class="form-control required" placeholder="请输入待订购" name="waitordercount" ng-model="formData.waitordercount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">生日提醒-今日生日</span>
	           <input type="text" class="form-control required" placeholder="请输入生日提醒-今日生日" name="birthdaytoday" ng-model="formData.birthdaytoday" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">生日提醒-未来15天内生日</span>
	           <input type="text" class="form-control required" placeholder="请输入生日提醒-未来15天内生日" name="birthdayfuture" ng-model="formData.birthdayfuture" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">管理学员</span>
	           <input type="text" class="form-control required" placeholder="请输入管理学员" name="managestudentcount" ng-model="formData.managestudentcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">有效学员</span>
	    <select class="form-control required" name="validstudentcount" ng-model="formData.validstudentcount" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择有效学员</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">新签未上课学员</span>
	           <input type="text" class="form-control required" placeholder="请输入新签未上课学员" name="noclassstudentcount" ng-model="formData.noclassstudentcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">停课学员</span>
	           <input type="text" class="form-control required" placeholder="请输入停课学员" name="closedstudentcount" ng-model="formData.closedstudentcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">休学学员</span>
	           <input type="text" class="form-control required" placeholder="请输入休学学员" name="outschoolstudentcount" ng-model="formData.outschoolstudentcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">单科学员</span>
	           <input type="text" class="form-control required" placeholder="请输入单科学员" name="onlystudentcount" ng-model="formData.onlystudentcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">无订单学员</span>
	           <input type="text" class="form-control required" placeholder="请输入无订单学员" name="noorderstudentcount" ng-model="formData.noorderstudentcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍学员</span>
	           <input type="text" class="form-control required" placeholder="请输入转介绍学员" name="introducecount" ng-model="formData.introducecount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月调换学员</span>
	           <input type="text" class="form-control required" placeholder="请输入本月调换学员" name="switchcount" ng-model="formData.switchcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月接档学员</span>
	           <input type="text" class="form-control required" placeholder="请输入本月接档学员" name="receivecount" ng-model="formData.receivecount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月新增停课</span>
	           <input type="text" class="form-control required" placeholder="请输入本月新增停课" name="newclosedcount" ng-model="formData.newclosedcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月停课激活</span>
	           <input type="text" class="form-control required" placeholder="请输入本月停课激活" name="closedactivationcount" ng-model="formData.closedactivationcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月新增休学</span>
	           <input type="text" class="form-control required" placeholder="请输入本月新增休学" name="newoutschoolcount" ng-model="formData.newoutschoolcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">本月休学激活</span>
	           <input type="text" class="form-control required" placeholder="请输入本月休学激活" name="outschoolactivationcount" ng-model="formData.outschoolactivationcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth"></span>
	           <input type="text" class="form-control required" placeholder="请输入" name="createtime" ng-model="formData.createtime" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
   </div>
    </form>
  </body>
  <script type="text/javascript">
  $('#date').datetimepicker({
  	format : 'yyyy-mm-dd',
  	language : 'cn',
  	weekStart : 1,
  	minView : "month",
  	todayBtn : 1,
  	initialDate:new Date(),
  	autoclose : 1,
  	todayHighlight : 1,
  	startView : 2,
  	forceParse : 0,
  	showMeridian : 0
  });
</html>
