<!DOCTYPE html>
<html ng-app="list">
  <head>
    <title>列表</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/list.css">
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
   <!-- 弹出框 -->
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialog.source.js"></script>
    <script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/iframeTools.source.js"></script>
	<script type="text/javascript" src="../../../../resource/js/artDialog/skins/js/artDialogZJ.js"></script>
    <script type="text/javascript" src="../../../../resource/js/getUrlParam.js"></script>
    <!-- 分页 -->
	<script type="text/javascript" src="../../../../resource/js/paging.js"></script>
	<script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <script type="text/javascript">
		var flag = true;
		var list = angular.module("list", []);
		list.controller("controller",function($scope, $http) {	
			$scope.toInfo=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="info.html";
			}
			$scope.toUpdate=function(data){
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				location.href="update.html";
			}
			$scope.toDelete=function(data){	
				parent.setFunctionLinksHref(data.links==null?data._links:data.links);
				parent.onPopupDelete();
			}
			$scope.onSearch=function(){
				$scope.pageList();
			}
			$scope.changePage=function(){
				$scope.pageList();
			}
			$scope.onAdd=function(){
				location.href="add.html";
			}
			$scope.pageList = function(){
				pageNo = parent.currentPage;
			    var data = {"name":$("#name").val()};
				$http({
					url:parent.getMenuLinksHref("stafftasklist"),
					method:'POST',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;',"pageNo":pageNo,"pageSize":pageSize,"orderby":"id","dir":"desc"},
					data: JSON.stringify(data)
					}).success(function(data, status, headers, config){
						totalCount = headers('totalCount');
						pageCount = headers('pageCount');
						$scope.datalist= data;
						paging();
						initPage();
					}).error(function(data, status, headers, config){
						response(status);
					});
			}
			$scope.pageList();
			$scope.onDelete = function(){
                $http({
					url:parent.getFunctionLinksHref("self"),
					method:'DELETE',
					dataType : "json",
					withCredentials: true,
					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
					data: ""
					}).success(function(data, status, headers, config){
						$scope.pageList();
					}).error(function(data, status, headers, config){
						response(status);
					});
				}
		})
		
		function confirmDeletion(){
			var appElement = document.querySelector('[ng-controller=controller]');
			var $scope = angular.element(appElement).scope();
			$scope.onDelete();
		}
	</script>
  </head> 
  <body ng-controller="controller" style="color: #000;">
  	<!-- 基本操作区 -->
  	<h5>
  		<span class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ></span>
  		<input type="text" id="name" class="form-control" value="" placeholder="请输入需要查找的名称" style="width: 20%;display: inline;">
  		<i class="glyphicon glyphicon-remove" onclick="removeSearch()"></i>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onSearch()" ng-show="isSearchList">搜索</a>
  		<a class="btn btn-primary" style="margin: 0px auto;width: 80px;"  href="#" role="button" ng-click="onAdd()" ng-show="isSava">添加</a>
  	</h5>
  	<!-- 列表区 -->
  	<table class="table">
	  <thead>
	    <tr class="info">
	      <th>序号</th>
	      <th>ID</th>
	      <th>员工ID</th>
	      <th>校区ID</th>
	      <th>员工任务信息的本地日期</th>
	      <th>咨询师新签金额月度任务</th>
	      <th>学管师新签金额每日任务</th>
	      <th>学管师新签金额每周任务</th>
	      <th>教师新签金额每日任务</th>
	      <th>咨询师新签人数月度任务</th>
	      <th>学管师新签人数每日任务</th>
	      <th>学管师新签人数每周任务</th>
	      <th>教师新签人数每日任务</th>
	      <th>咨询师续费金额月度任务</th>
	      <th>学管师续费金额每日任务</th>
	      <th>学管师续费金额每周任务</th>
	      <th>教师续费金额每日任务</th>
	      <th>咨询师续费人数月度任务</th>
	      <th>学管师续费人数每日任务</th>
	      <th>学管师续费人数每周任务</th>
	      <th>教师续费人数每日任务</th>
	      <th>咨询师退款金额月度任务</th>
	      <th>学管师退费金额每日任务</th>
	      <th>学管师退费金额每周任务</th>
	      <th>教师退费金额每日任务</th>
	      <th>咨询师退费人数月度任务</th>
	      <th>学管师退费人数每日任务</th>
	      <th>学管师退费人数每周任务</th>
	      <th>教师退费人数每日任务</th>
	      <th>咨询师总收入月度任务</th>
	      <th>学管师总收入每日任务</th>
	      <th>学管师总收入每周任务</th>
	      <th>教师总收入每日任务</th>
	      <th>咨询师总课收月度任务</th>
	      <th>学管师总课收每日任务</th>
	      <th>学管师总课收每周任务</th>
	      <th>教师总课收每日任务</th>
	      <th>咨询师一对一课收月度任务</th>
	      <th>学管师一对一课收每日任务</th>
	      <th>学管师一对一课收每周任务</th>
	      <th>教师一对一课收每日任务</th>
	      <th>咨询师班组课收月度任务</th>
	      <th>学管师班组课收每日任务</th>
	      <th>学管师班组课收每周任务</th>
	      <th>教师班组课收每日任务</th>
	      <th>咨询师其它课收月度任务</th>
	      <th>学管师其它课收每日任务</th>
	      <th>学管师其它课收每周任务</th>
	      <th>教师其它课收每日任务</th>
	      <th>咨询师总课时月度任务</th>
	      <th>学管师总课时每日任务</th>
	      <th>学管师总课时每周任务</th>
	      <th>教师总课时每日任务</th>
	      <th>咨询师一对一课时月度任务</th>
	      <th>学管师一对一课时每日任务</th>
	      <th>学管师一对一课时每周任务</th>
	      <th>教师一对一课时每日任务</th>
	      <th>咨询师班组课时月度任务</th>
	      <th>学管师班组课时每日任务</th>
	      <th>咨询师班组课时每周任务</th>
	      <th>教师班组课时每日任务</th>
	      <th>咨询师停课激活人数月度任务</th>
	      <th>学管师停课激活人数每日任务</th>
	      <th>学管师停课激活人数每周任务</th>
	      <th>教师停课激活人数每日任务</th>
	      <th>相关操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="data in datalist"  class='tr{{$index%2+2}}'  ng-class="{selected: $index==selectedRow}">
		    <td ng-dblclick="toInfo(data)">{{$index+1}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.id}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.staffid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.campusid}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.statlocaldate}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlynewchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailynewchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklynewchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailynewchargeamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlynewchargenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailynewchargenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklynewchargenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailynewchargenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyrenewamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyrenewamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyrenewamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyrenewamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyrenewnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyrenewnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyrenewnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyrenewnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyrefundamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyrefundamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyrefundamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyrefundamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyrefundnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyrefundnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyrefundnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyrefundnumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlytotalincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailytotalincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklytotalincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailytotalincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlytotalassignedincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailytotalassignedincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklytotalassignedincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailytotalassignedincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyonetooneincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyonetooneincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyonetooneincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyonetooneincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyclassgroupincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyclassgroupincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyclassgroupincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyclassgroupincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyotherincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyotherincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyotherincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyotherincome}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlytotalassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailytotalassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklytotalassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailytotalassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyonetooneassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyonetooneassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyonetooneassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyonetooneassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyclassgroupassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyclassgroupassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyclassgroupassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyclassgroupassignedamount}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.consultantmonthlyreactivenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatordailyreactivenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.educatorweeklyreactivenumber}}</td>
			<td ng-dblclick="toInfo(data)">{{data.stafftask.teacherdailyreactivenumber}}</td>
			<td>
	    		<h4 ng-click="toInfo(data)" class="glyphicon glyphicon-search"  style="margin:0px 5px;color:#99DFF8;" ng-show="isShowInfo" title="查看"></h4>
	    		<h4 ng-click="toUpdate(data)" class="glyphicon glyphicon-pencil"  style="margin:0px 5px;color:#99DFF8;"  ng-show="isShowUpdate" title="修改"></h4>
	    		<h4 ng-click="toDelete(data)" class="glyphicon glyphicon-remove"  style="margin:0px 5px;color:#99DFF8;"  ng-show="isShowDelete" title="删除"></h4>
			</td>
	    </tr>
	  </tbody>
	</table>
 	<!-- 分页区 -->
	<div class="pagepanel">
		<span class="text-info" style="position:relative;top:-10px;">共<label id="totalCount"></label>条</span>
		<ul class="pagination" style="margin: 0px 10px;padding:0px;">
		</ul>
		<span class="text-info" style="position:relative;top:-10px;">第<label id="pageNo"></label>页/共<label id="pageCount"></label>页</span>
		<select id="pageSize" class="form-control" style="width: 70px;float: right;">
		</select>
		<span class="text-info" style="position:relative;top:6px;float: right;margin: 0px 5px;">每页显示</span>
	</div>
  </body>
</html>
