<!DOCTYPE html>
<html ng-app="info">
  <head>
    <title>查看</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <!-- 初始化 -->
    <script type="text/javascript">
var info = angular.module("info", []);
info.controller("controller",function($scope, $http) {
	//返回
	$scope.onReturn=function(){
history.go(-1);
	}
	$http({
url:parent.getFunctionLinksHref("self"),
method:'GET',
dataType : "json",
withCredentials: true,
headers: {'Content-Type': 'application/json;charset=UTF-8;'},
data: ''
}).success(function(data, status, headers, config){
	$scope.formData= data;
}).error(function(data, status, headers, config){
	response(status);
});
})
	</script>
  </head>
  <body ng-controller="controller">
   <div class="col-lg-12 topActionPanel">
	        <div>
	    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
    </div>
    	</div>
   <div class="col-lg-6 viewFixedWidth">
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">申请单ID</span>
           	<input type="text" class="form-control" value="{{formData.applyid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">支付单号</span>
           	<input type="text" class="form-control" value="{{formData.payno}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">支付时间（统一的付款时间）</span>
           	<input type="text" class="form-control" value="{{formData.paytime}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">支付类型（现金，支票...）</span>
           	<input type="text" class="form-control" value="{{formData.paytype}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">小票号</span>
           	<input type="text" class="form-control" value="{{formData.payticket}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">支付状态（0-未支付，1-已支付）</span>
           	<input type="text" class="form-control" value="{{formData.paystatus}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">支付金额</span>
           	<input type="text" class="form-control" value="{{formData.paymoney}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">支付说明</span>
           	<input type="text" class="form-control" value="{{formData.paymemo}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">输入时间（来自界面输入）</span>
           	<input type="text" class="form-control" value="{{formData.inputtime}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">刷卡时间（来自刷卡记录表）</span>
           	<input type="text" class="form-control" value="{{formData.swipetime}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">打印状态（0-未打印，1-已打印）</span>
           	<input type="text" class="form-control" value="{{formData.printstatus}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">回款人</span>
           	<input type="text" class="form-control" value="{{formData.salesman}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">付款人（默认家长姓名）</span>
           	<input type="text" class="form-control" value="{{formData.payer}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">收款人ID</span>
           	<input type="text" class="form-control" value="{{formData.payeeid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">收款人姓名</span>
           	<input type="text" class="form-control" value="{{formData.payeename}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">收款人岗位ID</span>
           	<input type="text" class="form-control" value="{{formData.payeejobid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">收款人岗位名称</span>
           	<input type="text" class="form-control" value="{{formData.payeejobname}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">对账人ID</span>
           	<input type="text" class="form-control" value="{{formData.checkerid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">对账人姓名</span>
           	<input type="text" class="form-control" value="{{formData.checkername}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">对账人岗位ID</span>
           	<input type="text" class="form-control" value="{{formData.checkerjobid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">对账人岗位姓名</span>
           	<input type="text" class="form-control" value="{{formData.checkerjobname}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">对账状态（0-未对帐，1-已对账）</span>
           	<input type="text" class="form-control" value="{{formData.checkstatus}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">对账日期</span>
           	<input type="text" class="form-control" value="{{formData.checktime}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">创建人ID</span>
           	<input type="text" class="form-control" value="{{formData.creatorid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">创建人姓名</span>
           	<input type="text" class="form-control" value="{{formData.creatorname}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">创建时间</span>
           	<input type="text" class="form-control" value="{{formData.createtime}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">最后修改人ID</span>
           	<input type="text" class="form-control" value="{{formData.modifierid}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">最后修改人姓名</span>
           	<input type="text" class="form-control" value="{{formData.modifiername}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">最后修改时间</span>
           	<input type="text" class="form-control" value="{{formData.modifytime}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">是否已同步（0未同步，1已同步,2无需同步）</span>
           	<input type="text" class="form-control" value="{{formData.issyn}}" disabled>
           </div>
    <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">同步时间</span>
           	<input type="text" class="form-control" value="{{formData.syntime}}" disabled>
           </div>
   	</div>
  </body>
</html>
