<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- datetime -->
	<script type="text/javascript" src="../../../../resource/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../../../resource/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.util.date.js"></script>	
	<!-- 初始化 -->
	<script type="text/javascript">
var add = angular.module("add", []);
add.controller("addController",function($scope, $http) {
	$scope.formData = {};
	$http({
url:parent.getFunctionLinksHref("self"),
method:'GET',
dataType : "json",
withCredentials: true,
headers: {'Content-Type': 'application/json;charset=UTF-8;'},
data: ''
}).success(function(data, status, headers, config){
	$scope.formData= data
}).error(function(data, status, headers, config){
	response(status);
});
	$scope.onReturn=function(){
history.go(-1);
	}
	$scope.onPreserved=function(){
var isValid = $("#saveForm").valid();
	if(isValid){
    $http({
    	url:parent.getFunctionLinksHref("self"),
    	method:'PUT',
    	dataType : "json",
    	withCredentials: true,
    	headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    	data: JSON.stringify($scope.formData)
      }).success(function(data, status, headers, config){
      	location.href="list.html";
      }).error(function(data, status, headers, config){
      	response(status);
	})
    	}
	}
	$scope.initselect = function() {
$http({
	url : parent.getMenuLinksHref("dictionarylist"),
	method : 'POST',
	dataType : "json",
	withCredentials : true,
	headers : {
'Content-Type' : 'application/json;charset=UTF-8;'
	},
	data : JSON.stringify([20])
	}).success(function(data, status, headers, config) {
$scope.selects = data;
	}).error(function(data, status, headers, config) {
response(status);
	})
}
	$scope.initselect();
})
	</script>
</head>
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
   <!-- 操作按钮操作区 -->
   <div class="col-lg-12 topActionPanel">
	        <div>
    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    	</div>
   <div class="col-lg-6">
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">归属组织机构ID</span>
	    <select class="form-control required" name="orgid" ng-model="formData.orgid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择归属组织机构ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">组织机构名称</span>
	           <input type="text" class="form-control required" placeholder="请输入组织机构名称" name="orgname" ng-model="formData.orgname" maxlength="128">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">归属组织机构类型</span>
	           <input type="text" class="form-control required" placeholder="请输入归属组织机构类型" name="orgtype" ng-model="formData.orgtype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">校区ID</span>
	    <select class="form-control required" name="campusid" ng-model="formData.campusid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择校区ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">校区名称</span>
	           <input type="text" class="form-control required" placeholder="请输入校区名称" name="campusname" ng-model="formData.campusname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">客户ID命名规则：家长P+年份后两位+月+日+999999，学生S+年份后两位+月份+日期+999999</span>
	           <input type="text" class="form-control required" placeholder="请输入客户ID命名规则：家长P+年份后两位+月+日+999999，学生S+年份后两位+月份+日期+999999" name="customercode" ng-model="formData.customercode" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">客户名称</span>
	           <input type="text" class="form-control required" placeholder="请输入客户名称" name="customername" ng-model="formData.customername" maxlength="128">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">客户级别（A1,A2,A3...）</span>
	           <input type="text" class="form-control required" placeholder="请输入客户级别（A1,A2,A3...）" name="customerlevel" ng-model="formData.customerlevel" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">无效客户理由代码（参考跟进）</span>
	    <select class="form-control required" name="invalidreason" ng-model="formData.invalidreason" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择无效客户理由代码（参考跟进）</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">客户状态(C_Code_Abbr_BO_CTI_CustomerStatus)1=未确认客户信息, 2 = 确认客户信息, 9=无效用户（逻辑删除）,10=正式学员</span>
	           <input type="text" class="form-control required" placeholder="请输入客户状态(C_Code_Abbr_BO_CTI_CustomerStatus)1=未确认客户信息, 2 = 确认客户信息, 9=无效用户（逻辑删除）,10=正式学员" name="customerstatus" ng-model="formData.customerstatus" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否仅登记一个家长</span>
	           <input type="text" class="form-control required" placeholder="请输入是否仅登记一个家长" name="isoneparent" ng-model="formData.isoneparent" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生描述</span>
	           <input type="text" class="form-control required" placeholder="请输入学生描述" name="describes" ng-model="formData.describes" maxlength="500">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生生日</span>
	           <input type="text" class="form-control required" placeholder="请输入学生生日" name="birthday" ng-model="formData.birthday" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">性别(C_CODE_ABBR_GENDER)。1--男，2--女</span>
	           <input type="text" class="form-control required" placeholder="请输入性别(C_CODE_ABBR_GENDER)。1--男，2--女" name="gender" ng-model="formData.gender" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">电子邮箱</span>
	           <input type="text" class="form-control required" placeholder="请输入电子邮箱" name="email" ng-model="formData.email" maxlength="255">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">证件类型(C_CODE_ABBR_BO_Customer_CertificateType)</span>
	    <select class="form-control required" name="idtype" ng-model="formData.idtype" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择证件类型(C_CODE_ABBR_BO_Customer_CertificateType)</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">证件号</span>
	    <select class="form-control required" name="idnumber" ng-model="formData.idnumber" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择证件号</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">vip客户(C_CODE_ABBR_CUSTOMER_VipType)。1:关系vip客户 2:大单vip客户</span>
	           <input type="text" class="form-control required" placeholder="请输入vip客户(C_CODE_ABBR_CUSTOMER_VipType)。1:关系vip客户 2:大单vip客户" name="viptype" ng-model="formData.viptype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">vip客户等级（C_CODE_ABBR_CUSTOMER_VipLevel）。1:A级 2:B级 3:C级</span>
	           <input type="text" class="form-control required" placeholder="请输入vip客户等级（C_CODE_ABBR_CUSTOMER_VipLevel）。1:A级 2:B级 3:C级" name="viplevel" ng-model="formData.viplevel" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">入学大年级。对应类别C_CODE_ABBR_CUSTOMER_GRADE（年级）</span>
	           <input type="text" class="form-control required" placeholder="请输入入学大年级。对应类别C_CODE_ABBR_CUSTOMER_GRADE（年级）" name="entrancegrade" ng-model="formData.entrancegrade" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">当前年级。年级(C_CODE_ABBR_CUSTOMER_GRADE)</span>
	           <input type="text" class="form-control required" placeholder="请输入当前年级。年级(C_CODE_ABBR_CUSTOMER_GRADE)" name="grade" ng-model="formData.grade" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学年制(C_CODE_ABBR_ACDEMICYEAR)</span>
	           <input type="text" class="form-control required" placeholder="请输入学年制(C_CODE_ABBR_ACDEMICYEAR)" name="schoolyear" ng-model="formData.schoolyear" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">文理科(C_CODE_ABBR_STUDENTBRANCH)。1:文科，2:理科，3:不分科</span>
	           <input type="text" class="form-control required" placeholder="请输入文理科(C_CODE_ABBR_STUDENTBRANCH)。1:文科，2:理科，3:不分科" name="subjecttype" ng-model="formData.subjecttype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">学生类型(C_CODE_ABBR_CUSTOMER_STUDENTTYPE)，默认51</span>
	           <input type="text" class="form-control required" placeholder="请输入学生类型(C_CODE_ABBR_CUSTOMER_STUDENTTYPE)，默认51" name="studenttype" ng-model="formData.studenttype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">接触方式(C_CODE_ABBR_Customer_CRM_NewContactType)。"1：呼入 2：呼出 3：直访 4：在线咨询-乐语 5：在线咨询-其他"</span>
	           <input type="text" class="form-control required" placeholder="请输入接触方式(C_CODE_ABBR_Customer_CRM_NewContactType)。"1：呼入 2：呼出 3：直访 4：在线咨询-乐语 5：在线咨询-其他"" name="contacttype" ng-model="formData.contacttype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">信息来源一级分类(C_Code_Abbr_BO_Customer_Source)</span>
	           <input type="text" class="form-control required" placeholder="请输入信息来源一级分类(C_Code_Abbr_BO_Customer_Source)" name="sourcemaintype" ng-model="formData.sourcemaintype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">信息来源二级分类(C_Code_Abbr_BO_Customer_Source)</span>
	           <input type="text" class="form-control required" placeholder="请输入信息来源二级分类(C_Code_Abbr_BO_Customer_Source)" name="sourcesubtype" ng-model="formData.sourcesubtype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">来源系统</span>
	           <input type="text" class="form-control required" placeholder="请输入来源系统" name="sourcesystem" ng-model="formData.sourcesystem" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">转介绍员工ID</span>
	    <select class="form-control required" name="referralstaffid" ng-model="formData.referralstaffid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择转介绍员工ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍员工姓名</span>
	           <input type="text" class="form-control required" placeholder="请输入转介绍员工姓名" name="referralstaffname" ng-model="formData.referralstaffname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">转介绍员工岗位ID</span>
	    <select class="form-control required" name="referralstaffjobid" ng-model="formData.referralstaffjobid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择转介绍员工岗位ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍员工岗位名称</span>
	           <input type="text" class="form-control required" placeholder="请输入转介绍员工岗位名称" name="referralstaffjobname" ng-model="formData.referralstaffjobname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍员工OA编号</span>
	           <input type="text" class="form-control required" placeholder="请输入转介绍员工OA编号" name="referralstaffoacode" ng-model="formData.referralstaffoacode" maxlength="128">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">转介绍学员ID</span>
	    <select class="form-control required" name="referralcustomerid" ng-model="formData.referralcustomerid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择转介绍学员ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍学员编码</span>
	           <input type="text" class="form-control required" placeholder="请输入转介绍学员编码" name="referralcustomercode" ng-model="formData.referralcustomercode" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">转介绍学员姓名</span>
	           <input type="text" class="form-control required" placeholder="请输入转介绍学员姓名" name="referralcustomername" ng-model="formData.referralcustomername" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">购买意愿(C_CODE_ABBR_Customer_CRM_PurchaseIntent)</span>
	           <input type="text" class="form-control required" placeholder="请输入购买意愿(C_CODE_ABBR_Customer_CRM_PurchaseIntent)" name="purchaseintention" ng-model="formData.purchaseintention" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">当前在读学校ID（非学大）</span>
	    <select class="form-control required" name="schoolid" ng-model="formData.schoolid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择当前在读学校ID（非学大）</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">当前在读学校名称（非学大）</span>
	           <input type="text" class="form-control required" placeholder="请输入当前在读学校名称（非学大）" name="schoolname" ng-model="formData.schoolname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否复读</span>
	           <input type="text" class="form-control required" placeholder="请输入是否复读" name="isstudyagain" ng-model="formData.isstudyagain" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">当前跟进时间</span>
	           <input type="text" class="form-control required" placeholder="请输入当前跟进时间" name="followtime" ng-model="formData.followtime" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">跟进阶段（销售阶段）</span>
	           <input type="text" class="form-control required" placeholder="请输入跟进阶段（销售阶段）" name="followstage" ng-model="formData.followstage" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">跟进次数</span>
	           <input type="text" class="form-control required" placeholder="请输入跟进次数" name="followedcount" ng-model="formData.followedcount" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">预计下次跟进时间</span>
	           <input type="text" class="form-control required" placeholder="请输入预计下次跟进时间" name="nextfollowtime" ng-model="formData.nextfollowtime" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">创建者ID</span>
	    <select class="form-control required" name="creatorid" ng-model="formData.creatorid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择创建者ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建者名称</span>
	           <input type="text" class="form-control required" placeholder="请输入创建者名称" name="creatorname" ng-model="formData.creatorname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">建档人岗位ID</span>
	    <select class="form-control required" name="creatorjobid" ng-model="formData.creatorjobid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择建档人岗位ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">建档人岗位名称</span>
	           <input type="text" class="form-control required" placeholder="请输入建档人岗位名称" name="creatorjobname" ng-model="formData.creatorjobname" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth"></span>
	           <input type="text" class="form-control required" placeholder="请输入" name="creatorjobtype" ng-model="formData.creatorjobtype" maxlength="32">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建时间</span>
	           <input type="text" class="form-control required" placeholder="请输入创建时间" name="createtime" ng-model="formData.createtime" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	    <span class="input-group-addon text-right spanwidth">最后修改人ID</span>
	    <select class="form-control required" name="modifierid" ng-model="formData.modifierid" ng-options="data.code as data.name for data in selects  | filter: {typecode: '20'}">
	    	<option value=''>请选择最后修改人ID</option>
	    	</select>
	    	<span class="input-group-addon verifyprompt">*</span>
	    	</div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改人姓名</span>
	           <input type="text" class="form-control required" placeholder="请输入最后修改人姓名" name="modifiername" ng-model="formData.modifiername" maxlength="64">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改时间</span>
	           <input type="text" class="form-control required" placeholder="请输入最后修改时间" name="modifytime" ng-model="formData.modifytime" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
	    	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">租户的ID</span>
	           <input type="text" class="form-control required" placeholder="请输入租户的ID" name="tenantcode" ng-model="formData.tenantcode" maxlength="">
	        <span class="input-group-addon verifyprompt">*</span>
	        </div>
   </div>
    </form>
  </body>
  <script type="text/javascript">
  $('#date').datetimepicker({
  	format : 'yyyy-mm-dd',
  	language : 'cn',
  	weekStart : 1,
  	minView : "month",
  	todayBtn : 1,
  	initialDate:new Date(),
  	autoclose : 1,
  	todayHighlight : 1,
  	startView : 2,
  	forceParse : 0,
  	showMeridian : 0
  });
</html>
