<!DOCTYPE html>
<html ng-app="info">
<head>
<title>查看</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- 基础样式 -->
<link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
<!-- 基础js -->
<script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../resource/js/response.js"></script>
<!-- 初始化 -->
<script type="text/javascript">
	var info = angular.module("info", []);
	info.controller("controller", function($scope, $http) {
		//返回
		$scope.onReturn = function() {
			history.go(-1);
		}
		$http({
			url : parent.getFunctionLinksHref("self"),
			method : 'GET',
			dataType : "json",
			withCredentials : true,
			headers : {
				'Content-Type' : 'application/json;charset=UTF-8;'
			},
			data : ''
		}).success(function(data, status, headers, config) {
			$scope.formData = data;
		}).error(function(data, status, headers, config) {
			response(status);
		});
	})
</script>
</head>
<body ng-controller="controller">
	<div class="col-lg-12 topActionPanel">
		<div>
			<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
		</div>
	</div>
	<div class="col-lg-6 viewFixedWidth">
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">家长名称</span> <input type="text" class="form-control" value="{{formData.parentname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">手机号</span> <input type="text" class="form-control" value="{{formData.mp}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">性别</span> <input type="text" class="form-control" value="{{formData.gendername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">邮箱</span> <input type="text" class="form-control" value="{{formData.email}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">所属行业</span> <input type="text" class="form-control" value="{{formData.industryname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">从事职业</span> <input type="text" class="form-control" value="{{formData.careername}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">家庭年收入</span> <input type="text" class="form-control" value="{{formData.income}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">家长生日</span> <input type="text" class="form-control" value="{{formData.birthday}}" disabled>
		</div>
	</div>
	<div class="col-lg-6 viewFixedWidth">
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">证件类型</span> <input type="text" class="form-control" value="{{formData.idtypename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">证件号码</span> <input type="text" class="form-control" value="{{formData.idnumber}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">省份</span> <input type="text" class="form-control" value="{{formData.provincename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">城市</span> <input type="text" class="form-control" value="{{formData.cityname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">区县</span> <input type="text" class="form-control" value="{{formData.countyname}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">街道名称</span> <input type="text" class="form-control" value="{{formData.streetnamename}}" disabled>
		</div>
		<div class="input-group input-group-sm">
			<span class="input-group-addon text-right spanwidth">完整详细地址</span> <input type="text" class="form-control" value="{{formData.addressdetail}}" disabled>
		</div>
	</div>
</body>
</html>
