<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>新增</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("addController",function($scope, $http) {
			$scope.formData = {};
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			//保存
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getMenuLinksHref("accountchargeinvoicespost"),
    					method:'POST',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			if(data == 1){
    		  				location.href="list.html";
    		  			}
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  
  <body ng-controller="addController">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()">返 回</button>
	    	</div>
    		</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">申请单ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入申请单ID" name="applyid" ng-model="formData.applyid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">发票号</span>
	           		<input type="text" class="form-control required" placeholder="请输入发票号" name="invoiceno" ng-model="formData.invoiceno" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">发票金额</span>
	           		<input type="text" class="form-control required" placeholder="请输入发票金额" name="invoicemoney" ng-model="formData.invoicemoney" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">发票条目</span>
	           		<input type="text" class="form-control required" placeholder="请输入发票条目" name="invoiceclauses" ng-model="formData.invoiceclauses" maxlength="500">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">发票抬头</span>
	           		<input type="text" class="form-control required" placeholder="请输入发票抬头" name="invoiceheader" ng-model="formData.invoiceheader" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">开票时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入开票时间" name="invoicetime" ng-model="formData.invoicetime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">修改说明</span>
	           		<input type="text" class="form-control required" placeholder="请输入修改说明" name="invoicememo" ng-model="formData.invoicememo" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">开票状态（1-正常，2-已退）</span>
	           		<input type="text" class="form-control required" placeholder="请输入开票状态（1-正常，2-已退）" name="invoicestatus" ng-model="formData.invoicestatus" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">是否作废（1-正常，2-作废）</span>
	           		<input type="text" class="form-control required" placeholder="请输入是否作废（1-正常，2-作废）" name="isdiscarded" ng-model="formData.isdiscarded" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退票时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入退票时间" name="returntime" ng-model="formData.returntime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">退票说明</span>
	           		<input type="text" class="form-control required" placeholder="请输入退票说明" name="returnmemo" ng-model="formData.returnmemo" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建人ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建人ID" name="creatorid" ng-model="formData.creatorid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建人姓名" name="creatorname" ng-model="formData.creatorname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建时间" name="createtime" ng-model="formData.createtime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改人ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改人ID" name="modifierid" ng-model="formData.modifierid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改人姓名</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改人姓名" name="modifiername" ng-model="formData.modifiername" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改时间" name="modifytime" ng-model="formData.modifytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	        </div>
    </form>
  </body>
</html>
