<!DOCTYPE html>
<html ng-app="info">
  <head>
    <title>查看</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 基础样式 -->
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
    <!-- 初始化 -->
    <script type="text/javascript">
		var info = angular.module("info", []);
		info.controller("controller",function($scope, $http) {
			//返回
			$scope.onReturn=function(){
				history.go(-1);
			}
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data;
				}).error(function(data, status, headers, config){
					response(status);
				});
		})
	</script>
  </head>
  <body ng-controller="controller">
  		 <div class="col-lg-12 topActionPanel">
	        <div>
	    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
    		</div>
    	</div>
   		<div class="col-lg-6 viewFixedWidth">
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">ID</span>
           	<input type="text" class="form-control" value="{{formData.id}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">大区ID</span>
           	<input type="text" class="form-control" value="{{formData.regionid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">分公司ID</span>
           	<input type="text" class="form-control" value="{{formData.branchid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">校区ID</span>
           	<input type="text" class="form-control" value="{{formData.campusid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">校区名称</span>
           	<input type="text" class="form-control" value="{{formData.campusname}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">员工ID</span>
           	<input type="text" class="form-control" value="{{formData.staffid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">员工OA编码</span>
           	<input type="text" class="form-control" value="{{formData.staffoacode}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">员工姓名</span>
           	<input type="text" class="form-control" value="{{formData.staffname}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">学员ID</span>
           	<input type="text" class="form-control" value="{{formData.customerid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">学员编码</span>
           	<input type="text" class="form-control" value="{{formData.customercode}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">学员姓名</span>
           	<input type="text" class="form-control" value="{{formData.customername}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">当前年级</span>
           	<input type="text" class="form-control" value="{{formData.customergrade}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">学员状态</span>
           	<input type="text" class="form-control" value="{{formData.studentstatus}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">任务类型</span>
           	<input type="text" class="form-control" value="{{formData.tasktype}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">年份</span>
           	<input type="text" class="form-control" value="{{formData.year}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">月份</span>
           	<input type="text" class="form-control" value="{{formData.month}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth">第1日</span>
           	<input type="text" class="form-control" value="{{formData.d01}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d02}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d03}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d04}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d05}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d06}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d07}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d08}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d09}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d10}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d11}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d12}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d13}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d14}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d15}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d16}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d17}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d18}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d19}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d20}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d21}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d22}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d23}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d24}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d25}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d26}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d27}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d28}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d29}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d30}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.d31}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.createtime}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.creatorid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.creatorname}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.creatorjobname}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.modifytime}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.modifierid}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.modifiername}}" disabled>
           </div>
   		 <div class="input-group input-group-sm">
             <span class="input-group-addon text-right spanwidth"></span>
           	<input type="text" class="form-control" value="{{formData.modifierjobname}}" disabled>
           </div>
   	</div>
  </body>
</html>
