<!DOCTYPE html>
<html ng-app="add">
  <head>
    <title>修改</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="../../../resource/img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../resource/js/validate/css/validate.css"/>
    <!-- 基础js -->
    <script type="text/javascript" src="../../../../resource/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../resource/js/response.js"></script>
	<!-- 表单验证 -->
	<script src="../../../../resource/js/date/js/eap.core.js"></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../resource/js/validate/js/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../resource/js/date/js/eap.lang-zh_CN.js"></script>
	<!-- 初始化 -->
	<script type="text/javascript">
		var add = angular.module("add", []);
		add.controller("controller",function($scope, $http) {
			$scope.formData = {};
			$http({
				url:parent.getFunctionLinksHref("self"),
				method:'GET',
				dataType : "json",
				withCredentials: true,
				headers: {'Content-Type': 'application/json;charset=UTF-8;'},
				data: ''
				}).success(function(data, status, headers, config){
					$scope.formData= data
				}).error(function(data, status, headers, config){
					response(status);
				});
			$scope.onReturn=function(){
				history.go(-1);
			}
			$scope.onPreserved=function(){
				var isValid = $("#saveForm").valid();
					if(isValid){
    				$http({
    					url:parent.getFunctionLinksHref("self"),
    					method:'PUT',
    					dataType : "json",
    					withCredentials: true,
    					headers: {'Content-Type': 'application/json;charset=UTF-8;'},
    					data: JSON.stringify($scope.formData)
    		  		}).success(function(data, status, headers, config){
    		  			location.href="list.html";
    		  		}).error(function(data, status, headers, config){
    		  			response(status);
					})
    			}
			}
		})
	</script>
</head>
  <body ng-controller="controller">
  	<form method="post" id="saveForm" action="">
  		 <!-- 操作按钮操作区 -->
  		 <div class="col-lg-12 topActionPanel">
	        <div>
		    	<button type="button" class="btn btn-primary" ng-click="onPreserved()" ng-if="isPost">确 定</button>
	    	</div>
	    	<div>
		    	<button type="button" class="btn btn-primary" ng-click="onReturn()" ng-if="isCancel">返 回</button>
	    	</div>
    	</div>
   		<div class="col-lg-6">
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入ID" name="id" ng-model="formData.id" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">客户ID命名规则：家长P+年份后两位+月+日+999999，学生S+年份后两位+月份+日期+999999</span>
	           		<input type="text" class="form-control required" placeholder="请输入客户ID命名规则：家长P+年份后两位+月+日+999999，学生S+年份后两位+月份+日期+999999" name="parentcode" ng-model="formData.parentcode" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">家长名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入家长名称" name="parentname" ng-model="formData.parentname" maxlength="128">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">性别(C_CODE_ABBR_GENDER)。1--男，2--女</span>
	           		<input type="text" class="form-control required" placeholder="请输入性别(C_CODE_ABBR_GENDER)。1--男，2--女" name="gender" ng-model="formData.gender" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth"></span>
	           		<input type="text" class="form-control required" placeholder="请输入" name="email" ng-model="formData.email" maxlength="255">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">所属行业(C_CODE_ABBR_INDUSTRY)</span>
	           		<input type="text" class="form-control required" placeholder="请输入所属行业(C_CODE_ABBR_INDUSTRY)" name="industry" ng-model="formData.industry" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">从事职业</span>
	           		<input type="text" class="form-control required" placeholder="请输入从事职业" name="career" ng-model="formData.career" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">家庭年收入(C_CODE_ABBR_HOMEINCOME)</span>
	           		<input type="text" class="form-control required" placeholder="请输入家庭年收入(C_CODE_ABBR_HOMEINCOME)" name="income" ng-model="formData.income" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">家长生日</span>
	           		<input type="text" class="form-control required" placeholder="请输入家长生日" name="birthday" ng-model="formData.birthday" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">证件类型(C_CODE_ABBR_BO_Customer_CertificateType)</span>
	           		<input type="text" class="form-control required" placeholder="请输入证件类型(C_CODE_ABBR_BO_Customer_CertificateType)" name="idtype" ng-model="formData.idtype" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">证件号码</span>
	           		<input type="text" class="form-control required" placeholder="请输入证件号码" name="idnumber" ng-model="formData.idnumber" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">国家(C_CODE_ABBR_COUNTRY)。默认是中国1004115</span>
	           		<input type="text" class="form-control required" placeholder="请输入国家(C_CODE_ABBR_COUNTRY)。默认是中国1004115" name="country" ng-model="formData.country" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">省份(C_CODE_ABBR_LOCATION)</span>
	           		<input type="text" class="form-control required" placeholder="请输入省份(C_CODE_ABBR_LOCATION)" name="province" ng-model="formData.province" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">城市(C_CODE_ABBR_LOCATION)</span>
	           		<input type="text" class="form-control required" placeholder="请输入城市(C_CODE_ABBR_LOCATION)" name="city" ng-model="formData.city" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">区县(C_CODE_ABBR_LOCATION)</span>
	           		<input type="text" class="form-control required" placeholder="请输入区县(C_CODE_ABBR_LOCATION)" name="county" ng-model="formData.county" maxlength="32">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">街道名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入街道名称" name="streetname" ng-model="formData.streetname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">完整详细地址</span>
	           		<input type="text" class="form-control required" placeholder="请输入完整详细地址" name="addressdetail" ng-model="formData.addressdetail" maxlength="500">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建者ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建者ID" name="creatorid" ng-model="formData.creatorid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建者名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建者名称" name="creatorname" ng-model="formData.creatorname" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">创建时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入创建时间" name="createtime" ng-model="formData.createtime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改人</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改人" name="modifierid" ng-model="formData.modifierid" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改人名称</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改人名称" name="modifiername" ng-model="formData.modifiername" maxlength="64">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">最后修改时间</span>
	           		<input type="text" class="form-control required" placeholder="请输入最后修改时间" name="modifytime" ng-model="formData.modifytime" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
	   		 	<div class="input-group input-group-sm">
	            	<span class="input-group-addon text-right spanwidth">租户的ID</span>
	           		<input type="text" class="form-control required" placeholder="请输入租户的ID" name="tenantcode" ng-model="formData.tenantcode" maxlength="">
	        		<span class="input-group-addon verifyprompt">*</span>
	       		 </div>
   		</div>
    </form>
  </body>
</html>
